<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="hero-header">
          <div class="eyebrow">Elements</div>
          <h1>Buttons</h1>
        </div>
      </div>
    </div>
  </div>

  <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a href="" du-smooth-scroll="text">Text</a></li>
            <li><a href="" du-smooth-scroll="icon">Icon</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container">

  <div class="row" >
    <div class="col-sm-8">
      <h1 id="text" class="doc-head">Text</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h2 class="doc-sectionhead">Basic Text Buttons</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/ui_components/ios_buttons.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/ui_components/and_buttons.png" alt="" />
      </figure>
    </div>
  </div>


  <div class="row spacer-top-xl spacer-bottom-lg">
    <div class="col-sm-12">
      <h3>Sample Usage</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/products/product_2b/ios_7map.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/products/product_2b/and_7map_expanded_2.png" alt="" />
      </figure>
    </div>
  </div>



  <!-- <div class="row">
    <div class="col-sm-12">
      <h2 class="doc-sectionhead">Borderless Text Button</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" src="http://placehold.it/300x534" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" src="http://placehold.it/300x534" alt="" />
      </figure>
    </div>
  </div> -->





  <div class="row" >
    <div class="col-sm-8">
      <h1 id="icon" class="doc-head">Icon</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h2 class="doc-sectionhead">Basic Icon Buttons</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/product_nav_light/navigation_light.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/product_nav_light/and_product_navigation_light.png" alt="" />
      </figure>
    </div>
  </div>




</div>
