<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="hero-header">
          <div class="eyebrow">Foundation</div>
          <h1>Typography</h1>
        </div>
      </div>
    </div>
  </div>

  <!-- <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a href="" du-smooth-scroll="list-views">List Views</a></li>
            <li><a href="" du-smooth-scroll="grid-views">Grid Views</a></li>
            <li><a href="" du-smooth-scroll="data-tables">Data Tables</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->

</div>




<div class="container">


  <div class="row" >
    <div class="col-sm-8">
      <h1 id="color" class="doc-head">Typography</h1>
    </div>
  </div>

  <div class="row spacer-top-xl">
    <div class="col-sm-4">
      <figure>
        <figcaption>iOS 8</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/foundation_ios_8/ios_typography_8.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>iOS 9</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/foundation_ios_9/ios_typography_9.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/foundation/and_typography.png" alt="" />
      </figure>
    </div>
  </div>


</div>
