<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="hero-header">
          <div class="eyebrow">Elements</div>
          <h1>Lists</h1>
        </div>
      </div>
    </div>
  </div>

  <!-- <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a href="" du-smooth-scroll="list-views">List Views</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->

</div>




<div class="container">


  <div class="row" >
    <div class="col-sm-8">
      <h1 id="list-views" class="doc-head">List Views</h1>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/table_view/ios_table_view1.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/table_view/and_table_view1.png" alt="" />
      </figure>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/table_view/ios_table_view2.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/table_view/and_table_view2.png" alt="" />
      </figure>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/table_view/ios_headers.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/table_view/and_tv_headers.png" alt="" />
      </figure>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/table_view/and_tv_nested_nav.png" alt="" />
      </figure>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/table_view/ios_sorted_nav.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/table_view/and_tv_sorted_nav.png" alt="" />
      </figure>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/products/product_2b/ios_3homepage.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/products/product_2b/and_3homepage_2.png" alt="" />
      </figure>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/products/product_2b/ios_4forms_lists.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/products/product_2b/and_4forms_lists_2.png" alt="" />
      </figure>
    </div>
  </div>


  <div class="row doc-sectionbreak">
    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/products/product_2b/ios_7map.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/products/product_2b/and_7map_expanded_2.png" alt="" />
      </figure>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/products/product_2b/ios_9map.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/products/product_2b/and_9map_search_2.png" alt="" />
      </figure>
    </div>
  </div>


  <div class="row doc-sectionbreak">
    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/products/product_1b/ios_3homepage.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/products/product_1b/and_3homepage.png" alt="" />
      </figure>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/products/product_1b/ios_5create_defect.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/products/product_1b/and_5create_defect.png" alt="" />
      </figure>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/products/product_1b/ios_6create_defect_detail.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/products/product_1b/and_6create_defect_detail.png" alt="" />
      </figure>
    </div>
  </div>

<!--
  <div class="row" >
    <div class="col-sm-8">
      <h1 id="grid-views" class="doc-head">Grid Views</h1>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-sm-4">
      <p>Morbi et nunc et quam tempus maximus ut ac dui. Donec interdum vel felis ac facilisis. Aliquam orci velit, congue nec libero quis, porta pulvinar sem. Etiam a sagittis dolor. Fusce laoreet congue nulla. Proin vulputate leo sed turpis tincidunt, ut pellentesque elit cursus. Phasellus iaculis nisi erat, id hendrerit lacus feugiat at. Donec lacinia sapien et semper placerat.</p>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" src="http://placehold.it/300x250" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" src="http://placehold.it/300x250" alt="" />
      </figure>
    </div>
  </div>




  <div class="row" >
    <div class="col-sm-8">
      <h1 id="data-tables" class="doc-head">Data Tables</h1>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-sm-4">
      <p>Morbi et nunc et quam tempus maximus ut ac dui. Donec interdum vel felis ac facilisis. Aliquam orci velit, congue nec libero quis, porta pulvinar sem. Etiam a sagittis dolor. Fusce laoreet congue nulla. Proin vulputate leo sed turpis tincidunt, ut pellentesque elit cursus. Phasellus iaculis nisi erat, id hendrerit lacus feugiat at. Donec lacinia sapien et semper placerat.</p>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" src="http://placehold.it/300x250" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" src="http://placehold.it/300x250" alt="" />
      </figure>
    </div>
  </div> -->



</div>
