<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="hero-header">
          <div class="eyebrow">Patterns</div>
          <h1>Getting Started</h1>
        </div>
      </div>
    </div>
  </div>

  <!-- <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a href="" du-smooth-scroll="one">Sample One</a></li>
            <li><a href="" du-smooth-scroll="two">Sample Two</a></li>
            <li><a href="" du-smooth-scroll="three">Sample Three</a></li>
            <li><a href="" du-smooth-scroll="four">Sample Four</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->

</div>




<div class="container">


  <div class="row" >
    <div class="col-sm-8">
      <h1 id="alerts" class="doc-head">Getting Started</h1>
    </div>
  </div>



  <div class="row" >
    <div class="col-sm-12">
      <h1 class="doc-sectionhead">Full Gradient</h1>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-4">
      <figcaption>iOS</figcaption>
      <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/onboarding/1/ios_mobile_onboarding_1a.png" alt="" />
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/onboarding/1/ios_mobile_onboarding_1b.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/onboarding/1/ios_mobile_onboarding_1c.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/onboarding/1/ios_mobile_onboarding_1d.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/onboarding/1/ios_mobile_onboarding_1e.png" alt="" />
      </figure>
    </div>
  </div>


  <div class="row spacer-top-xl">
    <div class="col-sm-4">
      <figcaption>Android</figcaption>
      <img ng-src="{{mobile.imgpaths.android}}/onboarding/1/mobile_onboarding_1a.png" alt="" />
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/onboarding/1/mobile_onboarding_1b.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/onboarding/1/mobile_onboarding_1c.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/onboarding/1/mobile_onboarding_1d.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/onboarding/1/mobile_onboarding_1e.png" alt="" />
      </figure>
    </div>
  </div>



  <div class="row" >
    <div class="col-sm-12">
      <h1 class="doc-sectionhead">White Panels</h1>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-4">
      <figcaption>iOS</figcaption>
      <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/onboarding/2/ios_mobile_onboarding_2a.png" alt="" />
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/onboarding/2/ios_mobile_onboarding_2b.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/onboarding/2/ios_mobile_onboarding_2c.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/onboarding/2/ios_mobile_onboarding_2d.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/onboarding/2/ios_mobile_onboarding_2e.png" alt="" />
      </figure>
    </div>
  </div>


  <div class="row spacer-top-xl">
    <div class="col-sm-4">
      <figcaption>Android</figcaption>
      <img ng-src="{{mobile.imgpaths.android}}/onboarding/2/mobile_onboarding_2a.png" alt="" />
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/onboarding/2/mobile_onboarding_2b.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/onboarding/2/mobile_onboarding_2c.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/onboarding/2/mobile_onboarding_2d.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/onboarding/2/mobile_onboarding_2e.png" alt="" />
      </figure>
    </div>
  </div>




  <div class="row" >
    <div class="col-sm-12">
      <h1 class="doc-sectionhead">Single Category Illustration</h1>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-4">
      <figcaption>iOS</figcaption>
      <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/onboarding/3/ios_mobile_onboarding_3a.png" alt="" />
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/onboarding/3/ios_mobile_onboarding_3b.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/onboarding/3/ios_mobile_onboarding_3c.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/onboarding/3/ios_mobile_onboarding_3d.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/onboarding/3/ios_mobile_onboarding_3e.png" alt="" />
      </figure>
    </div>
  </div>


  <div class="row spacer-top-xl">
    <div class="col-sm-4">
      <figcaption>Android</figcaption>
      <img ng-src="{{mobile.imgpaths.android}}/onboarding/3/mobile_onboarding_3a.png" alt="" />
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/onboarding/3/mobile_onboarding_3b.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/onboarding/3/mobile_onboarding_3c.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/onboarding/3/mobile_onboarding_3d.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/onboarding/3/mobile_onboarding_3e.png" alt="" />
      </figure>
    </div>
  </div>




  <div class="row" >
    <div class="col-sm-12">
      <h1 class="doc-sectionhead">Category Illustration with Brand Illustrations</h1>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-4">
      <figcaption>iOS</figcaption>
      <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/onboarding/4/ios_mobile_onboarding_4a.png" alt="" />
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/onboarding/4/ios_mobile_onboarding_4b.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/onboarding/4/ios_mobile_onboarding_4c.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/onboarding/4/ios_mobile_onboarding_4d.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/onboarding/4/ios_mobile_onboarding_4e.png" alt="" />
      </figure>
    </div>
  </div>


  <div class="row spacer-top-xl">
    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img ng-src="{{mobile.imgpaths.android}}/onboarding/4/mobile_onboarding_4a.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/onboarding/4/mobile_onboarding_4b.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/onboarding/4/mobile_onboarding_4c.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/onboarding/4/mobile_onboarding_4d.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/onboarding/4/mobile_onboarding_4e.png" alt="" />
      </figure>
    </div>
  </div>


</div>
