<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="hero-header">
          <div class="eyebrow">Patterns</div>
          <h1>Forms</h1>
        </div>
      </div>
    </div>
  </div>

  <!-- <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a href="" du-smooth-scroll="sign-in">Sign In</a></li>
            <li><a href="" du-smooth-scroll="sign-up">Sign Up</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->

</div>




<div class="container">


  <div class="row" >
    <div class="col-sm-8">
      <h1 id="getting-started" class="doc-head">Forms</h1>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" src="{{mobile.imgpaths.ios}}/form/ios_form.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" src="{{mobile.imgpaths.android}}/form/and_form.png" alt="" />
      </figure>
    </div>
  </div>


</div>
