<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="hero-header">
          <div class="eyebrow">Elements</div>
          <h1>Modals &amp; Popovers</h1>
        </div>
      </div>
    </div>
  </div>

  <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a href="" du-smooth-scroll="modals">Modals</a></li>
            <li><a href="" du-smooth-scroll="popovers">Popovers</a></li>
            <li><a href="" du-smooth-scroll="sheets">Sheets</a></li>
            <li><a href="" du-smooth-scroll="map-markers">Map Markers</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>




<div class="container">


  <div class="row" >
    <div class="col-sm-8">
      <h1 id="modals" class="doc-head">Modals</h1>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/alerts_modals/ios_modal1.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/alerts_modals/ios_modal2.png" alt="" />
      </figure>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/alerts_modals/and_modal1.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/alerts_modals/and_modal2.png" alt="" />
      </figure>
    </div>
  </div>




  <div class="row" >
    <div class="col-sm-8">
      <h1 id="popovers" class="doc-head">Popovers</h1>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/alerts_modals/ios_popovers.png" alt="" />
      </figure>
    </div>
  </div>



  <div class="row" >
    <div class="col-sm-8">
      <h1 id="sheets" class="doc-head">Sheets</h1>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/alerts_modals/ios_action_sheet.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/alerts_modals/and_list_sheet.png" alt="" />
      </figure>
    </div>
  </div>


  <div class="row" >
    <div class="col-sm-8">
      <h1 id="map-markers" class="doc-head">Map Markers</h1>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/products/product_2b/ios_6map.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/products/product_2b/and_6map_drop_pin_2.png" alt="" />
      </figure>
    </div>
  </div>

</div>
