<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="hero-header">
          <div class="eyebrow">Patterns</div>
          <h1>Navigation</h1>
        </div>
      </div>
    </div>
  </div>

  <!-- <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a href="" du-smooth-scroll="hamburger-menu">Hamburger Menu</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->

</div>




<div class="container">


  <div class="row" >
    <div class="col-sm-8">
      <h1 id="hamburger-menu" class="doc-head">Hamburger Menu</h1>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-sm-4">
      <figure>
        <figcaption>iOS Dark</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/navigation/ios_menu.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android Dark</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/navigation/and_menu.png" alt="" />
      </figure>
    </div>
  </div>


  <div class="row doc-sectionbreak">
    <div class="col-sm-4">
      <figure>
        <figcaption>iOS Dark</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/product_nav_dark/navigation_dark.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android Dark</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/product_nav_dark/and_product_navigation_dark.png" alt="" />
      </figure>
    </div>
  </div>


  <div class="row doc-sectionbreak">
    <div class="col-sm-4">
      <figure>
        <figcaption>iOS Light</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/product_nav_light/navigation_light.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android Light</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/product_nav_light/and_product_navigation_light.png" alt="" />
      </figure>
    </div>
  </div>

</div>
