<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="hero-header">
          <div class="eyebrow">Elements</div>
          <h1>PROTOTYPE -- TO BE DELETED</h1>
        </div>
      </div>
    </div>
  </div>

  <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a href="" du-smooth-scroll="input-fields" offset="125">Input Fields</a></li>
            <li><a href="" du-smooth-scroll="radio-buttons">Radio Buttons</a></li>
            <li><a href="" du-smooth-scroll="checkboxes">Checkboxes</a></li>
            <li><a href="" du-smooth-scroll="steppers">Steppers</a></li>
            <li><a href="" du-smooth-scroll="switches">Switches</a></li>
            <li><a href="" du-smooth-scroll="sliders">Sliders</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container">

  <div class="row" >
    <div class="col-sm-8">
      <h1 id="input-fields" class="doc-head">Input Fields</h1>
      <p class="doc-lede">The form field is our most often used input, and thus has a range of states and uses that inform our users. It is our rule that the content within a field is the primary design focus, while the label is secondary.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h2 class="doc-sectionhead">Basic Input Fields</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <p>Morbi et nunc et quam tempus maximus ut ac dui. Donec interdum vel felis ac facilisis. Aliquam orci velit, congue nec libero quis, porta pulvinar sem. Etiam a sagittis dolor. Fusce laoreet congue nulla. Proin vulputate leo sed turpis tincidunt, ut pellentesque elit cursus. Phasellus iaculis nisi erat, id hendrerit lacus feugiat at. Donec lacinia sapien et semper placerat.</p>

      <p>Vivamus ultrices ipsum id volutpat sollicitudin. Vivamus accumsan quis augue ut sollicitudin. Phasellus vel faucibus ligula. Etiam porta, odio dignissim ornare molestie, nisl neque molestie leo, quis elementum erat ex at est. Integer quis velit ac orci pulvinar tempus non gravida justo. Sed id sem id est accumsan blandit vel eget nisi. Sed ultricies ultrices sapien sed pulvinar.</p>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" src="modules/mobile/assets/images/POC/iOS_Input_Fields.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" src="modules/mobile/assets/images/POC/Android_Input_Fields.png" alt="" />
      </figure>
    </div>
  </div>



  <div class="row">
    <div class="col-sm-12">
      <h2 class="doc-sectionhead">Basic Input Fields</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <p>Morbi et nunc et quam tempus maximus ut ac dui. Donec interdum vel felis ac facilisis. Aliquam orci velit, congue nec libero quis, porta pulvinar sem. Etiam a sagittis dolor. Fusce laoreet congue nulla. Proin vulputate leo sed turpis tincidunt, ut pellentesque elit cursus. Phasellus iaculis nisi erat, id hendrerit lacus feugiat at. Donec lacinia sapien et semper placerat.</p>

      <p>Vivamus ultrices ipsum id volutpat sollicitudin. Vivamus accumsan quis augue ut sollicitudin. Phasellus vel faucibus ligula. Etiam porta, odio dignissim ornare molestie, nisl neque molestie leo, quis elementum erat ex at est. Integer quis velit ac orci pulvinar tempus non gravida justo. Sed id sem id est accumsan blandit vel eget nisi. Sed ultricies ultrices sapien sed pulvinar.</p>
    </div>
  </div>

  <div class="row spacer-top-md">
    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" src="modules/mobile/assets/images/POC/iOS_Input_Fields.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" src="modules/mobile/assets/images/POC/iOS_Input_Fields.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" src="modules/mobile/assets/images/POC/iOS_Input_Fields.png" alt="" />
      </figure>
    </div>
  </div>

  <div class="row spacer-top-md">
    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" src="modules/mobile/assets/images/POC/Android_Input_Fields.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" src="modules/mobile/assets/images/POC/Android_Input_Fields.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" src="modules/mobile/assets/images/POC/Android_Input_Fields.png" alt="" />
      </figure>
    </div>
  </div>



  <div class="row">
    <div class="col-sm-8">
      <h1 id="radio-buttons" class="doc-head">Radio Buttons</h1>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-sm-4">
      <p>Morbi et nunc et quam tempus maximus ut ac dui. Donec interdum vel felis ac facilisis. Aliquam orci velit, congue nec libero quis, porta pulvinar sem. Etiam a sagittis dolor. Fusce laoreet congue nulla. Proin vulputate leo sed turpis tincidunt, ut pellentesque elit cursus. Phasellus iaculis nisi erat, id hendrerit lacus feugiat at. Donec lacinia sapien et semper placerat.</p>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" src="modules/mobile/assets/images/POC/Radio.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" src="modules/mobile/assets/images/POC/Radio.png" alt="" />
      </figure>
    </div>
  </div>


  <div class="row" >
    <div class="col-sm-8">
      <h1 id="checkboxes" class="doc-head">Checkboxes</h1>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-sm-4">
      <p>Morbi et nunc et quam tempus maximus ut ac dui. Donec interdum vel felis ac facilisis. Aliquam orci velit, congue nec libero quis, porta pulvinar sem. Etiam a sagittis dolor. Fusce laoreet congue nulla. Proin vulputate leo sed turpis tincidunt, ut pellentesque elit cursus. Phasellus iaculis nisi erat, id hendrerit lacus feugiat at. Donec lacinia sapien et semper placerat.</p>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" src="modules/mobile/assets/images/POC/Checkbox.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" src="modules/mobile/assets/images/POC/Checkbox.png" alt="" />
      </figure>
    </div>
  </div>


</div> <!-- /container -->
