<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="hero-header">
          <div class="eyebrow">Elements</div>
          <h1>UI Controls</h1>
        </div>
      </div>
    </div>
  </div>

  <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a href="" du-smooth-scroll="input-fields" offset="125">Input Fields</a></li>
            <li><a href="" du-smooth-scroll="radio-buttons">Radio Buttons</a></li>
            <li><a href="" du-smooth-scroll="checkboxes">Checkboxes</a></li>
            <li><a href="" du-smooth-scroll="steppers">Steppers</a></li>
            <li><a href="" du-smooth-scroll="switches">Switches</a></li>
            <li><a href="" du-smooth-scroll="sliders">Sliders</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container">

  <div class="row" >
    <div class="col-sm-8">
      <h1 id="input-fields" class="doc-head">Input Fields</h1>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/ui_components/ios_input_fields.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/ui_components/and_input_fields.png" alt="" />
      </figure>
    </div>
  </div>







  <div class="row">
    <div class="col-sm-8">
      <h1 id="radio-buttons" class="doc-head">Radio Buttons</h1>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/ui_components/ios_radio.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/ui_components/and_radio.png" alt="" />
      </figure>
    </div>
  </div>


  <div class="row" >
    <div class="col-sm-8">
      <h1 id="checkboxes" class="doc-head">Checkboxes</h1>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/ui_components/ios_checkbox.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/ui_components/and_checkbox.png" alt="" />
      </figure>
    </div>
  </div>




  <div class="row" >
    <div class="col-sm-8">
      <h1 id="steppers" class="doc-head">Steppers</h1>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/ui_components/ios_steppers.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/ui_components/and_stepper.png" alt="" />
      </figure>
    </div>
  </div>






  <div class="row" >
    <div class="col-sm-8">
      <h1 id="switches" class="doc-head">Switches</h1>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/ui_components/ios_toggle.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/ui_components/and_toggle.png" alt="" />
      </figure>
    </div>
  </div>





  <div class="row" >
    <div class="col-sm-8">
      <h1 id="sliders" class="doc-head">Sliders</h1>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/ui_components/ios_slider.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/ui_components/and_slider.png" alt="" />
      </figure>
    </div>
  </div>


</div> <!-- /container -->
