<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="hero-header">
          <div class="eyebrow">Patterns</div>
          <h1>Sign In</h1>
        </div>
      </div>
    </div>
  </div>

  <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a href="" du-smooth-scroll="sign-in">Sign In</a></li>
            <li><a href="" du-smooth-scroll="sign-up">Sign Up</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>




<div class="container">


  <div class="row" >
    <div class="col-sm-8">
      <h1 id="sign-in" class="doc-head">Sign In</h1>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/products/product_1b/ios_2landing_sign_in_1.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/products/product_1b/and_2landing_sign_in1.png" alt="" />
      </figure>
    </div>
  </div>


  <div class="row doc-sectionbreak">
    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/products/product_1b/ios_2landing_sign_in_2.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/products/product_1b/and_2landing_sign_in2.png" alt="" />
      </figure>
    </div>
  </div>







  <div class="row" >
    <div class="col-sm-8">
      <h1 id="sign-up" class="doc-head">Sign Up</h1>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" src="{{mobile.imgpaths.ios}}/products/product_1b/ios_7_sign_up.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" src="{{mobile.imgpaths.android}}/products/product_1b/and_7sign_up.png" alt="" />
      </figure>
    </div>
  </div>

</div>
