<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Elements</div>
          <h1>Modals &amp; Popovers</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="sub-header jump-bar headroom" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}" headroom offset="240" tolerance="5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li>
              <a du-smooth-scroll="modals" href="">Modals</a>
            </li>
            <li>
              <a du-smooth-scroll="popovers" href="">Popovers</a>
            </li>
<!-- <li><a href="" du-smooth-scroll="tooltips">Tooltips</a></li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container">

  <div class="row">
    <div class="col-md-8">
      <h1 class="doc-head" id="modals">Modals</h1>
      <a class="more-info plugin" href="http://angular-ui.github.io/bootstrap/#/modal" target="_blank">Angular UI Bootstrap v0.14.1</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Styles</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <figure>
        <figcaption>Basic Message</figcaption>
        <img alt="Basic" class="img-responsive modal-demo" src="modules/elements/assets/images/basic.png"/>
        <button class="btn btn-default btn-sm" ng-click="pop.modals.basicMessage()">Demo</button>
      </figure>
    </div>

    <div class="col-md-4">
      <figure>
        <figcaption>Single Choice Action Modal</figcaption>
        <img alt="Single Choice" class="img-responsive modal-demo" src="modules/elements/assets/images/single-choice.png"/>
        <button class="btn btn-default btn-sm" ng-click="pop.modals.singleChoice()">Demo</button>
      </figure>
    </div>

    <div class="col-md-4">
      <figure>
        <figcaption>Modal with Radio Buttons</figcaption>
        <img alt="Radio buttons" class="img-responsive modal-demo" src="modules/elements/assets/images/radios.png"/>
        <button class="btn btn-default btn-sm" ng-click="pop.modals.radioButtons()">Demo</button>
      </figure>
    </div>

  </div>

  <div class="row">

    <div class="col-md-4">
      <figure>
        <figcaption>Modal with Comment Form</figcaption>
        <img alt="Comment Form" class="img-responsive modal-demo" src="modules/elements/assets/images/comment-form.png"/>
        <button class="btn btn-default btn-sm" ng-click="pop.modals.commentForm()">Demo</button>
      </figure>
    </div>

    <div class="col-md-4">
      <figure>
        <figcaption>Modal with Feedback</figcaption>
        <img alt="Feedback" class="img-responsive modal-demo" src="modules/elements/assets/images/feedback.png"/>
        <button class="btn btn-default btn-sm" ng-click="pop.modals.withCopy()">Demo</button>
      </figure>
    </div>

    <div class="col-md-4">
      <figure>
        <figcaption>Modal with User Prompt</figcaption>
        <img alt="Prompt" class="img-responsive modal-demo" src="modules/elements/assets/images/prompt.png"/>
        <button class="btn btn-default btn-sm" ng-click="pop.modals.prompt()">Demo</button>
      </figure>
    </div>

  </div>

  <div class="row">

    <div class="col-md-4">
      <figure>
        <figcaption>Default Modal (Must Click Controls)</figcaption>
        <img alt="Default" class="img-responsive modal-demo" src="modules/elements/assets/images/default-true.png"/>
        <button class="btn btn-default btn-sm" ng-click="pop.modals.modal()">Demo</button>
      </figure>
    </div>

    <div class="col-md-4">
      <figure>
        <figcaption>Default Modal (ESC Key Enabled)</figcaption>
        <img alt="Modal with Options" class="img-responsive modal-demo" src="modules/elements/assets/images/dismissable.png"/>
        <button class="btn btn-default btn-sm" ng-click="pop.modals.simple()">Demo</button>
      </figure>
    </div>

    <div class="col-md-4">
      <figure>
        <figcaption>Draggable Modal</figcaption>
        <img alt="Draggable Modal" class="img-responsive modal-demo" src="modules/elements/assets/images/draggable.png"/>
        <button class="btn btn-default btn-sm" ng-click="pop.modals.draggable()">Demo</button>
      </figure>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h1 class="doc-head" id="popovers">Popovers</h1>
      <a class="more-info plugin" href="http://angular-ui.github.io/bootstrap/#/popover" target="_blank">angular ui bootstrap v0.14.1</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Styles</h2>
    </div>
  </div>

  <div class="row">

    <div class="col-md-3">
      <figure>
        <figcaption>Popover with Template</figcaption>
        <button class="btn btn-default" uib-popover-template="pop.dynamicPopover.templateUrl" popover-title="Hello World">Popover With Template</button>

        <script id="myPopoverTemplate.html" type="text/ng-template">
          <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt provident tempora officia.</div>
        </script>
      </figure>
    </div>

    <div class="col-md-3">
      <figure>
        <figcaption>Popover Positions</figcaption>
        <button class="btn btn-default" popover-placement="top" uib-popover="On the Top!">Top</button>
        <button class="btn btn-default" popover-placement="left" uib-popover="On the Left!">Left</button>
        <button class="btn btn-default" popover-placement="right" uib-popover="On the Right!">Right</button>
        <button class="btn btn-default" popover-placement="bottom" uib-popover="On the Bottom!">Bottom</button>
      </figure>
    </div>

    <div class="col-md-3">
      <figure>
        <figcaption>Popover Triggers</figcaption>
        <p>
          <button class="btn btn-default" popover-trigger="mouseenter" uib-popover="I appeared on mouse enter!">Mouseenter</button>
        </p>
        <input class="form-control" popover-trigger="focus" uib-popover="I appeared on focus! Click away and I'll vanish..." type="text" value="Click me!">
      </figure>
    </div>

    <div class="col-md-3">
      <figure>
        <figcaption>Other Popovers</figcaption>
        <button class="btn btn-default" popover-animation="true" uib-popover="I fade in and out!">fading</button>
        <button class="btn btn-default" popover-title="The title." uib-popover="I have a title!">title</button>

      </figure>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Writing for Popovers and Modals</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <p>When writing copy for modals, popovers and tooltips, good writing principles apply. Try to keep your messages succinct, clear and to the point by:</p>
      <ul>
        <li>Using active rather than passive writing</li>
        <li>Focusing on what the user most needs to know</li>
        <li>Constructing short sentences, written in plain language</li>
      </ul>
    </div>
  </div>

</div>
