<div class="container">

<div class="row">
  <div class="col-md-8 col-sm-12">
    <h1 id="tiles" class="doc-head">Tile Tabs</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2 class="doc-sectionhead">States</h2>
  </div>
</div>

<div class="row ">
  <div class="col-sm-3">
    <figure>
      <figcaption>Disabled</figcaption>
      <div class="item-selector-button disabled">
        <div class="title">Item One</div>
        <div class="divider">&nbsp;</div>
        <div class="image">&nbsp;</div>
      </div>
    </figure>
  </div>

  <div class="col-sm-3">
    <figure>
      <figcaption>Default</figcaption>
      <div class="item-selector-button">
        <div class="title">Item One</div>
        <div class="divider">&nbsp;</div>
        <div class="image">&nbsp;</div>
      </div>
    </figure>
  </div>

  <div class="col-sm-3">
    <figure>
      <figcaption>Hover</figcaption>
      <div class="item-selector-button hover">
        <div class="title">Item One</div>
        <div class="divider">&nbsp;</div>
        <div class="image">&nbsp;</div>
      </div>
    </figure>
  </div>

  <div class="col-sm-3">
    <figure>
      <figcaption>Active</figcaption>
      <div class="item-selector-button active">
        <div class="title">Item One</div>
        <div class="divider">&nbsp;</div>
        <div class="image">&nbsp;</div>
      </div>
    </figure>
  </div>
</div>

</div>
