<div class="container">

  <div class="row">
    <div class="col-md-8">
      <h1 id="tabs" class="doc-head">Tabs</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Usage</h2>

      <ul>
        <li>Best suited for no more than 10 items</li>
        <li>Used for content categories that will remain fairly static</li>
        <li>Consider using vertical tabs for if you have 5 or more items that won’t fit on one horizontal row</li>
      </ul>

    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Styles</h2>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6">
      <figure>
        <figcaption>Standard Tabs</figcaption>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><a data-target="#home" data-toggle="tab">Home</a></li>
          <li><a data-target="#profile" data-toggle="tab">Profile</a></li>
          <li><a data-target="#messages" data-toggle="tab">Messages</a></li>
          <li><a data-target="#settings" data-toggle="tab">Settings</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane fade in active" id="home">Home text lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui nisi quo, dolores ipsa, ut perferendis.</div>
          <div class="tab-pane fade" id="profile">Profile text lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate assumenda ipsam nisi quaerat reiciendis, corporis. Dolor nostrum officia repudiandae, velit sit voluptates aliquid aperiam ut?</div>
          <div class="tab-pane fade" id="messages">Messages text lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit illo ipsum est in autem eveniet, quae quos id.</div>
          <div class="tab-pane fade" id="settings">Settings text lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore provident maxime possimus quam! Quia doloribus, sint nisi mollitia dolorem ipsa doloremque excepturi ea nemo. In.</div>
        </div>
      </figure>
    </div>

    <div class="col-md-6">
      <figure>
        <figcaption>Justified Tabs</figcaption>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-justified">
          <li class="active"><a data-target="#home2" data-toggle="tab">Home</a></li>
          <li><a data-target="#profile2" data-toggle="tab">Profile</a></li>
          <li><a data-target="#messages2" data-toggle="tab">Messages</a></li>
          <li><a data-target="#settings2" data-toggle="tab">Settings</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane fade in active" id="home2">Home text lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui nisi quo, dolores ipsa, ut perferendis.</div>
          <div class="tab-pane fade" id="profile2">Profile text lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate assumenda ipsam nisi quaerat reiciendis, corporis. Dolor nostrum officia repudiandae, velit sit voluptates aliquid aperiam ut?</div>
          <div class="tab-pane fade" id="messages2">Messages text lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit illo ipsum est in autem eveniet, quae quos id.</div>
          <div class="tab-pane fade" id="settings2">Settings text lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore provident maxime possimus quam! Quia doloribus, sint nisi mollitia dolorem ipsa doloremque excepturi ea nemo. In.</div>
        </div>
      </figure>
    </div>
  </div>

  <div class="row spacer-top-xl">
    <div class="col-md-6">
      <figure>
              <figcaption>Sliding Tabs</figcaption>
              <div class="tabs-fancy">
                <ul class="nav nav-tabs">
                  <li class="active"><a data-target="#home3" data-toggle="tab">Home</a></li>
                  <li><a data-target="#profile3" data-toggle="tab">Profile</a></li>
                  <li><a data-target="#messages3" data-toggle="tab">Messages</a></li>
                  <li><a data-target="#settings3" data-toggle="tab">Settings</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane fade in active" id="home3">Home text lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui nisi quo, dolores ipsa, ut perferendis.</div>
                  <div class="tab-pane fade" id="profile3">Profile text lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate assumenda ipsam nisi quaerat reiciendis, corporis. Dolor nostrum officia repudiandae, velit sit voluptates aliquid aperiam ut?</div>
                  <div class="tab-pane fade" id="messages3">Messages text lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit illo ipsum est in autem eveniet, quae quos id.</div>
                  <div class="tab-pane fade" id="settings3">Settings text lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore provident maxime possimus quam! Quia doloribus, sint nisi mollitia dolorem ipsa doloremque excepturi ea nemo. In.</div>
                </div>
              </div>
            </figure>
    </div>
    <div class="col-md-6">
      <figure>
        <figcaption>Tabs with Bordered Content</figcaption>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><a data-target="#home4" data-toggle="tab">Home</a></li>
          <li><a data-target="#profile4" data-toggle="tab">Profile</a></li>
          <li><a data-target="#messages4" data-toggle="tab">Messages</a></li>
          <li><a data-target="#settings4" data-toggle="tab">Settings</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content tab-content-bordered">
          <div class="tab-pane fade in active" id="home4">Home text lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui nisi quo, dolores ipsa, ut perferendis.</div>
          <div class="tab-pane fade" id="profile4">Profile text lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate assumenda ipsam nisi quaerat reiciendis, corporis. Dolor nostrum officia repudiandae, velit sit voluptates aliquid aperiam ut?</div>
          <div class="tab-pane fade" id="messages4">Messages text lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit illo ipsum est in autem eveniet, quae quos id.</div>
          <div class="tab-pane fade" id="settings4">Settings text lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore provident maxime possimus quam! Quia doloribus, sint nisi mollitia dolorem ipsa doloremque excepturi ea nemo. In.</div>
        </div>
      </figure>
    </div>
  </div>


</div>
