<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Elements</div>
          <h1>Containers</h1>
        </div>
      </div>
    </div>
  </div>

  <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a href="" du-smooth-scroll="tabs" offset="125">Tabs</a></li>
            <li><a href="" du-smooth-scroll="tiles">Tile Tabs</a></li>
            <li><a href="" du-smooth-scroll="accordions">Accordions</a></li>
            <li><a href="" du-smooth-scroll="panels">Panels</a></li>
            <li><a href="" du-smooth-scroll="gallery">Gallery</a></li>
            <li><a href="" du-smooth-scroll="cards">Cards</a></li>
            <li><a href="" du-smooth-scroll="widgets">Widgets</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>



<div ui-view="tabs"></div>
<div ui-view="tiles"></div>
<div ui-view="accordions"></div>
<div ui-view="panels"></div>
<div ui-view="gallery"></div>
<div ui-view="cards"></div>
<div ui-view="widgets"></div>
