<div class="container">

  <div class="row">
    <div class="col-md-8">
      <h1 id="widgets" class="doc-head">Widgets</h1>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Data Styles</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <img class="img-responsive" src="modules/elements/assets/images/data_01.png" alt="" />
    </div>

    <div class="col-sm-3">
      <img class="img-responsive" src="modules/elements/assets/images/data_02.png" alt="" />
    </div>

    <div class="col-sm-3">
      <img class="img-responsive" src="modules/elements/assets/images/data_03.png" alt="" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Category Styles</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">
      <img class="img-responsive" src="modules/elements/assets/images/category.png" alt="" />
    </div>
  </div>


</div>
