<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Elements</div>
          <h1>Buttons</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="sub-header jump-bar headroom" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}" headroom offset="240" tolerance="5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li>
              <a du-smooth-scroll="action" href="">Action</a>
            </li>
            <li>
              <a du-smooth-scroll="link" href="">Link</a>
            </li>
            <li>
              <a du-smooth-scroll="tile" href="">Tiles</a>
            </li>
            <li>
              <a du-smooth-scroll="breadcrumbs" href="">Breadcrumbs</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container">

  <div class="row">
    <div class="col-md-8">
      <h1 class="doc-head" id="action">Action</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h1 class="doc-sectionhead">States</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4 col-md-2">
      <figure>
        <figcaption>Default</figcaption>
        <button class="btn btn-primary">Primary</button>
      </figure>
    </div>

    <div class="col-xs-4 col-md-2">
      <figure>
        <figcaption>Hover</figcaption>
        <button class="btn btn-primary hover">Primary</button>
      </figure>
    </div>

    <div class="col-xs-4 col-md-2">
      <figure>
        <figcaption>Disabled</figcaption>
        <button class="btn btn-primary" disabled="disabled">Primary</button>
      </figure>
    </div>
  </div>

  <div class="row spacer-top-lg">
    <div class="col-xs-4 col-md-2">
      <figure>
        <figcaption>Default</figcaption>
        <button class="btn btn-default">Secondary</button>
      </figure>
    </div>

    <div class="col-xs-4 col-md-2">
      <figure>
        <figcaption>Hover</figcaption>
        <button class="btn btn-default hover">Secondary</button>
      </figure>
    </div>

    <div class="col-xs-4 col-md-2">
      <figure>
        <figcaption>Disabled</figcaption>
        <button class="btn btn-default" disabled="disabled">Secondary</button>
      </figure>
    </div>
  </div>

  <div class="row spacer-top-lg">
    <div class="col-xs-4 col-md-2">
      <figure>
        <figcaption>Default</figcaption>
        <button class="btn btn-link">Link</button>
      </figure>
    </div>

    <div class="col-xs-4 col-md-2">
      <figure>
        <figcaption>Hover</figcaption>
        <button class="btn btn-link hover">Link</button>
      </figure>
    </div>

    <div class="col-xs-4 col-md-2">
      <figure>
        <figcaption>Disabled</figcaption>
        <button class="btn btn-link" disabled="disabled">Link</button>
      </figure>
    </div>
  </div>

  <div class="row spacer-top-lg">
    <div class="col-md-8">
      <p>Use for landing or marketing pages only</p>

      <div class="doc-gradient clearfix" style="margin: 10px 0; padding: 15px 20px;">
        <div class="col-sm-4 spacer-top-xs">
          <figure>
            <figcaption class="ko">Default</figcaption>
            <button class="btn btn-pill-ko ">Tertiary</button>
          </figure>
        </div>

        <div class="col-sm-4 spacer-top-xs">
          <figure>
            <figcaption class="ko">Hover, slight dropshadow</figcaption>
            <button class="btn btn-pill-ko  hover">Tertiary</button>
          </figure>
        </div>

        <div class="col-sm-4 spacer-top-xs">
          <figure>
            <figcaption class="ko">Disabled</figcaption>
            <button class="btn btn-pill-ko " disabled="disabled">Tertiary</button>
          </figure>
        </div>
      </div>

    </div>
  </div>

<!-- button sizes -->
  <div class="row">
    <div class="col-sm-12">
      <h2 class="doc-sectionhead">Sizes</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-4">
      <figure>
        <figcaption>Large</figcaption>
        <button class="btn btn-primary btn-lg">Primary</button>
        <button class="btn btn-default btn-lg">Secondary</button>
        <button class="btn btn-link btn-lg">Link</button>
      </figure>
    </div>

    <div class="col-sm-6 col-md-4">
      <figure>
        <figcaption>Default</figcaption>
        <button class="btn btn-primary">Primary</button>
        <button class="btn btn-default">Secondary</button>
        <button class="btn btn-link">Link</button>
      </figure>
    </div>

  </div>
  <div class="row spacer-top-lg">

    <div class="col-sm-6 col-md-4">
      <figure>
        <figcaption>Small</figcaption>
        <button class="btn btn-primary btn-sm">Primary</button>
        <button class="btn btn-default btn-sm">Secondary</button>
        <button class="btn btn-link btn-sm">Link</button>
      </figure>
    </div>

    <div class="col-sm-6 col-md-4">
      <figure>
        <figcaption>Extra Small</figcaption>
        <button class="btn btn-primary btn-xs">Primary</button>
        <button class="btn btn-default btn-xs">Secondary</button>
        <button class="btn btn-link btn-xs">Link</button>
      </figure>
    </div>
  </div>

<!-- icon buttons -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Icon</h2>
    </div>
  </div>

  <div class="row">

    <div class="col-md-3">
      <figure>
        <figcaption>Default</figcaption>
        <button class="btn btn-primary">
          <i class="fa fa-fw fa-envelope"></i>
          Send</button>
        <button class="btn btn-default">
          <i class="fa fa-fw fa-download"></i>
          Download</button>
      </figure>
    </div>

  </div>

<!-- block buttons -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Block</h2>
    </div>
  </div>

  <div class="row">

    <div class="col-xs-6 col-md-3">
      <figure>
        <figcaption>Default</figcaption>
        <button class="btn btn-primary btn-block">Block Button</button>
        <button class="btn btn-default btn-block">Block Button</button>
      </figure>
    </div>

  </div>

<!-- group buttons -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Group</h2>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-3">
      <p>Group a series of buttons together on a single line with the button group.</p>
    </div>

    <div class="col-xs-8 col-md-5 col-md-offset-1">
      <figure>
        <figcaption>Standard Button Group</figcaption>
        <div class="btn-group">
          <div class="btn-group">
            <button class="btn btn-default" type="button">One</button>
          </div>
          <div class="btn-group">
            <button class="btn btn-default" type="button">Two</button>
          </div>
          <div class="btn-group">
            <button class="btn btn-default" type="button">Three</button>
          </div>
          <div class="btn-group">
            <button class="btn btn-default" type="button">Four</button>
          </div>
        </div>
      </figure>

      <figure class="spacer-top-lg">
        <figcaption>Block Level Button Group</figcaption>
        <div class="btn-group btn-group-justified">
          <div class="btn-group">
            <button class="btn btn-default" type="button">One</button>
          </div>
          <div class="btn-group">
            <button class="btn btn-default" type="button">Two</button>
          </div>
          <div class="btn-group">
            <button class="btn btn-default" type="button">Three</button>
          </div>
          <div class="btn-group">
            <button class="btn btn-default" type="button">Four</button>
          </div>
        </div>
      </figure>
    </div>
  </div>

  <div class="row spacer-top-xl">
    <div class="col-md-3">
      <p>You can also add/use icons to create a quick toolbar. For guidelines on Toolbars, please see
        <i>Elements &gt; Tables &gt; Datatables</i>.</p>
    </div>

    <div class="col-xs-12 col-md-4 col-md-offset-1">
      <figure>
        <figcaption>Icon Button Group</figcaption>
        <div class="btn-group">
          <div class="btn-group">
            <button class="btn btn-default" type="button">
              <i class="fa fa-commenting fa-lg"></i>
            </button>
          </div>
          <div class="btn-group">
            <button class="btn btn-default" type="button">
              <i class="fa fa-hand-stop-o fa-lg"></i>
            </button>
          </div>
          <div class="btn-group">
            <button class="btn btn-default" type="button">
              <i class="pb-newfolder pb-lg"></i>
            </button>
          </div>
          <div class="btn-group">
            <button class="btn btn-default" type="button">
              <i class="fa fa-object-ungroup fa-lg"></i>
            </button>
          </div>
        </div>
      </figure>

      <figure class="spacer-top-lg">
        <figcaption>Icon Button Multiple Groups</figcaption>
        <div aria-label="Toolbar with button groups" class="btn-toolbar" role="toolbar">
          <div aria-label="First group" class="btn-group" role="group">
            <button class="btn btn-default" type="button">1</button>
            <button class="btn btn-default" type="button">2</button>
            <button class="btn btn-default" type="button">3</button>
            <button class="btn btn-default" type="button">4</button>
          </div>
          <div aria-label="Second group" class="btn-group" role="group">
            <button class="btn btn-default" type="button">5</button>
            <button class="btn btn-default" type="button">6</button>
            <button class="btn btn-default" type="button">7</button>
          </div>
          <div aria-label="Third group" class="btn-group" role="group">
            <button class="btn btn-default" type="button">8</button>
          </div>
        </div>
      </figure>
    </div>

    <div class="col-md-2">
      <figure>
        <figcaption>Icon Vertical Button Group</figcaption>
        <div class="btn-group btn-group-vertical">
          <div class="btn-group">
            <button class="btn btn-default" type="button">
              <i class="fa fa-commenting"></i>
            </button>
          </div>
          <div class="btn-group">
            <button class="btn btn-default" type="button">
              <i class="fa fa-hand-stop-o"></i>
            </button>
          </div>
          <div class="btn-group">
            <button class="btn btn-default" type="button">
              <i class="pb-newcatalog"></i>
            </button>
          </div>
          <div class="btn-group">
            <button class="btn btn-default" type="button">
              <i class="fa fa-object-ungroup"></i>
            </button>
          </div>
        </div>
      </figure>
    </div>

    <div class="col-md-2">
      <figure>
        <figcaption>Vertical Button Group</figcaption>
        <div class="btn-group btn-group-vertical">
          <div class="btn-group">
            <button class="btn btn-default" type="button">One</button>
          </div>
          <div class="btn-group">
            <button class="btn btn-default" type="button">Two</button>
          </div>
          <div class="btn-group">
            <button class="btn btn-default" type="button">Three</button>
          </div>
          <div class="btn-group">
            <button class="btn btn-default" type="button">Four</button>
          </div>
        </div>
      </figure>
    </div>
  </div>

<!-- toggle buttons -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Toggle</h2>
    </div>
  </div>

  <div class="row">

    <div class="col-xs-6 col-md-3">
      <figure>
        <figcaption>Simple Toggle</figcaption>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-default active">
            <input autocomplete="off" checked id="option1" name="options" type="radio">
            Selected
          </label>
          <label class="btn btn-default">
            <input autocomplete="off" id="option2" name="options" type="radio">
            Default
          </label>

        </div>
      </figure>
    </div>

    <div class="col-xs-6 col-md-4">
      <figure>
        <figcaption>Toggle with Notification</figcaption>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-default">
            <input autocomplete="off" checked id="option4" name="options" type="radio">
            Data View 1
          </label>
          <label class="btn btn-default active">
            <input autocomplete="off" id="option5" name="options" type="radio">
            Data View 2
            <span class="badge">2</span>
          </label>
        </div>
      </figure>
    </div>
  </div>

<!-- TODO: need more research on ui-sref anchor links, this is not working, see: -->
<!-- https://github.com/angular-ui/ui-router/pull/1867 -->
<!-- <div class="row">
    <div class="col-md-12 spacer-top-lg">
      <p>See also: <a href="" ui-sref="feedback.page({ '#': 'badges' })">badges</a>, <a href="" ui-sref="elements.uicontrols({'#': 'checkboxes'})">checkboxes</a>, <a href="" ui-sref="elements.uicontrols({'#': 'radios'})">radio buttons</a></p>

    </div>
  </div> -->

<!-- dropdown buttons -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Single Dropdown</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <p>Turn a button into a dropdown toggle with some basic markup changes.</p>
    </div>

    <div class="col-sm-3 col-md-2 col-md-offset-1">
      <figure>
        <figcaption>Dropdown Button</figcaption>
        <div class="btn-group">
          <button class="btn btn-default btn dropdown-toggle" data-toggle="dropdown" type="button">
            Button
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="#">Action</a>
            </li>
            <li>
              <a href="#">Another action</a>
            </li>
            <li>
              <a href="#">Something else here</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">Separated link</a>
            </li>
          </ul>
        </div>
      </figure>
    </div>

    <div class="col-sm-6 col-sm-5">
      <figure>
        <figcaption>Dropdown Button in Button Group</figcaption>
        <div class="btn-group">
          <button class="btn btn-default" type="Button">Button</button>
          <button class="btn btn-default" type="Button">Button</button>
          <div class="btn-group">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="Button">Dropdown
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a href="#">Action</a>
              </li>
              <li>
                <a href="#">Another action</a>
              </li>
              <li>
                <a href="#">Something else here</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">Separated link</a>
              </li>
            </ul>
          </div>
        </div>
      </figure>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Split Dropdown</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <p>Place a
        <code>.btn-group</code>
        within another
        <code>.btn-group</code>
        when you want dropdown menus mixed with a series of buttons.</p>
    </div>

    <div class="col-md-3 col-md-offset-1">
      <figure>
        <figcaption>Split Dropdown Button</figcaption>
        <div class="btn-group">
          <button class="btn btn-default" type="Button">Button</button>
          <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a href="#">Action</a>
            </li>
            <li>
              <a href="#">Another action</a>
            </li>
            <li>
              <a href="#">Something else here</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">Separated link</a>
            </li>
          </ul>
        </div>
      </figure>
    </div>

    <div class="col-md-3">
      <figure>
        <figcaption>Dropup Buttons</figcaption>
        <div class="btn-group dropup">
          <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="Button">Button
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="#">Action</a>
            </li>
            <li>
              <a href="#">Another action</a>
            </li>
            <li>
              <a href="#">Something else here</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">Separated link</a>
            </li>
          </ul>
        </div>

        <div class="btn-group dropup">
          <button class="btn btn-primary" type="Button">Button</button>
          <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a href="#">Action</a>
            </li>
            <li>
              <a href="#">Another action</a>
            </li>
            <li>
              <a href="#">Something else here</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">Separated link</a>
            </li>
          </ul>
        </div>
      </figure>
    </div>

  </div>

  <div class="row spacer-top-md">
    <div class="col-md-3 col-md-offset-4">
      <figure>
        <figcaption>Mixed Buttons and Drop-buttons</figcaption>
        <div aria-label="..." class="btn-group" role="group">
          <button class="btn btn-default" type="button">1</button>
          <button class="btn btn-default" type="button">2</button>

          <div class="btn-group" role="group">
            <button aria-expanded="false" aria-haspopup="true" class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
              Dropdown
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a href="#">Dropdown link</a>
              </li>
              <li>
                <a href="#">Dropdown link</a>
              </li>
            </ul>
          </div>
        </div>
      </figure>
    </div>

    <div class="col-md-3">
      <figure>
        <figcaption>Vertical as Well</figcaption>
        <div aria-label="..." class="btn-group-vertical" role="group">
          <button class="btn btn-default" type="button">1</button>
          <button class="btn btn-default" type="button">2</button>

          <div class="btn-group" role="group">
            <button aria-expanded="false" aria-haspopup="true" class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
              Dropdown
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a href="#">Dropdown link</a>
              </li>
              <li>
                <a href="#">Dropdown link</a>
              </li>
            </ul>
          </div>
        </div>
      </figure>
    </div>
  </div>

<!-- functional buttons-->
  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Functional</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <figure>
        <figcaption>Bootstrap Functional Colors</figcaption>
        <button class="btn btn-success">Success</button>
        <button class="btn btn-info">Info</button>
        <button class="btn btn-warning">Warning</button>
        <button class="btn btn-danger">Danger</button>
      </figure>
    </div>
    <div class="col-md-4">
      <figure>
        <figcaption>Use Colors for Any Button Type</figcaption>

        <div class="btn-group">
          <button class="btn btn-success" type="Button">Button</button>
          <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a href="#">Action</a>
            </li>
            <li>
              <a href="#">Another action</a>
            </li>
            <li>
              <a href="#">Something else here</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">Separated link</a>
            </li>
          </ul>
        </div>

        <button class="btn btn-danger">
          <i class="fa fa-exclamation-circle"></i>
          Delete All</button>

      </figure>
    </div>
  </div>

<!-- Writing button copy -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Writing Button Copy</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p>All buttons should:</p>
      <ul>
        <li>Use title capitalization</li>
        <li>Never include punctuation</li>
        <li>Be labeled with a maximum of three words (English)</li>
      </ul>

      <b>Length and Wording</b>
      <p>Keep word counts to three words or fewer if possible. If you need to use more than three words, use the smallest number of words for conveying the button’s call to action.</p>

      <p>Use action verbs (“get,” “see,” “filter,” “send,” “download,” “go to,” “share,” etc.) and make sure that the terminology you’re using is customer-facing and consistent with the rest of your product.</p>

    </div>
  </div>

<!-- LINKS -->
  <div class="row">
    <div class="col-md-8">
      <h1 class="doc-head" id="link">Link</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Link Style</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <p>You can include an icon with your link if it will increase the user&rsquo;s understanding. But avoid using icons that are unclear or unnecessary.</p>
    </div>

    <div class="col-md-3 col-md-offset-1">
      <figure>
        <figcaption>Standard Link</figcaption>
        <a href="">Lorem ipsum dolor</a>
      </figure>
    </div>

    <div class="col-md-3">
      <figure>
        <figcaption>Icon Link</figcaption>
        <a href="">
          <i class="fa fa-envelope"></i>
          Lorem ipsum dolor</a>
      </figure>
    </div>
  </div>

<!-- Writing link copy -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Writing Link Copy</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p>Hyperlinked buttons should:</p>
      <ul>
        <li>Feel conversational</li>
        <li>Use active writing and be positive</li>
        <li>Use sentence capitalization</li>
        <li>Never conclude with punctuation unless they are formed as questions</li>
      </ul>
    </div>
  </div>

<!-- BUTTON TOOLBARS -->
<!-- <div class="row">
    <div class="col-md-8">
      <h1 id="toolbar" class="doc-head">Toolbar</h1>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <p>
        Grouped buttons (see above) can use Icons and therefore be used as a Toolbar
      </p>
      <p>Toolbars can be used with or without borders by adding <code>btn-group-borderless</code>.</p>
    </div>
  </div>


  <div class="row spacer-top-md">
    <div class="col-md-12">
      <figure>
        <figcaption>Default Action Buttons</figcaption>
          <div class="btn-group">
            <button class="btn btn-default btn-sm"><i class="fa fa-fw fa-plus"></i> New</button>
          </div>

          <div class="btn-group">
            <button class="btn btn-default btn-sm"><i class="fa fa-fw fa-pencil"></i></button>
            <button class="btn btn-default btn-sm"><i class="fa fa-fw fa-copy"></i></button>
            <button class="btn btn-default btn-sm"><i class="fa fa-fw fa-trash-o"></i></button>
          </div>

          <div class="btn-group">
            <button class="btn btn-default btn-sm"><i class="fa fa-fw fa-th-list"></i></button>
            <button class="btn btn-default btn-sm"><i class="fa fa-fw fa-th"></i></button>
          </div>

          <div class="btn-group">
            <button class="btn btn-default btn-sm"><i class="fa fa-fw fa-sliders"></i></button>
          </div>
      </figure>
    </div>
  </div>

<div class="row">
    <div class="col-md-4">
      <figure>
        <figcaption>Vertical Toolbar</figcaption>
        <div class="btn-group-vertical">
          <button class="btn btn-default" type="Button"><i class="fa fa-floppy-o"/></button>
          <button class="btn btn-default" type="Button"><i class="fa fa-files-o"/></button>
          <button class="btn btn-default" type="Button"><i class="fa fa-scissors"/></button>
          <button class="btn btn-default" type="Button"><i class="fa fa-trash-o"/></button>
        </div>
      </figure>
    </div>
  </div>
 -->

<!-- BUTTON TILES -->
  <div class="row">
    <div class="col-md-8">
      <h1 class="doc-head" id="tile">Tiles</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Usage</h2>
      <p>We use tiled buttons to highlight functionality that defines the purpose of a particular product. These buttons:</p>
      <ul>
        <li>Can be either bordered or borderless</li>
        <li>Are visually prominent and highly graphical</li>
        <li>Make use of icons or recognizable brand elements</li>
        <li>Are designed to be easy for users to see and click on</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Tile States</h2>
    </div>
  </div>
  <div class="row ">
    <div class="col-sm-3">
      <figure>
        <figcaption>Disabled</figcaption>
        <button type="button" name="button" class="btn btn-default tile-button" disabled="disabled"><img src="assets/images/logo-usps.png" alt="" /></button>

      </figure>
    </div>

    <div class="col-sm-3">
      <figure>
        <figcaption>Default</figcaption>
        <button type="button" name="button" class="btn btn-default tile-button"><img src="assets/images/logo-usps.png" alt="" /></button>
      </figure>
    </div>

    <div class="col-sm-3">
      <figure>
        <figcaption>Hover</figcaption>
        <button type="button" name="button" class="btn btn-default tile-button hover"><img src="assets/images/logo-usps.png" alt="" /></button>
      </figure>
    </div>

    <div class="col-sm-3">
      <figure>
        <figcaption>Active</figcaption>
        <button type="button" name="button" class="btn btn-default tile-button active"><img src="assets/images/logo-usps.png" alt="" /></button>
      </figure>
    </div>
  </div>


  <div class="row spacer-top-xl" id="breadcrumbs">
    <div class="col-md-12">
      <h1>Breadcrumbs</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Usage</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p>Breadcrumb navigation should: </p>
      <ul>
        <li>Reflect a product’s static page hierarchy</li>
        <li>Appear above the H1 header page titles</li>
      </ul>

      <figure class="spacer-top-lg">
        <figcaption>Breadcrumb with Home Level</figcaption>
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li><a href="#">Settings</a></li>
          <li><a href="#">Billing</a></li>
          <li class="active">Payment Method</li>
        </ol>
        <h1>Sample Title</h1>
      </figure>

      <figure class="spacer-top-lg">
        <figcaption>Breadcrumb without Home Level</figcaption>
        <ol class="breadcrumb">
          <li><a href="#">Settings</a></li>
          <li><a href="#">Billing</a></li>
          <li class="active">Payment Method</li>
        </ol>
        <h1>Sample Title</h1>
      </figure>

      <div class="row">
        <div class="col-md-12">
          <h2 class="doc-sectionhead">Style</h2>
          <p>Breadcrumb navigation: </p>
          <li>Uses title capitalization</li>
          <li>Can treat the “Home” level as optional</li>
          <li>Uses <b>forward slashes</b> (not chevrons, bullets, or colons) as dividers</li>
          <li>Uses an “em” space on either side of forward slash dividers</li>
          <li>Displays the current page location, which is not hyperlinked</li>
          <li>Can abbreviate longer page titles if it’s possible to do so without sacrificing clarity</li>
        </div>

      </div>



    </div>
  </div>

</div>
