<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Patterns</div>
          <h1>Split Views</h1>
        </div>
      </div>
    </div>
  </div>

  <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a href="" du-smooth-scroll="styles" offset="125">Styles</a></li>
            <li><a href="" du-smooth-scroll="types">Types</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>



<div class="container">

  <div class="row">
    <div class="col-md-8">
      <h1 class="doc-head" id="styles">Styles</h1>
    </div>
  </div>



<div class="row spacer-top-md">
  <div class="col-md-6">
    <p>The various stypes of split views, all with a simple left navbar.</p>
  </div>
</div>


  <div class="row spacer-top-lg">
    <div class="col-md-6">
      <figcaption>Gray navbar, white background</figcaption>
      <a href="" ui-sref="splitview.one" target="_blank"><img class="img-responsive framed"  src="modules/patterns/assets/images/splitview-one.png" /></a>
    </div>

    <div class="col-md-6">
      <figcaption>White navbar, gray filled navbar</figcaption>
      <a href="" ui-sref="splitview.two" target="_blank"><img class="img-responsive framed"  src="modules/patterns/assets/images/splitview-two.png" /></a>
    </div>
  </div>



  <div class="row spacer-top-lg">
    <div class="col-md-6">
      <figcaption>White Bar and Background, 3 rules</figcaption>
      <a href="" ui-sref="splitview.three" target="_blank"><img class="img-responsive framed"  src="modules/patterns/assets/images/splitview-three.png" /></a>
    </div>


    <div class="col-md-6">
      <figcaption>White navbar &amp; background, 1 rule</figcaption>
      <a href="" ui-sref="splitview.four" target="_blank"><img class="img-responsive framed"  src="modules/patterns/assets/images/splitview-four.png" /></a>
    </div>
  </div>



  <div class="row spacer-top-lg">
    <div class="col-md-6">
      <figcaption>White navbar &amp; background, 1 rule, Container-Fluid</figcaption>
      <a href="" ui-sref="splitview.five" target="_blank"><img class="img-responsive framed"  src="modules/patterns/assets/images/splitview-five.png" /></a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h1 class="doc-head" id="types">Types</h1>
    </div>
  </div>

  <div class="row spacer-top-lg">
    <div class="col-md-6">
      <figcaption>Navbar with Section Heads</figcaption>
      <a href="" ui-sref="splitview.six" target="_blank"><img class="img-responsive framed"  src="modules/patterns/assets/images/splitview-six.png" /></a>
    </div>


    <div class="col-md-6">
      <figcaption>Navbar with Tree View</figcaption>
      <a href="" ui-sref="splitview.seven" target="_blank"><img class="img-responsive framed"  src="modules/patterns/assets/images/splitview-seven.png" /></a>
    </div>
  </div>





</div>
