<div class="modal-header">
  <button type="button" class="close" ng-click="close()"><span aria-hidden="true"></span><span class="sr-only">Close</span></button>
  <h2 class="modal-title">Modal Headline</h2>
</div>
<div class="modal-body">
  <p class="text-danger"><i class="fa fa-fw fa-lg fa-question-circle"></i> Lorem ipsum dolor sit amet, duo ei volumus perfecto ocurreret.</p>

  <p>Lorem ipsum dolor sit amet, duo ei volumus perfecto ocurreret, nam et volutpat explicari hendrerit. Ut erat dicant sea, duo ut meis postea ullamcorper. Ei eam meis quaerendum, his at modus nominati repudiandae. At his mundi errem democritum, cetero ponderum perpetua ei mel, mei dico harum accumsan ei. Assum possit scaevola mea ei.</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="close()">Delete</button>
  <button type="button" class="btn btn-default" ng-click="close()">Cancel</button>
</div>
