<div class="modal-header">
  <h2 class="modal-title">Modal Headline</h2>
</div>
<div class="modal-body">
  <p>Duo ne perpetua liberavisse, iracundia efficiendi honestatis te per. Eu cetero accusam evertitur usu, vidit labores ullamcorper mei an. Legimus consectetuer vix id, quot minimum mentitum qui ut.</p>

  <div class="row">
    <div class="col-md-10">
      <div class="form-group">
        <label>Comments</label>
        <textarea class="form-control" rows="4" placeholder="Suggested text"></textarea>
      </div>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="close()">Save</button>
</div>
