<div class="modal-header">
  <h2 class="modal-title">Modal Headline</h2>
</div>
<div class="modal-body">
  <p>Duo ne perpetua liberavisse, iracundia efficiendi honestatis te per. Eu cetero accusam evertitur usu, vidit labores ullamcorper mei an. Legimus consectetuer vix id, quot minimum mentitum qui ut. Eam soluta utroque te, ea nec postea gubergren, has ut sint reprehendunt.</p>

  <div class="row">
    <div class="col-md-6">
      <label class="control radio" for="radio1">
        <input id="radio1" name="radio" type="radio" checked="">
        <span class="control-indicator"></span> Option 1 - 123456789
      </label>

      <label class="control radio" for="radio3">
        <input id="radio3" name="radio" type="radio">
        <span class="control-indicator"></span> Option 3 - 123456789
      </label>
    </div>

    <div class="col-md-6">
      <label class="control radio" for="radio2">
        <input id="radio2" name="radio" type="radio">
        <span class="control-indicator"></span> Option 2 - 123456789
      </label>

      <label class="control radio" for="radio4">
        <input id="radio4" name="radio" type="radio">
        <span class="control-indicator"></span> Option 4 - 123456789
      </label>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="close()">Save</button>
</div>
