<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Patterns</div>
          <h1>Page Errors</h1>
        </div>
      </div>
    </div>
  </div>

  <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a href="" du-smooth-scroll="guidelines">Guidelines</a></li>
            <li><a href="" du-smooth-scroll="404">404</a></li>
            <li><a href="" du-smooth-scroll="500">500</a></li>
            <li><a href="" du-smooth-scroll="variations">Variations</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>



<div class="container">


  <!-- 404 -->
  <div class="row" >
    <div class="col-md-8">
      <h1 id="guidelines" class="doc-head">Guidelines</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <p>Error pages should:</p>
      <ul>
        <li>Use iconography when possible</li>
        <li>Never exceed six columns in our grid</li>
        <li>Be written using plain, friendly and non-alarmist language</li>
        <li>Use sentence capitalization with a concluding period in headers</li>
      </ul>
    </div>
  </div>


  <!-- 404 -->
  <div class="row" >
    <div class="col-md-8">
      <h1 id="404" class="doc-head">404 Error Page</h1>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-md-8">
      <img class="img-responsive" src="modules/patterns/assets/images/404-primary.png" />
    </div>
  </div>



  <!-- 500 -->
  <div class="row" >
    <div class="col-md-8">
      <h1 id="500" class="doc-head">500</h1>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-md-8">
      <img class="img-responsive" src="modules/patterns/assets/images/500-primary.png" />
    </div>
  </div>



  <!-- OTHER -->
  <div class="row" >
    <div class="col-md-8">
      <h1 id="variations" class="doc-head">Variations</h1>
    </div>
  </div>

  <div class="row" >
    <div class="col-md-12">
      <h1 class="doc-sectionhead">404</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <img class="img-responsive" src="modules/patterns/assets/images/404-variation-1.png" />
      <img class="img-responsive spacer-top-lg" src="modules/patterns/assets/images/404-variation-2.png" />
    </div>
  </div>

  <div class="row" >
    <div class="col-md-12">
      <h1 class="doc-sectionhead">500</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <img class="img-responsive spacer-top-md spacer-bottom-xl" src="modules/patterns/assets/images/500-variation.png" />
    </div>
  </div>

</div>
