<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Patterns</div>
          <h1>Form Samples</h1>
        </div>
      </div>
    </div>
  </div>

  <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a href="" du-smooth-scroll="right-rail" offset="125">Right Rail</a></li>
            <li><a href="" du-smooth-scroll="column-layouts">Column layouts</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>



<div class="container">

  <div class="row spacer-top-xl">
    <div class="col-md-8">
      <p class="doc-lede">Here are some samples showing how different form elements (and size options) can be combined for maximum readability.</p>
    </div>
  </div>



  <div class="row" >
    <div class="col-md-8">
      <h1 id="right-rail" class="doc-head">Right Rail</h1>
      <p class="doc-lede">This sample shows a column of read-only data in the right rail.</p>
    </div>
  </div>


  <!--  -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">With Right Information Rail</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Shipping Address</h3>
    </div>
  </div>

  <div class="row spacer-top-md">

    <div class="col-md-6">

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" value="Melanie" />
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>Middle</label>
            <input type="text" class="form-control" value="Ann" />
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" value="Daniels" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Street Address (including apartment or unit #)</label>
            <input type="text" class="form-control" value="33 Painpaneu Street" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>City</label>
            <input type="text" class="form-control" value="Indianapolis" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>State / Province / Region</label>
            <select type="text" class="form-control">
              <option>Indiana</option>
            </select>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label>Postal Code</label>
            <input type="text" class="form-control" value="46201" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Phone Number</label>
            <input type="text" class="form-control" value="555-773-8877" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">


        <div class="controls-inline">
          <label class="control radio">
            <input id="radio11" name="radio" type="radio">
            <span class="control-indicator"></span>
            Floor wax
          </label>
          <label class="control radio">
            <input id="radio22" name="radio" type="radio">
            <span class="control-indicator"></span>
            Desert topping
          </label>
          <label class="control radio">
            <input id="radio33" name="radio" type="radio">
            <span class="control-indicator"></span>
            It's both
          </label>
        </div>

        </div>
      </div>

      <div class="row spacer-top-md">
        <div class="col-md-12">
          <button type="button" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-default">Cancel</button>
        </div>
      </div>

    </div>

    <div class="col-md-3 col-md-offset-1">

      <div class="read-only-data">

        <label>Order Placed</label>
        <p>2014-Aug-11 13:48 EST</p>

        <label>Order Confirmed</label>
        <p>2014-Aug-11 13:48 EST</p>

        <label>Expires</label>
        <p>2014-Aug-11 13:48 EST</p>

        <label>Denied Part Screening (DPS)</label>
        <p>Party Denied</p>

        <label>High Average Selling Price (ASP)</label>
        <p>Yes</p>

        <label>Country of Shipment</label>
        <p>US</p>

        <label>Hub</label>
        <p>KY</p>

        <label>Shipping Method</label>
        <p>Standard</p>

      </div>

    </div>
  </div>



  <div class="row" >
    <div class="col-md-8">
      <h1 id="column-layouts" class="doc-head">Column Layouts</h1>
      <p class="doc-lede">This sample shows how to make use of different form sizes, depending on how much room you have.</p>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Small Form - Use Four Columns</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>Commodity</label>
        <input type="text" class="form-control input-sm" />
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label>Parcel ID - UPID</label>
        <input type="text" class="form-control input-sm" />
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label>Partner</label>
        <select class="form-control input-sm">
          <option>Select Partner</option>
        </select>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label>TPID</label>
        <input type="text" class="form-control input-sm" />
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label>SKU</label>
        <input type="text" class="form-control input-sm" />
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label>Exceptional parcel number</label>
        <input type="text" class="form-control input-sm" />
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label>Partner item ID</label>
        <input type="text" class="form-control input-sm" />
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label>Inbound carrier tracking</label>
        <input type="text" class="form-control input-sm" />
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label>Merchant order number</label>
        <input type="text" class="form-control input-sm" />
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label>Outbound carrier tracking</label>
        <input type="text" class="form-control input-sm" />
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label>Return Merchandising Authorization</label>
        <input type="text" class="form-control input-sm" />
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Medium Form - Use Three Columns</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" />
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" />
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>Street</label>
            <input type="text" class="form-control" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Country</label>
            <select class="form-control">
              <option>All</option>
            </select>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>Postal Code</label>
            <input type="text" class="form-control" />
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>Phone</label>
            <input type="text" class="form-control" />
          </div>
        </div>
      </div>

    </div>
  </div>




  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Large Form - Use Two to Three Columns</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control input-lg" />
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>Country</label>
            <select class="form-control input-lg">
              <option>All</option>
            </select>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>City</label>
            <input type="text" class="form-control input-lg" />
          </div>
        </div>
      </div>

    </div>
  </div>






  <div class="row">
    <div class="col-md-12">
      <div class="read-only-data">

        <label>Order Placed</label>
        <p>2014-Aug-11 13:48 EST</p>

        <label>Order Confirmed</label>
        <p>2014-Aug-11 13:48 EST</p>

        <label>Expires</label>
        <p>2014-Aug-11 13:48 EST</p>

        <label>Denied Part Screening (DPS)</label>
        <p>Party Denied</p>

        <label>High Average Selling Price (ASP)</label>
        <p>Yes</p>

        <label>Country of Shipment</label>
        <p>US</p>

        <label>Hub</label>
        <p>KY</p>

        <label>Shipping Method</label>
        <p>Standard</p>

      </div>
    </div>
  </div>

</div>
