<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Patterns</div>
          <h1>Getting Started</h1>
        </div>
      </div>
    </div>
  </div>

  <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a href="" du-smooth-scroll="pointing-modal" offset="125">Pointing Modal</a></li>
            <li><a href="" du-smooth-scroll="walkthrough">Walkthrough</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>



<div class="container">


  <div class="row spacer-top-xl">
    <div class="col-md-8">
      <p class="doc-lede">Our &ldquo;getting started&rdquo; screens feature components that are for use only in this aspect of the experience flow.</p>
    </div>
  </div>


  <div class="row" >
    <div class="col-md-8">
      <h1 id="pointing-modal" class="doc-head">Pointing Modal</h1>
      <p class="doc-lede">Pointing modals float over a dimmed screen. They’re useful for explaining features that are procedural in nature. When using these elements we dim the entire screen behind them by placing a gray (#495D69) overlay at 50% opacity.</p>
    </div>
  </div>


  <!-- Dashboard 1 -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Welcome</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <img class="img-responsive" src="modules/patterns/assets/images/onboarding_1a.png" />
    </div>
  </div>



  <!-- Dashboard 2 -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Input with Tip</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <img class="img-responsive" src="modules/patterns/assets/images/onboarding_1b.png" />
    </div>
  </div>



  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Tile with Tip (1 of 3)</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <img class="img-responsive" src="modules/patterns/assets/images/onboarding_1c.png" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Tile with Tip (2 of 3)</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <img class="img-responsive" src="modules/patterns/assets/images/onboarding_1d.png" />
    </div>
  </div>



  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Tile with Tip (3 of 3)</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <img class="img-responsive" src="modules/patterns/assets/images/onboarding_1e.png" />
    </div>
  </div>




  <div class="row" >
    <div class="col-md-8">
      <h1 id="walkthrough" class="doc-head">Walkthrough</h1>
      <p class="doc-lede">Use walkthroughs to highlight discrete elements or functions in the experience flow.</p>
    </div>
  </div>


  <!-- Dashboard 4 -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Feature Flow (1 of 2)</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <img class="img-responsive" src="modules/patterns/assets/images/onboarding_2a.png" />
    </div>
  </div>


  <!-- Dashboard 5 -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Feature Flow (2 of 2)</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <img class="img-responsive" src="modules/patterns/assets/images/dashboards_2_1.png" />
    </div>
  </div>


  <!-- Dashboard 6 -->
  <!-- <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Walkthrough 3</h2>
    </div>
  </div>

  <div class="row">

    <div class="col-md-3">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi semper, purus quis viverra accumsan, eros ex porta nisl, ut rutrum neque sem in massa. Phasellus mattis lacus a est blandit, at lobortis velit egestas. Nulla lobortis accumsan justo, et fermentum nisi sollicitudin et. </p>
    </div>

    <div class="col-md-8 col-md-offset-1">
      <img class="img-responsive" src="modules/patterns/assets/images/walkthrough_03.png" />
    </div>
  </div> -->


</div>
