<!-- for the gradient -->
<div class="bg">

  <div class="centered-box">
    <h1 class="prod-name text-center">Product Name</h1>

    <div class="signin-box spacer-bottom-md">

      <h3 class="sign-in-title text-magenta spacer-bottom-sm">Reset Your Password</h3>

      <p>Forgot your password? We&rsquo;ll help you fix it.</p>

      <p>Enter the email address for your account. We&rsquo;ll send you a link to reset your password.</p>

      <form autocomplete="off" name="myForm" novalidate>
        <div class="form-group spacer-top-sm spacer-bottom-sm" ng-class="{'has-error': myForm.name.$error.required  && myForm.name.$dirty}">
          <label for="name">Email</label>
          <input class="form-control" name="name" ng-model-options="{ updateOn: 'blur' }" ng-model="myForm.data.name" required type="text">
          <span class="help-block" ng-show="myForm.name.$error.required && myForm.name.$dirty">Name is required.</span>
        </div>

        <button class="btn btn-primary btn-block btn-lg spacer-top-xs" type="submit">Send</button>
      </form>

      <p class="text-center spacer-top-md"><a href="">Return to Sign In</a></p>
    </div>
<!-- // end white box -->

    <div class="row signin-footer text-center">
      <div class="col-md-12">
        <p class="spacer-top-sm spacer-bottom-sm">
          <a href="http://www.pb.com">
            <i class="pb-footer-logo ko"></i>
          </a>
        </p>

        <p>
          <small>&copy; 2015 Pitney Bowes Inc. All rights reserved. <a href="">Privacy</a>&nbsp;|&nbsp;<a href="">Terms &amp; Conditions</a></small>
        </p>
      </div>
    </div>
  </div>

</div>
