<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Patterns</div>
          <h1>Sign In &amp; Sign Up</h1>
        </div>
      </div>
    </div>
  </div>

  <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a href="" du-smooth-scroll="sign-in" offset="125">Sign in</a></li>
            <li><a href="" du-smooth-scroll="forgot-password">Password</a></li>
            <li><a href="" du-smooth-scroll="sign-up">Sign Up</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>



<div class="container">


  <!-- SIGN IN -->
  <div class="row" >
    <div class="col-md-8">
      <h1 id="sign-in" class="doc-head">Sign In</h1>
      <p class="doc-lede">Sign In pages should present minimal information &mdash; enough for users to gain entry to a product or get help with lost access information.</p>
    </div>
  </div>



  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Sign In: Email or Username</h2>
    </div>
  </div>

  <div class="row ">
    <div class="col-md-6">
      <!-- <p>This option supports legacy applications, for which users may be using a non-email username.</p> -->
      <a href="" ui-sref="patterns.signin" target="_blank"><img class="img-responsive" src="modules/patterns/assets/images/sign_in.png" /></a>
    </div>
  </div>


  <!-- PASSWORD -->
  <div class="row" >
    <div class="col-md-8">
      <h1 id="forgot-password" class="doc-head">Password</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Request Password Reset Link</h2>
    </div>
  </div>

  <div class="row ">
    <div class="col-md-6">
      <a href="" ui-sref="patterns.reset-password" target="_blank"><img class="img-responsive" src="modules/patterns/assets/images/youre_invited.png" /></a>
    </div>
  </div>



  <!-- PASSWORD -->
  <div class="row" >
    <div class="col-md-8">
      <h1 id="sign-up" class="doc-head">Sign Up</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Sign Up Page</h2>
    </div>
  </div>

  <div class="row ">
    <div class="col-md-6">
      <a href="" ui-sref="patterns.sign-up" target="_blank"><img class="img-responsive" src="modules/patterns/assets/images/sign_up.png" /></a>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">You&rsquo;re Invited</h2>
    </div>
  </div>

  <div class="row ">
    <div class="col-md-6">
      <a href="" ui-sref="patterns.youre-invited" target="_blank"><img class="img-responsive" src="modules/patterns/assets/images/youre_invited.png" /></a>
    </div>
  </div>




</div>
