.pagination-container{
  display:block;
  width:100%;
  text-align:center;
}

.pagination{
  border:none;
}

.pagination > li > a,
.pagination > li > span,
.pagination > .active > a{
  font-size:1.286em;
  border:none;
}

.pagination > li > a,
.pagination > li > span{
  color:$pb-medium-blue-500;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus{
  color:$pb-gray-400;
}

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus{
  color:$pb-gray-700;
  background-color:transparent;
}

.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > span:focus{
  background-color:transparent;
  border:none;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span{
  font-size: 2em;
  line-height: .8em;
}