<div ng-class="pbRelatedTwocols ? 'col-sm-12' : 'col-sm-6'" class="related-support-module spacer-top-md spacer-bottom-lg">
    <h2 class="related-support-module__header header--sm spacer-bottom-sm no-margin-top">Related Support</h2>
    <ul class="row">
        <li ng-class="pbRelatedTwocols ? 'col-xs-12 col-md-6' : 'col-xs-12'"><a href="#">How to Return an Item</a></li>
        <li ng-class="pbRelatedTwocols ? 'col-xs-12 col-md-6' : 'col-xs-12'"><a href="#">Updating Account/Company Info</a></li>
        <li ng-class="pbRelatedTwocols ? 'col-xs-12 col-md-6' : 'col-xs-12'"><a href="#">Contract Request</a></li>
        <li ng-class="pbRelatedTwocols ? 'col-xs-12 col-md-6' : 'col-xs-12'"><a href="#">How to Add Account in Online Bill Pay</a></li>
    </ul>
</div>


