<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="#">Settings</a></li>
      <li><a href="#">Billing</a></li>
      <li class="active">Payment Method</li>
    </ol>
    <h1>Sample Content FPO</h1>

    <div class="controls-inline">
      <label class="control radio">
        <input id="radio11" name="radio" type="radio">
        <span class="control-indicator"></span>
        Local
      </label>
      <label class="control radio">
        <input id="radio22" name="radio" type="radio">
        <span class="control-indicator"></span>
        Server One
      </label>
      <label class="control radio">
        <input id="radio33" name="radio" type="radio">
        <span class="control-indicator"></span>
        Server Two
      </label>
    </div>

  </div>
</div>

<div class="row spacer-top-lg">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        USA
      </div>
      <div class="panel-body">
        <form>
          <div class="form-group">
            <label for="item1">Item 1</label>
            <input class="form-control" id="item1" placeholder="" type="text">
          </div>
          <div class="form-group">
            <label for="item2">Item 2</label>
            <input class="form-control" id="item2" placeholder="" type="text">
          </div>
          <div class="form-group">
            <label for="item3">Item 3</label>
            <input class="form-control" id="item3" placeholder="" type="text">
          </div>
          <div class="form-group">
            <label for="item4">Remote Routing</label>
            <select class="form-control" name="item4"></select>
          </div>

        </form>

      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Australia
      </div>
      <div class="panel-body">
        <form>
          <div class="form-group">
            <label for="item1a">Item 1</label>
            <input class="form-control" id="item1a" placeholder="" type="text">
          </div>
          <div class="form-group">
            <label for="item2a">Item 2</label>
            <input class="form-control" id="item2a" placeholder="" type="text">
          </div>
          <div class="form-group">
            <label for="item3a">Item 3</label>
            <input class="form-control" id="item3a" placeholder="" type="text">
          </div>
          <div class="form-group">
            <label for="item4">Remote Routing</label>
            <select class="form-control" name="item4"></select>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <button class="btn btn-primary">Save</button>&nbsp;&nbsp;
    <button class="btn btn-default">Cancel</button></div>
</div>
