<div class="list-group-section">
    <h3>Section One</h3>
    <div class="list-group">
    <a class="list-group-item active" href="">Validate Address</a>
    <a class="list-group-item" href="">Get Postal Codes</a>
    <a class="list-group-item" href="">Get City/State/Province</a>

  </div>
</div>

<div class="list-group-section">
    <h3>Section Two</h3>
    <div class="list-group">
    <a class="list-group-item" href="">Get Candidate Address</a>
    <a class="list-group-item" href="">Auto Complete</a>
  </div>
</div>

<div class="list-group-section">
    <h3>Section Three</h3>
    <div class="list-group">
    <a class="list-group-item" href="">Open the Pod Bay Doors</a>
    <a class="list-group-item" href="">Ship Parcel</a>
  </div>
</div>
