<div class="hero-main">

        <div class="title-unit">
          <div class="eyebrow">Design System 2</div>
          <h1>The blueprint for building<br>outstanding products</h1>
          <p>Great customer experiences require care and consistency. Use this guidance to align your product with our design, voice and brand standards.</p>
          <p class="versions">Versions: <a href="https://github.com/PBGUX/designsystem/tree/v2.2.0">Web 2.2.0</a>&nbsp;&nbsp;|&nbsp;&nbsp; <a href="http://dbygitmsprod.pbi.global.pvt/mobile-dev/mobiledesignsystem/commits/v1.1">iOS 1.1</a></p>
        </div>

        <!-- <img class="scroll-down-arrow" src="assets/images/scroll-down.svg" alt="" /> -->

</div>

<div class="hero-principles">

      <div class="diptych">
        <div class="image">
          <img alt="" class="img-responsive" src="assets/images/principles_image.jpg"/>
        </div>

        <div class="title-unit">
          <div class="eyebrow">Principles</div>
          <h1>Review the principles<br>that define our design,<br>experience and brand</h1>
          <p>
            <a class="btn btn-pill-brand" ui-sref="principles.page">Learn More</a>
          </p>
        </div>
      </div>

</div>

<div class="hero-web">

      <div class="diptych">
        <div class="title-unit">
          <div class="eyebrow">Web</div>
          <h1>Apply our standards<br>to your next<br>responsive web product</h1>
          <p>
            <a class="btn btn-pill-ko" ui-sref="weblanding">Learn More</a>
          </p>
        </div>

      <div class="image">
        <img alt="" class="img-responsive" src="assets/images/hero_web_image.png"/>
      </div>
    </div>


</div>


<div class="hero-mobile">

  <div class="diptych">

      <div class="image">
        <img alt="" class="img-responsive" src="assets/images/hero_mobile_image.png"/>
      </div>

        <div class="title-unit">
          <div class="eyebrow">Mobile</div>
          <h1>Build native mobile apps<br>that fully reflect our<br>standards</h1>
          <p>
            <a class="btn btn-pill-brand" ui-sref="mobilelanding">Learn More</a>
          </p>

          <!-- <ul class="list-inline home-links">
            <li><a class="link-ko" ui-sref="mobile.color">Foundation</a></li>
            <li><a class="link-ko" ui-sref="mobile.buttons">Elements</a></li>
            <li><a class="link-ko" ui-sref="mobile.navigation">Patterns</a></li>
          </ul> -->
        </div>

      </div>


</div>

<div class="hero-global">

  <div class="diptych">
        <div class="title-unit">
          <div class="eyebrow">Globalization</div>
          <h1>Learn how to prepare
            <br>your product for<br>a global audience</h1>
          <p>
            <a class="btn btn-pill-ko" ui-sref="globalization.page">Learn More</a>
          </p>
        </div>
      <div class="image">
        <img alt="" class="img-responsive" src="assets/images/hero_globalization_image.png"/>
      </div>
    </div>

</div>

<div class="hero-resources">

  <div class="diptych">
      <div class="image">
        <img alt="" class="img-responsive" src="assets/images/hero_resource_image.png"/>
      </div>
        <div class="title-unit">
          <div class="eyebrow">Resources</div>
          <h1>Browse our resources<br>for designers and<br>developers</h1>
          <p>
            <a class="btn btn-pill-brand" ui-sref="resources.tools">Learn More</a>
          </p>
        </div>
      </div>

</div>
