<!-- (1) Global Element - Support - Live Chat and Phone >-->
<div class="container-fluid">
    <div class="row">
        <div class="headline col-sm-12 col-sm-offset-1 col-xs-12 text-center">
            <h2 class="header--md spacer-bottom-md no-margin-top">Thank you. Your request has been submitted.</h2>
            <p>We will send you an update when the status changes. The deatils below are for your records.</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="container-fluid col-sm-12">
            <div class="col-sm-8 case-status-bar col-sm-offset-2">
                <span class="pull-left">Case Number: #1234567</span>
                <span class="pull-right case-status-mesg">Case Status: Open</span>
            </div>
            <form id="form" name="form" novalidate role="form">
            <div class="col-sm-4 col-sm-offset-2  case-status-detail">
                      <!-- Prefix only available in some markets - currently checks for user location -->
                    <div class="form-group form-inline required">
                        <label for="account">Account</label>
                        <span>PB DEMO(1234567890)</span></div>
                    <div class="form-group form-inline required">
                        <label for="name">Name:</label>
                        <span>Russell Blank</span>
                    </div>
                    <div class="form-group form-inline required">
                        <label for="address">Address:</label>
                        <span>123 Park ave, 12 FL,</span>
                        <span>NEW YORK, NY, 110015</span>
                    </div>


            </div>
            <div class="col-sm-4">
                <div class="container-fluid">
                    <div class="form-group form-inline required">
                        <label for="inquiry">Inquiry:</label>
                        <span>Account Support</span>
                    </div>
                    <div class="form-group form-inline required">
                        <label for="typeofissue">Type of Issue:</label>
                        <span>Make changes to my account</span>
                    </div>
                    <div class="form-group form-inline required">
                        <label for="details">Details:</label>
                        <span>Software Account</span>
                    </div>
                    <div class="form-group form-inline required">
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis neque vel ipsa, itaque illo iste ut repellat deserunt harum, </span>
                    </div>
                    <div class="form-group form-inline required">
                        <label for="attachment">Attachement:</label>
                        <span>Loremipsum.pdf </span>
                    </div>  </div>
            </div>
</form>
        </div>


    </div>
</div>
