<!-- (1) Global Element - Support - Live Chat and Phone >
<div pb-order-history-breadcrumbs></div-->


<div pb-create-case-breadcrumbs></div>

<div class="container-fluid">
    <!--========================================
    == Header
    =========================================-->
    <div class="row">
        <div class="headline col-sm-10 col-sm-offset-1 col-xs-12 text-center">
            <h2 class="header--sm spacer-bottom-md no-margin-top">Please verify your information</h2>
        </div>
    </div>
    <div class="row text-center">
        <div class="container-fluid col-sm-12 account-selection-option">
            <div class="col-sm-6" ng-repeat="item in accountissuedetailCtrl.issues[7].issueType[3].issueDetails">
                <form id="form" name="form" novalidate role="form" class="col-xs-12 col-sm-8 pull-right" ng-model="accountissuedetailCtrl.issues[7].issueType[3].issueDetails">
                    <!-- Prefix only available in some markets - currently checks for user location -->
                    <div class="form-group form-inline required">
                        <label for="account">Account</label>
                        <select class="form-control input-sm"
                                ng-class="{ 'error' : form.prefix.$invalid && form.prefix.$touched }" required>
                            <option value="123456789">PB DEMO(1234567890)</option>
                            <option value="2345678901">PB DEMO(2345678901)</option>
                            <option value="3456789012">PB DEMO(3456789012)</option>
                            <option value="4567890123">PB DEMO(4567890123)</option>
                           </select>
                        <div ng-show="form.$submitted || form.account.$touched">
                            <p class="error" ng-show="form.account.$error.required">
                                Please select account
                            </p>
                    <span class="icon-alert-circle error-icon"
                          ng-show="form.account.$invalid && form.account.$touched"></span>
                        </div>
                    </div>
                    <div class="form-group form-inline required">
                        <label for="name">Name:</label>
<span>{{item.name}}</span>
                    </div>

                    <div class="form-group form-inline required">
                        <label for="address">Address:</label>
                        <span>{{item.address}}</span>
                    </div>
                    <div class="form-group form-inline required">
                        <label for="inquiry">Inquiry:</label>
                        <a>Account Support</a>
                    </div>
                    <div class="form-group form-inline required">
                        <label for="typeofissue">Type of Issue:</label>
                        <a>Make changes to my account</a>
                    </div>
                    <div class="form-group form-inline required">
                        <label for="details">Details:</label>
                        <a>Software Account</a>
                    </div>
                    <div class="form-group form-inline required">
                        <textarea for="notes">Notes:</textarea>
                    </div>
                    <div class="form-group form-inline required">
                        <label for="attachment">Attachement:</label>
                        <button class="add_attachment" type="file" ngf-select="uploadFiles($file, $invalidFiles)"
                                accept="image/*"  ngf-max-size="5MB">
                            Add an attachment</button> <br><br>
                        <!--div class="hide"-->
                                File:
                        <div>{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
      <span class="progress" ng-show="f.progress >= 0">
          <div style="width:{{f.progress}}%"
               ng-bind="f.progress + '%'"></div>
      </span>
                            {{errorMsg}} </div>
                        </div>
                    <!--/div-->

                    <div class="pull-left">
                        <button class="rounded-button secondary spacer-top-md"
                                type="submit" ng-click="issuedetails();">
Submit Request                        </button>
                    </div>
                </form>
            </div>
            <div class="col-sm-6">
                <div class="container-fluid chat-box pull-left">
<h1>Don't Wait</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis neque vel ipsa, itaque illo iste ut repellat deserunt harum, voluptas debitis, autem perferendis omnis iure obcaecati. Incidunt ipsam molestiae deleniti!
                        Corporis neque vel ipsa, itaque illo iste ut repellat deserunt harum, voluptas debitis, autem perferendis omnis iure obcaecati. Incidunt ipsam molestiae deleniti!</p>
                   <div class="chat-details">
                  <a href="#"><i class="icn chat sm"></i>    </a>
                  <a href="#"><span class="text highlight-ph-link">Our chat team is here to help</span></a>

              </div>  </div>
            </div>

        </div>


    </div>
</div>