<!-- (1) Global Element - Support - Live Chat and Phone >
<div pb-order-history-breadcrumbs></div-->


<div pb-create-case-breadcrumbs></div>

<div class="container-fluid">
    <!--========================================
    == Header
    =========================================-->
    <div class="row">
        <div class="headline col-sm-10 col-sm-offset-1 col-xs-12 text-center">
            <h2 class="header--sm spacer-bottom-md no-margin-top">What do you need help with?</h2>
        </div>
    </div>
    <div class="row text-center">
        <ul class="container-fluid col-sm-12 account-selection-option">
            <li class="col-sm-4" ng-repeat="item in accountsupportCtrl.issues track by $index">
                <a class="col-xs-12 rounded-button btn-lg primary" ng-model="accountsupportCtrl.issues[$index]" ng-click="accounttypeofissue();">{{item.name }}</a>
            </li>
        </ul>
    </div>
</div>