<div pb-create-case-breadcrumbs></div>

<div class="container-fluid" ng-hide="accountselectionissue">
    <div class="row">
        <div class="headline col-sm-10 col-sm-offset-1 col-xs-12 text-center">
            <h2 class="header--sm spacer-bottom-md no-margin-top">What do you need help with?</h2>
        </div>
    </div>
    <div class="row text-center">
        <ul class="container-fluid col-sm-12 account-selection-option">
            <li class="col-sm-4" ng-repeat="item in selectissueCtrl.account track by $index">
                <a class="col-sm-12 rounded-button btn-lg primary" ng-model="selectissueCtrl.account[$index]" ng-click="accounttypeofissue();">{{item.name }}</a>
            </li>
        </ul>
    </div>
</div>

<div class="container-fluid" ng-show="accountselectionissue">
    <div class="row">
        <div class="headline col-sm-10 col-sm-offset-1 col-xs-12 text-center">
            <h2 class="header--sm spacer-bottom-md no-margin-top">What kind of issue are you having with your [name of product]?</h2>
        </div>
    </div>
    <div class="row text-center">
        <ul class="container-fluid col-sm-12 account-selection-option">
            <li class="col-sm-4" ng-repeat="item in selectissueCtrl.technical track by $index">
                <a class="col-sm-12 rounded-button btn-lg primary" ng-model="selectissueCtrl.technical[$index]" ng-click="technicalissuedetails();">{{item.name }}</a>
            </li>
        </ul>
    </div>
</div>