<!------------------------------------------------------------------------------------------------
                Template changes to address issues #11-17 & #29
            ------------------------------------------------------------------------------------------------->

<!------------------------------------------------------------------------------------------------
    The updates to the template includes:
    1. Fix issue #11 -
            * disable "By Postage Meter" title - changed from a tag to span
            * Removed ng-click from <a> tag that is now span
            * Removed divider <li> above title
            * Add class for sub menu styling, added '-' before the word Meter
    2. Fix issue #13 - Clicking Clear Results now resets the Filter by Statement / Date dropdown text.
            * Added "date" class to Last Statement dropdown in order to target title switch upon clear
            * Removed filters.activityDate from <a> tag
            * Added clear-button class needed for targeting to <a> tag
            # Added call to checkMonthYear function to reset current month to <a> tag
            * Added call to switchFilterText function to switch title to <a> tag
            * Consolidated icon logic into one span on <th>
    3. Fix issue #14 - Filter by Transaction fix
            * Updated ngClick on <th> and consolidated icon logic into one <span>
            * Updated <td> to filter value by num - to ensure numbers and not strings
    4. Fix issue #15 - Missing Date arrow on load
            * Initiate sort type by date on <table> on page load
            * Removed orderBy:dueDateFormatter from <tr> - was causing issues with other column sorting
            * Updated ngClick on <th> and consolidated icon logic into one <span>
    5. Fix issue #16 Removed sorting from PP Account #, Description, Reference / Meter, Postage on Meter
    6. Fix issue #29 Missing t in pull-left class

    ** These number can be referenced from the some of the comments below.
------------------------------------------------------------------------------------------------->

<!-- ====================================== START TAB PANE CONTENT =========================== -->
<div class="tab-pane panel-default fade in active" id="purchase-power">
    <div  class="visible-xs accordion__button container-fluid" ng-click="collapse = !collapse">
        <div class="row">
            <div class="col-xs-12">
                <span class="link header--sm">Purchase Power</span>
                <span ng-class="collapse ? 'icon-caret-down' : 'icon-caret-up'" class="primary pull-right"></span>
            </div>
        </div>
    </div>
    <div ng-hide="collapse" class="tab-pane-content">
        <div class="border-bottom gray">
            <section class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
                        <div pb-financial-overview pb-financial-overview-data="pPowerDetailCtrl.financialOverview" pb-financial-overview-back-link="financial.purchasepower({ collapse : true})"></div>
                        <div pb-notification-inline notification-data="notificationInline[0].PurchasePower"></div>
                    </div>
                </div>
            </section>
        </div>

        <div pb-notifications notification-list-data="pPowerDetailCtrl.notifications" additional-classes="notification--primary"></div>

        <!-- ====================================== RECENT ACTIVITY =========================== -->
        <section class="container-fluid">
            <div class="row spacer-bottom-md">
                <div class="col-sm-12 col-md-10 col-md-offset-1">
                    <div class="recent-activity__group__container row">
                        <!-- ========================= RECENT ACTIVITY TABLE FILTER DROPDOWNS ============= -->
                        <div class="recent-activity__headers col-xs-12">
                            <h2 class="header--sm no-margin-top pull-left hidden-xs">Account Activity</h2>
                            <!-- by date -->
                            <!-- Updated (See 2 above) -->
                            <div class="dropdown date pull-left">
                                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="text">Last Statement</span><span class="icon-down-arrow small medium-blue"></span></button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                    <li>
                                        <a ng-click="dateRange = false; checkMonthYear(); filters.activityDate = undefined; switchFilterText($event, 'Last Statement'); mobileClose($event);">Last Statement</a>
                                    </li>
                                    <li>
                                        <a ng-click="dateRange = !dateRange; switchFilterText($event,'Custom Date Range'); mobileClose($event);">Custom Date Range</a>
                                    </li>
                                </ul>
                            </div>

                            <!-- by account -->
                            <!-- singleAccount is a variable that was only set for a quick demonstration,
                            -- logic should be set based on if data contains a locations array etc -->
                            <!-- Updated (See 6 above) -->
                            <div ng-if="!singleAccount" class="dropdown pull-left hidden-xs">
                                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="text">All Account</span><span class="icon-down-arrow small medium-blue"></span></button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                    <li><a ng-click="filters.account = undefined; switchFilterText($event, 'All Account')">All Accounts</a></li>
                                    <li class="divider"></li>
                                    <li ng-repeat="transaction in pPowerDetailCtrl.detail | orderBy:'account' | unique:'account'">
                                        <a ng-click="filters.account = transaction.account; switchFilterText($event, transaction.account)">
                                            {{ transaction.account }}
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <!-- by transaction -->
                            <!-- Updated (See 1 above) -->
                            <div class="dropdown pull-left hidden-xs">
                                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="text">All transactions</span><span class="icon-down-arrow small medium-blue"></span></button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                    <li><a ng-click="setbyTransactionType(''); filters.refMeter = undefined; switchFilterText($event, 'All Transactions')">All Transactions</a></li>
                                    <li><a ng-click="setbyTransactionType('refMeter'); filters.refMeter = undefined; switchFilterText($event, 'Postage Transactions')">Postage Transactions</a></li>
                                    <!--<li class="divider"></li>-->
                                    <li><span aria-disabled="true" class="">By Postage Meter</span></li>
                                    <li ng-repeat="transaction in pPowerDetailCtrl.detail | orderBy:'refMeter' | unique:'refMeter'">
                                        <a ng-if="transaction.refMeter" ng-click="filters.refMeter = transaction.refMeter; switchFilterText($event, transaction.refMeter);" class="sub-menu">
                                            - Meter# {{ transaction.refMeter }}
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <!-- download -->
                            <div class="dropdown pull-right hidden-sm hidden-xs hidden-md">
                                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="text">Download</span><span class="icon-down-arrow small medium-blue"></span></button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                    <li><a>PDF</a></li>
                                    <li><a>CSV</a></li>
                                    <li><a>XLS</a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- daterange show when filter selected -->
                        <div ng-show="dateRange" class="recent-activity__datepicker border-bottom gray col-xs-12">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    <p class="daterange-label text-gray-300">Date Range</p>
                                    <div class="col-xs-12 col-sm-12">
                                        <figure>
                                            <!--div class="input-group">
                                                   <input class="form-control" date-range-picker ng-model="daterangepicker.date" options="daterangepicker.options" type="text"/>
                                                <span class="input-group-addon">
                                                    <i class="fa fa-fw fa-calendar"></i>
                                                </span>
                                              </div-->
                                            <div class="col-sm-5 date-range">
                                                <label>From:</label>
                                                <p class="input-group col-sm-8">
                                                    <!--input id="calender1" type="text" class="form-control" uib-datepicker-popup ng-model="dt1" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" /-->
                                                    <input type="text" class="form-control"  datepicker-popup="{{format}}" ng-model="startDate" is-open="opened.openedStart" datepicker-options="dateOptions" close-text="Close" />

                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default" ng-click="open($event,'openedStart')"> <i class="glyphicon glyphicon-calendar"></i>
                                                            </button>
                                                          </span>
                                                </p>
                                            </div>
                                            <div class="col-sm-5 date-range">
                                                <label>To:</label>
                                                   <p class="input-group col-sm-8">
                                                    <!--input id="calender2" type="text" class="form-control" uib-datepicker-popup ng-model="dt2" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" /-->
                                                       <input type="text" class="form-control"  datepicker-popup="{{format}}" ng-model="endDate" is-open="opened.openedEnd" datepicker-options="dateOptions" close-text="Close" />

                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default" ng-click="open($event,'openedEnd')">
                                                                <i class="glyphicon glyphicon-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </p>
                                            </div>
                                            <!-- Updated (See 2 above) -->
                                            <a class="clear-button" ng-click="filters.activityDate = undefined; dateRange = !dateRange; switchFilterText($event, 'Last Statement')">Clear Results</a>

                                        </figure>
                                    </div>
                                   </div>
                            </div>
                        </div>

                        <!-- ========================= RECENT ACTIVITY TABLE ========================= -->
                        <div class="recent-activity__table">
                            <!-- Updated (See 4 above) -->
                            <table class="spacer-bottom-md" ng-init="sortType = dueDateFormatter">
                                <thead class="hidden-xs">
                                <tr>
                                    <!-- Updated (See 2 above) -->
                                    <th class="hand-cursor" ng-click="sortType = dueDateFormatter; sortReverse = !sortReverse">
                                        Date
                                        <span class="fa" ng-class="{'fa-caret-up': sortType == dueDateFormatter && !sortReverse, 'fa-caret-down': sortType == dueDateFormatter && sortReverse}"></span>
                                    </th>
                                    <!-- singleAccount is a variable that was only set for a quick demonstration,
                                    -- logic should be set based on if data contains a locations array etc -->
                                    <!-- Updated (See 5 above) -->
                                    <th ng-if="!singleAccount">PP Account #</th>
                                    <th>Description</th>
                                    <th>Reference / Meter</th>
                                    <th>Postage on Meter</th>
                                    <!-- Updated (See 3 above) -->
                                    <th class="hand-cursor" ng-click="sortType = currencySortAmount; sortReverse = !sortReverse">
                                        Transaction Amount
                                        <span class="fa" ng-class="{'fa-caret-up': sortType == currencySortAmount && !sortReverse, 'fa-caret-down': sortType == currencySortAmount && sortReverse}"></span>
                                    </th>
                                </tr>
                                </thead>

                                <tbody>
                                <!-- Updated (See 4 above) -->
                                <tr dir-paginate="transaction in pPowerDetailCtrl.detail | orderBy:sortType:sortReverse | filter:filters | byTransactionTypeFilter:byTransactionTypeSet | itemsPerPage: 20">
                                    <td>{{ transaction.activityDate | formatDate:'MM/dd/yyyy'}}</td>
                                    <!-- singleAccount is a variable that was only set for a quick demonstration,
                                    -- logic should be set based on if data contains a locations array etc -->
                                    <td ng-if="!singleAccount" class="hidden-xs">....{{ transaction.account | limitTo: -4 }}</td>
                                    <td class="recent-activity__details">{{ transaction.descrip }}</td>
                                    <td ng-if="transaction.transfer" class="hidden-xs">{{ transaction.transfer }}</td>
                                    <td ng-if="transaction.refMeter" class="hidden-xs">{{ transaction.refMeter }}</td>
                                    <td >{{ transaction.postMeter }} on Meter</td>
                                    <!-- Updated (See 3 above) -->
                                    <td class="recent-activity__transaction-amount">{{ transaction.amount | num | currency }}</td>
                                </tr>
                                </tbody>

                            </table>

                            <!-- ========================= RECENT ACTIVITY PAGINATION ========================= -->
                            <dir-pagination-controls class="pagination-container"
                                                     [max-size=""]
                                                     [direction-links=""]
                                                     [boundary-links=""]
                                                     [on-page-change=""]
                                                     [pagination-id=""]
                                                     [template-url=""]
                                                     [auto-hide=""]>
                            </dir-pagination-controls>

                        </div>
                        <p class="subheader--md spacer-top-lg col-sm-10 col-md-12">You can view all your past and present statements in <a href="#">the billing section</a></p>
                    </div>
                </div>
            </div>


            <!-- ========================= RELATED LINKS  ========================= -->
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                    <div class="row">
                        <div pb-related-links pb-related-twocols="true"></div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>
<!-- ========================= END TAB PANE CONTENT ========================= -->

<!-- ====================================== MOBILE 'ACCORDION' LINK  =========================== -->
<div class="visible-xs accordion__button container-fluid" ui-sref="financial.prepaidaccount" >
    <div class="row">
        <div class="col-xs-12">
            <span class="link header--sm">Prepaid Accounts</span>
            <span class="primary pull-right icon-caret-down"></span>
        </div>
    </div>
</div>
