<section class="container-fluid">
    <div class="row">
        <div class="headline spacer-top-lg col-xs-12 col-sm-6 col-sm-offset-3">
            <h1 class="header--md spacer-top-sm text-center-xs">We're Sorry.</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <p>The link to complete your registration has expired.</p>
            <p><a ng-click="resendEmail2(user)">Request to resend link.</a></p>
       </div>
    </div>
</section>
