<div class="col-xs-12">
    <div class="notification">
        <div class="col-xs-9">
            <span class="notification__icon icon-alert-circle"></span>
            <span class="notification__message">Notification Message...</span>

        </div>
        <div class="col-xs-3">
            <a href="#" title="Call to action" class="notification__link pull-right">
                <span class="hidden-xs">Call to action</span>
                <span class="icon-next-circle"></span>
            </a>

        </div>
    </div>
    <div class="notification">
        <div class="col-xs-9">
            <span class="notification__icon icon-alert-circle"></span>
            <span class="notification__message">Notification Message...</span>

        </div>
        <div class="col-xs-3">
            <a href="#" title="Call to action" class="notification__link pull-right">
                <span class="hidden-xs">Call to action</span>
                <span class="icon-next-circle"></span>
            </a>
        </div>
    </div>
</div>