//* -- ACCORDION -- */
// default
div.accordion-group {
  .panel-body {
    padding: 15px;
  }
  // compact
  &.compact {
    .panel-default {
      border: 0;
      border-radius: 0;
      .panel-heading {
        border: 0;
        border-radius: 0;
        + .panel-collapse {
          .panel-body {
            border-top: 0;
          }
        }
      }
    }
    .panel + .panel {
      margin-top: 0;
    }
  }
  .panel-title {
    cursor: pointer;
    font-weight: 400;
    &:hover {
      color: $link-color;
      &:before {
        color: $link-color;
      }
    }
    &:before {
      @include triangle-closed;
      display: inline-block;
      margin-right: 5px;
      color: $pb-gray-500;
      transition: all 0.2s;
    }
    a {
      &:hover {
        color: $link-color;
        text-decoration: none;
      }
    }
  }
  .panel.active {
    .panel-title {
      &:before {
        @include triangle-opened;
      }
    }
    // for IE8
    .no-csstransforms &:before {
      content: '\25be';
    }
  }
}

.panel-group .panel {
  border-radius: 0;
  .panel-heading {
    background-color: rgba(200, 200, 200, .2);
    margin: 0;
    padding: 15px $panel-body-padding 10px;
  }
}
.collapse-button {
  cursor: pointer;
  &:hover {
    color: $link-color;
    &:before {
      color: $link-color;
    }
  }
  &:before {
    @include triangle-closed;
    display: inline-block;
    margin-right: 5px;
    color: $pb-gray-500;
    transition: all 0.2s;
  }
  &.open:before {
    @include triangle-opened;
  }
  // for IE8
  .no-csstransforms &.open:before {
    content: '\25be';
    // triangle down
  }
}
