.all-products__group__container{
  margin-top:$margin-md;
  color: $bodyFontColor;
  .medium-blue{
    color:$pb-blue-500;
  }
  @include breakpoint($tablet){
    margin-top:40px;
  }
}

.all-products{

  [class^="icon-"],
  [class*=" icon-"] {
    color: $pb-blue-500;
    margin: 0;
    padding: 0;
  }

  &__headers {
    margin-bottom:15px;

    h2 {
      display:inline-block;
      margin-bottom: 0;
      font-size:2.143em;
      margin-right:30px;
      @include breakpoint($desktop) {
        margin-right:60px;
      }
    }

    .dropdown {
      line-height: 2.357em;
      button {
      font-size:1em;
        line-height: 1em;
      padding-top:0;
      padding-bottom:0;
        vertical-align: bottom;
      //color:$pb-blue;
    }
      .dropdown-menu{
        margin-top:10px;
      }
    }

    @include breakpoint(0, $tablet) {
      .dropdown{
        display: block;
        width: 100%;
        button {
          font-size:$font-size-mobile-md;
          padding-left: 0;
          padding-right: 0;
        }
      }
      .dropdown-menu{
        width:100%;
      }
    }


    @include breakpoint($tablet, $screen-md) {
      .dropdown {
        display: inline-block;
        float: none !important;
      }
    }

    @include breakpoint($screen-md) {
      //.dropdown {
      //  margin-right: 15px;
      //}
      .dropdown,
      a {
        display: inline-block;
      }
    }

  }

  &__table{

    table{
      min-width:100%;
      clear:both;
    }

    thead,
    tbody {
      th,
      td {
        line-height: 1.2em;

        @include breakpoint(0, $tablet) {
          font-size: 1em;
          line-height: 1em;
          width:70%;
          padding-left:15px;
          padding-right:15px;
          &.all-products__expand{
            position:absolute;
            width:30%;
            top:$margin-lg;
            right:0;
            text-align:right;
            @include breakpoint(0,$tablet){
              font-size:$font-size-mobile-sm;
            }
          }
          &.all-products__details {
            font-size: 1.250em;
            line-height: 1.2em;
          }
          &[class*=col-]{
            display:block;
            float:left;
          }
        }
        @include breakpoint($tablet) {
          padding: 20px;
          font-size:1.05em;
        }


        &:first-of-type{
          @include breakpoint($tablet) {
            width: 35%;
          }
        }

        &.all-products__details{
          @include breakpoint($tablet) {
            width:20%;
          }
        }

      }
		
      td.td-hidden-no-padding {
      	 padding:0px;
      }
      
      td.td-hidden-padding {
      	 padding:10px;
      }
      
      td.td-light-grey {
      	 background-color: $pb-light-gray;
      }
      
      th {
        background-color: $pb-light-gray; // previously $pb-ui-gray;
        padding: 15px;
        vertical-align: middle;
        font-size: 0.857em;
        font-weight: $fontRegular;
        text-align:left;

        //&:nth-of-type(5),
        //&:nth-of-type(6) {
        //	text-align: right;
        //}
      }
    }

    tbody{
      tr.tr-visible-border{
        border-bottom: 1px solid $pb-gray-300;
        @include breakpoint(0, $tablet) {
          float:left;
          width:100%;
          padding-top:$margin-sm;
          padding-bottom:$margin-sm;
        }
      }
      
      tr.tr-hidden-border{
        border-bottom: 0px solid $pb-gray-300;
        @include breakpoint(0, $tablet) {
          float:left;
          width:100%;
          padding-top:$margin-sm;
          padding-bottom:$margin-sm;
        }
      }
    }

    tfoot {
      td{
        padding: 15px;
        text-align: center;

        a{ margin: 0 15px; }
      }
    }

    @include breakpoint(0, $tablet) {
        table,
      thead,
      tbody,
      tfoot,
      tr,
      td{
        display:block;
      }
      tr{
        position: relative;
      }
      td{
        padding: 5px 20px;
        line-height: 1em;
      }

    }
  }
	
  .search-box {
    width: 100%;
    display: inline-block;

    .select {
        //position: absolute;
        z-index: 1000;
    }

    input {
        height: 40px;
        padding: 5px 20px 6px;
        border: 1px solid $pb-gray-300;
        border-right: none;
        box-sizing: border-box;
        outline: none;
        @include border-left-radius(20px);
    }
    button {
        height: 40px;
        padding: 5px;
        font-size: 1em;
        border: 1px solid $pb-blue-500;
        background: $pb-blue-500;
        color: #fff;
        @include border-right-radius(20px);
    }

    .search-tips-link {
        width: 20%;
        margin: 15px 0;
        display: inline-block;
        text-align: center;
    }
  }
  
  &__datepicker{
    padding-top:20px;
    padding-bottom:20px;
    background-color: $pb-light-gray;
    a {
      line-height: 45px;
      margin-right:15px;
      display:inline-block;
    }
    button{
      margin-bottom:0;
      margin-top:5px;
    }
    @include breakpoint(0, $screen-md) {
      font-size:$font-size-mobile-md;
      figure{
        margin-right:-15px;
        margin-left:-15px;
      }
    }
  }

  &__datepicker-label{
    display:inline-block;
    float:left;
    line-height: 45px;
    @include breakpoint(0, $screen-md) {
      //clear:left;
      //width:15%;
      display:block;
      width:100%;
    }
  }
  
  &__download-link{
    @include breakpoint($tablet){
        font-size: $font-size-mobile-lg;
    }
  }
  
  &__next-line{
  	 @include breakpoint($tablet){
        text-align:center; padding-top:4px;
    }
  }  
  //
  //&__datepicker{
  //  padding-top:15px;
  //  border-bottom: 1px solid $pb-gray-300;
  //  background-color: $pb-light-gray;
  //  .rounded-button{
  //    margin-bottom:0;
  //  }
  //  a{
  //    margin-right:20px;
  //    line-height: 34px;
  //  }
  //
  //  .input-group.date{
  //    display:table-cell;
  //    label,
  //    .form-control{
  //      display:inline-block;
  //      padding:1px;
  //      border-radius:0;
  //    }
  //    .form-control{
  //      width:100px;
  //      margin-left:10px;
  //      margin-right:5px;
  //    }
  //    .input-group-addon{
  //      vertical-align:middle;
  //      font-size:26px;
  //    }
  //  }
  //}
}