<div class="container">

  <div class="row">
    <div class="col-md-8">
      <h1 id="badges" class="doc-head">Badges</h1>
      <p class="doc-lede">Badges offer a compact, attention-grabbing means to direct the user’s attention to important updates, statuses or alerts.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Icon Badges</h2>
    </div>
  </div>



  <div class="row">
    <div class="col-md-4">
      <figure>
        <!-- <figcaption>Badges</figcaption> -->
        <h2>Section Head</h2>
        <p class="text-success"><i class="fa fa-fw fa-check-circle fa-lg"></i> Confirmed</p>
      </figure>
    </div>

    <div class="col-md-4">
      <figure>
        <!-- <figcaption>Badges</figcaption> -->
        <h2>Section Head</h2>
        <p class="text-warning"><i class="fa fa-fw fa-exclamation-triangle fa-lg"></i> Warning</p>
      </figure>
    </div>

    <div class="col-md-4">
      <figure>
        <!-- <figcaption>Badges</figcaption> -->
        <h2>Section Head</h2>
        <p class="text-danger"><i class="fa fa-fw fa-exclamation-circle fa-lg"></i> Error</p>
      </figure>
    </div>
  </div>




  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Pill Badges</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">

      <figure>
        <!-- <figcaption>Badges</figcaption> -->
        <span class="badge">badge</span>
        <span class="badge badge-gray-text">gray-text</span>
        <span class="badge badge-gray-dark">gray-dark</span>
        <span class="badge badge-brand-danger">brand-danger</span>
        <span class="badge badge-brand-warning">brand-warning</span>
        <span class="badge badge-brand-success">brand-success</span>
        <span class="badge badge-brand-info">brand-info</span>
      </figure>

    </div>
  </div>

</div>
