<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Elements</div>
          <h1>User Feedback</h1>
        </div>
      </div>
    </div>
  </div>

  <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a href="" du-smooth-scroll="alerts" offset="125">Alerts</a></li>
            <li><a href="" du-smooth-scroll="toastrs">Toastrs</a></li>
            <li><a href="" du-smooth-scroll="badges">Badges</a></li>
            <li><a href="" du-smooth-scroll="progress-bars">Progress</a></li>
            <!-- <li><a href="" du-smooth-scroll="notifications">Notifications</a></li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>


<div ui-view="alerts"></div>
<div ui-view="toastrs"></div>
<div ui-view="badges"></div>
<div ui-view="progressbars"></div>
<div id="notifications" ui-view="notifications"></div>
