<div class="row">
  <div class="col-md-12">
    <h2 class="doc-sectionhead">Working with the Table Toolbar</h2>
  </div>
</div>

  <!-- ACTION ITEMS -->
  <div class="row">

    <div class="col-md-12">

      <figcaption>Action Items</figcaption>


        <div class="row toolbar spacer-bottom-md">

          <div class="col-md-12">

            <button class="btn btn-link" type="button">
              <i class="fa fa-plus"></i>
            </button>

            <div class="btn-group dropdown">
              <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-print"></i> <i class="fa fa-angle-down"></i>
              </button>
              <ul class="dropdown-menu">
                <li><a href="">Action</a></li>
                <li><a href="">Another action</a></li>
                <li><a href="">Something else here</a></li>
                <li><a href="">Separated link</a></li>
              </ul>
            </div>

            <button class="btn btn-link" type="button">
              <i class="fa fa-trash-o"></i>
            </button>

            <button class="btn btn-link" type="button">
              <i class="fa fa-pencil"></i>
            </button>

            <button class="btn btn-link" type="button">
              <i class="fa fa-external-link"></i> Export
            </button>

            <button class="btn btn-link" type="button">
              Import
            </button>

          </div>

        </div>

        <table class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Recipient</th>
              <th>Carrier</th>
              <th>Shipping Info</th>
              <th>Tracking #</th>
              <th>Status</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Date</td>
              <td>Recipient</td>
              <td>Carrier</td>
              <td>Shipping Info</td>
              <td>Tracking #</td>
              <td>Status</td>
              <td>Amount</td>
            </tr>
            <tr><td colspan="8">&#8230;</td></tr>
          </tbody>
        </table>


    </div>

  </div>





  <!-- FILTER ITEMS -->
  <div class="row spacer-top-md">

    <div class="col-md-12">

      <figcaption>Filter Items</figcaption>


        <div class="row toolbar spacer-bottom-md">

          <div class="col-md-12">

            <form class="form-inline pull-right">

              <div class="form-group dropdown">
                <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-fw fa-filter"></i>Filter One <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li class="dropdown-header">Show:</li>
                  <li>
                    <a>Show all</a>
                    <a>Example link</a>
                    <a>Example link</a>
                    <a>Example link</a>
                  </li>
                </ul>
              </div>

              <div class="form-group dropdown">
                <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                  Filter Two <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li class="dropdown-header">Show:</li>
                  <li>
                    <a>Show all</a>
                    <a>Example link</a>
                    <a>Example link</a>
                    <a>Example link</a>
                  </li>
                </ul>
              </div>

              <div class="form-group dropdown">
                <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                  Status: Filter Three <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li class="dropdown-header">Show:</li>
                  <li>
                    <a>Show all</a>
                    <a>Example link</a>
                    <a>Example link</a>
                    <a>Example link</a>
                  </li>
                </ul>
              </div>


              <div class="input-group">

                <div class="input-group-addon">
                    <i class="fa fa-fw fa-search"></i>
                </div>

                <input class="form-control search" type="text" placeholder="Search" required>
                <button class="btn btn-link search-clear" type="reset"><i class="fa fa-fw fa-times-circle"></i></button>
              </div>

            </form>

          </div>

        </div>

        <table class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Recipient</th>
              <th>Carrier</th>
              <th>Shipping Info</th>
              <th>Tracking #</th>
              <th>Status</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Date</td>
              <td>Recipient</td>
              <td>Carrier</td>
              <td>Shipping Info</td>
              <td>Tracking #</td>
              <td>Status</td>
              <td>Amount</td>
            </tr>
            <tr><td colspan="8">&#8230;</td></tr>
          </tbody>
        </table>


    </div>

  </div>





  <!-- GLOBAL UTILITY -->
  <div class="row spacer-top-md">

    <div class="col-md-12">

      <figcaption>Global Utility Items</figcaption>


        <div class="row toolbar spacer-bottom-md">

          <div class="col-md-12">

            <form class="form-inline pull-right">

              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default active">
                  <input type="radio" name="options-1" autocomplete="off" checked><i class="fa fa-fw fa-th-list"></i>
                </label>

                <label class="btn btn-default">
                  <input type="radio" name="options-1" autocomplete="off" checked><i class="fa fa-fw fa-th"></i>
                </label>
              </div>

            </form>

          </div>

        </div>

        <table class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Recipient</th>
              <th>Carrier</th>
              <th>Shipping Info</th>
              <th>Tracking #</th>
              <th>Status</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Date</td>
              <td>Recipient</td>
              <td>Carrier</td>
              <td>Shipping Info</td>
              <td>Tracking #</td>
              <td>Status</td>
              <td>Amount</td>
            </tr>
            <tr><td colspan="8">&#8230;</td></tr>
          </tbody>
        </table>


    </div>

  </div>




  <!-- SEARCH MENU -->
  <div class="row spacer-top-md">

    <div class="col-md-12">

      <figcaption>Search Field with Options Menu</figcaption>


        <div class="row toolbar spacer-top-md spacer-bottom-md">

          <div class="col-md-12">

            <form class="form-inline pull-right">

              <div class="input-group">

                <div class="input-group-btn">
                  <!-- <i class="fa fa-fw fa-search"></i> <i class="fa fa-fw fa-angle-down"></i> -->
                  <div class="btn-group dropdown">
                    <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                      <i class="fa fa-search"></i> <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="">Action</a></li>
                      <li><a href="">Another action</a></li>
                      <li><a href="">Something else here</a></li>
                      <li><a href="">Separated link</a></li>
                    </ul>
                  </div>
                </div>

                  <input class="form-control search" type="text" placeholder="Search" required>
                  <button class="btn btn-link search-clear" type="reset" ng-click="datatable.table.searchClear()"><i class="fa fa-fw fa-times-circle"></i></button>
              </div>


            </form>

          </div>

        </div>

        <table class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Recipient</th>
              <th>Carrier</th>
              <th>Shipping Info</th>
              <th>Tracking #</th>
              <th>Status</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Date</td>
              <td>Recipient</td>
              <td>Carrier</td>
              <td>Shipping Info</td>
              <td>Tracking #</td>
              <td>Status</td>
              <td>Amount</td>
            </tr>
            <tr><td colspan="8">&#8230;</td></tr>
          </tbody>
        </table>


    </div>

  </div>



  <!-- RECOMMENDED -->
  <div class="row spacer-top-md">

    <div class="col-md-12">

      <figcaption>All Items Displayed</figcaption>


        <div class="row toolbar spacer-top-md spacer-bottom-md">

          <div class="col-md-3">

            <div class="btn-group">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown">
                <i class="fa fa-print"></i> <i class="fa fa-angle-down"></i>
              </button>
              <ul class="dropdown-menu">
                <li><a href="">Action</a></li>
                <li><a href="">Another action</a></li>
                <li><a href="">Something else here</a></li>
                <li><a href="">Separated link</a></li>
              </ul>
            </div>


            <button class="btn btn-default" type="button">
              <i class="fa fa-external-link"></i> Export
            </button>

          </div>

          <div class="col-md-9">

            <form class="form-inline pull-right">

              <div class="form-group dropdown">
                <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-fw fa-filter"></i> Filter One <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li class="dropdown-header">Show:</li>
                  <li>
                    <a>Show all</a>
                    <a>Example link</a>
                    <a>Example link</a>
                    <a>Example link</a>
                  </li>
                </ul>
              </div>

              <div class="form-group dropdown">
                <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-fw fa-filter"></i> Filter Two <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li class="dropdown-header">Show:</li>
                  <li>
                    <a>Show all</a>
                    <a>Example link</a>
                    <a>Example link</a>
                    <a>Example link</a>
                  </li>
                </ul>
              </div>


              <div class="input-group">

                <div class="input-group-addon">
                    <i class="fa fa-fw fa-search"></i>
                </div>

                  <input class="form-control search" type="text" placeholder="Search" required>
                  <button class="btn btn-link search-clear" type="reset" ng-click="datatable.table.searchClear()"><i class="fa fa-fw fa-times-circle"></i></button>
              </div>

              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default active">
                  <input type="radio" name="options-1" autocomplete="off" checked><i class="fa fa-fw fa-th-list"></i>
                </label>

                <label class="btn btn-default">
                  <input type="radio" name="options-1" autocomplete="off" checked><i class="fa fa-fw fa-th"></i>
                </label>
              </div>

            </form>

          </div>

        </div>

        <table class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Recipient</th>
              <th>Carrier</th>
              <th>Shipping Info</th>
              <th>Tracking #</th>
              <th>Status</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Date</td>
              <td>Recipient</td>
              <td>Carrier</td>
              <td>Shipping Info</td>
              <td>Tracking #</td>
              <td>Status</td>
              <td>Amount</td>
            </tr>
            <tr><td colspan="8">&#8230;</td></tr>
          </tbody>
        </table>


    </div>

  </div>
