<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
      <h1 class="main-title">Paging Example</h1>
    </div>
  </div>


  <div class="row toolbar spacer-top-md spacer-bottom-md">

    <div class="col-md-3">

      <button type="button" class="btn btn-default" uib-tooltip="Add&nbsp;user">
        <i class="fa fa-fw fa-plus"></i>
      </button>

      <button ng-if="datatable.table.selectedRows.length" type="button" class="btn btn-default" uib-tooltip="Delete">
        <i class="fa fa-fw fa-trash-o"></i>
      </button>

      <button ng-if="datatable.table.selectedRows.length === 1" type="button" class="btn btn-default" uib-tooltip="Edit">
        <i class="fa fa-fw fa-pencil"></i>
      </button>

    </div>

    <div class="col-md-9">

      <form class="form-inline pull-right">

        <!-- <a href="" date-range-picker class="btn btn-link date-picker" type="text" ng-model="datatable.table.daterangepicker.date" options="datatable.table.daterangepicker.options">
          <i class="fa fa-fw fa-calendar"></i> {{datatable.table.daterangepicker.displayDate()}} <i class="fa fa-angle-down"></i>
        </a> -->

        <div class="form-group dropdown">
          <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-fw fa-filter"></i> {{datatable.table.search.country || 'All countries'}} <i class="fa fa-angle-down"></i>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">Country filter</li>
            <li>
              <a ng-click="datatable.table.search.country = ''">Show all</a>
            </li>
            <li class="divider"></li>
            <li ng-repeat="item in datatable.table.data | unique: 'country' | orderBy:'country'">
              <a ng-click="datatable.table.search.country = item.country">{{item.country}}</a>
            </li>
          </ul>
        </div>


        <div class="input-group">

          <div class="input-group-addon">
              <i class="fa fa-fw fa-search"></i>
          </div>

            <input class="form-control search" type="text" placeholder="Search" ng-model="datatable.table.search.$" ng-model-options="{debounce: 300}" required>
            <button class="btn btn-link search-clear" type="reset" ng-click="datatable.table.searchClear()"><i class="fa fa-fw fa-times-circle"></i></button>
        </div>

      </form>

    </div>

  </div>


  <div class="row">

    <div class="col-md-12">

      <table class="table table-datatable table-hover table-border-bottom">
        <thead>
          <tr>
            <th><input type="checkbox" ng-model="datatable.table.allRowsSelected" ng-click="datatable.table.selectAllRows()" ng-checked="datatable.table.selectAllFilteredRows()" /></th>
            <th>&nbsp;</th>
            <th>
              <a href="" class="text-nowrap" ng-click="datatable.table.sort.change('first_name')">First Name
                <i class="fa fa-fw fa-sort text-muted" ng-if="datatable.table.sort.type !== 'first_name'"></i>
                <i class="fa fa-fw fa-sort" ng-if="datatable.table.sort.type === 'first_name'" ng-class="{'fa-sort-desc': !datatable.table.sort.reverse, 'fa-sort-asc': datatable.table.sort.reverse}"></i>
              </a>
            </th>
            <th>
              <a href="" class="text-nowrap" ng-click="datatable.table.sort.change('last_name')">Last Name
                <i class="fa fa-fw fa-sort text-muted" ng-if="datatable.table.sort.type !== 'last_name'"></i>
                <i class="fa fa-fw" ng-if="datatable.table.sort.type === 'last_name'" ng-class="{'fa-sort-desc': !datatable.table.sort.reverse, 'fa-sort-asc': datatable.table.sort.reverse}"></i>
              </a>
            </th>
            <th>Email</th>
            <th>Country</th>
            <th>Created</th>
            <th>Type</th>
            <th style="width: 300px;">Groups</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-if="!datatable.table.dataFiltered.length">
            <td colspan="9" class="text-center">There are no results.</td>
          </tr>
          <tr ng-click="datatable.table.selectRow(item, $event)"
              dir-paginate-start="item in datatable.table.dataFiltered = (datatable.table.data | orderBy:datatable.table.sort.type:datatable.table.sort.reverse | filter: datatable.table.search | daterange:datatable.table.daterangepicker.date.startDate:datatable.table.daterangepicker.date.endDate) | itemsPerPage: datatable.table.paging.size"
              ng-class="{'row-open': item.showDetails, 'table-row-selected': item.selected}">

            <td><input type="checkbox" ng-model="item.selected" ng-click="datatable.table.selectRow(item, $event)"></td>
            <td>
              <a href="" ng-init="item.showDetails = false" ng-click="datatable.table.showDetails(item, $event)">
                <i class="fa fa-fw fa-lg fa-angle-right transition-all" ng-class="{'fa-rotate-90': item.showDetails}"></i>
              </a>
            </td>
            <td>{{::item.first_name}}</td>
            <td>{{::item.last_name}}</td>
            <td><a href="#" ng-click="datatable.table.selectEmail(item, $event)">{{::item.email}}</a></td>
            <td><span class="text-nowrap">{{::item.country}}</span></td>
            <td>{{::item.date.created | date:'MM/dd/yyyy'}}</td>
            <td><i class="fa fa-fw" ng-class="{'fa-user': item.userType === 'user', 'fa-user-secret': item.userType === 'admin'}"></i></td>
            <td>
              <span ng-repeat="group in (item.groups | orderBy: group | limitTo: item.limit || datatable.table.groups.min) track by $index">
                {{::group}}<span ng-if="!$last">, </span>
              </span>
              <div>
                <a class="small" href="" ng-if="item.groups.length > datatable.table.groups.min" ng-show="!item.limit" ng-click="datatable.table.showMore(item, true, $event)">Show more</a>
                <a class="small" href="" ng-show="item.limit" ng-click="datatable.table.showMore(item, false, $event)">Show less</a>
              </div>
            </td>
          </tr>
          <tr class="table-details" dir-paginate-end="item in datatable.table.data">
            <td></td>
            <td></td>
            <td colspan="8">
              <div uib-collapse="!item.showDetails">
                <div class="table-details-content">

                  <div class="row">

                    <div class="col-md-3">

                      <dl class="condensed">
                        <dt>Phone Numbers</dt>
                        <dd>Work: {{::item.phone.work}}</dd>
                        <dd>Cell: {{::item.phone.cell}}</dd>
                      </dl>

                    </div>

                    <div class="col-md-3">

                      <dl class="condensed">
                        <dt>Address</dt>
                        <dd>{{::item.address.street}}</dd>
                        <dd>{{::item.address.city}}, {{::item.address.state}} {{::item.address.postalCode}}</dd>
                      </dl>

                    </div>

                    <div class="col-md-2">

                      <dl class="condensed">
                        <dt>IP Address</dt>
                        <dd>{{::item.ip_address}}</dd>
                      </dl>

                    </div>

                    <div class="col-md-3">

                      <dl class="condensed">
                        <dt>Website</dt>
                        <dd>{{::item.url}}</dd>
                      </dl>

                    </div>

                  </div>

                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>

  <div class="row toolbar toolbar-footer">

    <div class="col-md-2 col-md-push-5 text-center">
      <form class="form-inline">
        <select class="form-control" ng-model="datatable.table.paging.size" ng-options="size as size for size in datatable.table.paging.sizes"></select> per page
      </form>
    </div>



      <div dir-pagination-controls boundary-links="true" template-url="modules/tables/templates/tables-datatable-dirPaginate.html"></div>



  </div>

</div>
