<main class="main-content login">
    <section class="container-fluid">
        <div class="row">
            <div class="headline col-xs-12 col-sm-8 col-sm-offset-2">
                <h1>Sign into your account</h1> 
            </div>
        </div>
        <div class="row">
            <form role="form" class="border-bottom col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="form-group required ">

                    <label for="login">Email</label>



                    <input type="text"
                        class="form-control" id="login" 
                        placeholder="" data-error-type="" 
/> 

                </div> 
                <div class="form-group required ">

                    <label for="login">Password</label>


                    <a href="#" class="pull-right">Forgot your password?</a>
                    <input type="password"
                        class="form-control" id="login" 
                        placeholder="" data-error-type="" 
/> 

                </div> 
                <button class="rounded-button primary"


 type="submit" >
                Sign in</button>

                <div class="checkbox">
                    <input type="checkbox" id="remember-me" data-error-type="confirm-check"/>
                    <label for="remember-me">
                        <i></i>
                        <span class="checkbox-custom"></span>
                        <span>Remember me</span>
                    </label>
                </div>
            </form>
        </div>
        <div class="row">
            <p class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                Not a registered user? <a href="#" class="">Sign up now</a>
            </p>
        </div>
    </section>

</main>