  <div class="container-fluid footer-thin">
    <div class="row">
      <!-- Copyright -->
      <div class="col-md-4">
         <a href="http://www.pb.com"><i class="pb-footer-logo gradient"></i></a>&copy; 2015 Pitney Bowes Inc. All rights reserved.
        </div>
      <!-- Legal -->
      <div class="col-md-5 text-center">
        <ul class="list-unstyled list-inline legal">
          <li><a href="" target="_blank">Terms &amp; Conditions</a></li>
          <li><a href="" target="_blank">Privacy Policy</a></li>
        </ul>
      </div>
      <!-- Social -->
      <div class="col-md-3 text-right xs-text-left">
        <ul class="list-unstyled list-inline social">
          <li>Follow us:</li>
          <li>
            <a target="_blank" class="fa-stack twitter" href="https://twitter.com/pitneybowes">
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x"></i>
            </a>
          </li>
          <li>
            <a target="_blank" class="fa-stack facebook" href="http://www.facebook.com/pitneybowes">
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x"></i>
            </a>
          </li>
          <li>
            <a target="_blank" class="fa-stack linkedin" href="http://www.linkedin.com/company/pitney-bowes">
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x"></i>
            </a>
          </li>
          <li>
            <a target="_blank" class="fa-stack google-plus" href="https://plus.google.com/+pitneybowes">
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa fa-google-plus fa-stack-1x"></i>
            </a>
          </li>
          <li>
            <a target="_blank" class="fa-stack youtube" href="http://www.youtube.com/user/PitneyBowesInc">
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa fa-youtube-play fa-stack-1x"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
