<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <!-- <div class="eyebrow">Elements</div> -->
          <h1>Guidance for Responsive Web</h1>
        </div>
      </div>
    </div>
  </div>

  <!-- <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a href="" du-smooth-scroll="foundations">Foundations</a></li>
            <li><a href="" du-smooth-scroll="elements">Elements</a></li>
            <li><a href="" du-smooth-scroll="patterns">Patterns</a></li>

          </ul>
        </div>
      </div>
    </div>
  </div> -->

</div>



<div class="container">

  <div class="row">
    <div class="col-md-4">
    <div class="row">
      <div class="col-md-12">
        <h1 class="doc-head" id="foundations">Foundations</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        Foundations encompass a product’s building blocks — the “look, feel and tone” aspects of a product that reflect Pitney Bowes as a brand.
        <ul class="section-list">
          <li ng-repeat="item in SLC.nav[1].Web[0].children[0].children[0].children">
              <a href="" ui-sref="{{item.value}}" >{{item.label}}</a>
          </li>
        </ul>
      </div>
    </div>

    </div>
    <div class="col-md-4">

    <div class="row">
      <div class="col-md-12">
        <h1 class="doc-head" id="elements">Elements</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        Elements are the individual components of a product — the means by which your users interact with your product on a practical and functional level.

        <ul class="section-list">
          <li ng-repeat="item in SLC.nav[1].Web[0].children[0].children[1].children">
              <a href="" ui-sref="{{item.value}}" >{{item.label}}</a>
          </li>
        </ul>
      </div>
    </div>



    </div>
    <div class="col-md-4">

    <div class="row">
      <div class="col-md-12">
        <h1 class="doc-head" id="patterns">Patterns</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 ">
        Patterns show how to combine our design foundation with our design elements to address common product design scenarios.


        <ul class="section-list">
          <li ng-repeat="item in SLC.nav[1].Web[0].children[0].children[2].children">
              <a href="" ui-sref="{{item.value}}" >{{item.label}}</a>
          </li>
        </ul>
      </div>
    </div>



    </div>
  </div>







</div>
