<div class="container">

  <div id="action-buttons" class="row">
    <div class="col-md-8">
      <h1 id="about-globalization" class="doc-head">About Globalization</h1>
      <p class="doc-lede">In some external resources you might see various terms associated with globalization used interchangeably. But at Pitney Bowes, these terms mean specific things.</p>
    </div>
  </div>


  <div class="row">
    <div class="col-md-8">

      <p>&ldquo;Globalization&rdquo; is a broad term that refers to the entire set of activities involved in making a product ready for markets outside of the U.S. &ldquo;Internationalization&rdquo; refers to a sub-set of activities that focuses on isolating the parts of your product that will need to be adapted for non-U.S. markets. These activities include &ldquo;Regionalization&rdquo; and &ldquo;Localization.&rdquo;</p>

      <p>Here&rsquo;s a deeper look at what these concepts mean:</p>

      <h3>Globalization</h3>

      <ul>
        <li>Considers all world markets as potential audiences</li>
        <li>Helps ensure that your product is both culture- and language-neutral</li>
        <li>Is critical to a successful multi-cultural product release and should be undertaken early</li>
        <li>Consists of many activities that touch various aspects of the product development process and experience for end users</li>
      </ul>

      <h3>Internationalization</h3>

      <ul>
        <li>Is the first step in the process of globalizing your product, helping you to prepare your product for specific regions and countries</li>
        <li>Is focused on isolating the parts of your product that will vary from the U.S. version in terms of standards, language, conventions, etc.</li>
        <li>Touches on all aspects of development, from initial design to building to testing</li>
        <li>Encompasses and informs two sub-activities: regionalization and localization</li>
      </ul>

      <h3>Regionalization</h3>

      <ul>
        <li>Identifies region- or country-specific requirements</li>
        <li>Requires help from local subject matter experts</li>
        <li>Helps ensure that your product meets various regional and country legislative, legal or other requirements, such as privacy or data storage laws</li>
      </ul>

      <h3>Localization</h3>

      <ul>
        <li>Typically refers to language-related activities</li>
        <li>Involves translation of UI elements, errors, help content, installers and other documentation from English to languages defined during regionalization planning</li>
      </ul>

      <p>Globalization is a one-time investment you make early &mdash; before you write your first line of code &mdash; to save your team from having to make a much larger investment later on. While you&rsquo;ll still need to perform regionalization and localization work for each new country release, you&rsquo;ll find it easier, faster and more economical to do so with a solid globalization strategy in place first.</p>

    </div>
  </div>
  </div>
