<div class="container">


  <div id="action-buttons" class="row spacer-top-xl">
    <div class="col-md-8">
      <p class="doc-lede">All Pitney Bowes products should be developed with global considerations in mind, even if you&rsquo;re only planning on a U.S. release now. Those plans could change, and how well you’ve planned ahead can make a big difference in how quickly, easily and affordably you can adapt your product for audiences outside the U.S.</p>
    </div>
  </div>


  <div class="row">
    <div class="col-md-8">
      <h1 id="process" class="doc-head">Process</h1>
      <p class="doc-lede">There is a set process at Pitney Bowes for globalizing your product. Fortunately, the Globalization Team&rsquo;s deep experience and expertise can help you ease that process. Remember that it’s never too early to start preparing your product for global consumption.</p>
    </div>
  </div>




  <div class="row">
    <div class="col-md-8">
      <h3>About the Globalization Team</h3>

      <p>Our team is, not surprisingly, distributed around the world within the GUX group (engineering). Here are some quick facts about us:</p>

      <ul>
        <li>We&rsquo;re located in the U.S., France, Germany and Poland.</li>
        <li>We consist of seven dedicated Project Managers working under one Globalization Director.</li>
        <li>Our members&rsquo; native languages include Japanese, German, Swedish, Russian, Portuguese, Polish and French.</li>
        <li>We&rsquo;re trained in Agile and can serve as fully integrated members of your team as early as you wish.</li>
        <li>You can reach us at <a href="mailto:globalization@pb.com">globalization@pb.com</a> or through our <a href="https://www.yammer.com/pb.com/#/threads/inGroup?type=in_grou&feedId=72211" target="blank">Yammer</a> group.</li>
      </ul>

      <h3>Services We Provide</h3>

      <p>By Including globalization as a critical, early aspect of your development process you’ll ultimately be saving yourself time, headaches and money &mdash; it can mean the difference between fixing a bug once and having to fix it in every single localized product later on.</p>

      <p>Here&rsquo;s what we can provide:</p>

      <ul>
        <li>Initial assessments of your product</li>
        <li>Strategies for streamlining the process of making your product world-friendly</li>
        <li>Early validation assessments using tools such as pseudo localization</li>
        <li>Advice and expertise throughout design, development and testing</li>
        <li>Complete management and oversight of all aspects of localization</li>
      </ul>

      <h3>Typical Steps and Timeline</h3>

      <p>The length of a globalization effort can vary depending on your product&rsquo;s size, complexity and number of target languages. Here&rsquo;s a typical, generic overview of the globalization process:</p>

      <p>
        <img src="modules/globalization/assets/images/globalization_process.png" alt="" class="img-responsive" />
      </p>

      <h3>Funding Considerations</h3>

      <p>We use professional translators and agencies, at competitive rates, but we don&rsquo;t have a budget to buy those services ourselves. This means that, once Product Management has determined your product&rsquo;s localization needs, you&rsquo;ll need a Purchase Order to cover your localization costs. The Globalization Team can help you size your product&rsquo;s requirements and provide an estimate. Be ready to provide your Cost Center when you <a href="mailto:globalization@pb.com">contact</a> us.</p>

    </div>
  </div>
  </div>
