<!--
    Fixed Issue #47 - Changed Email type from email to text 
-->

<section class="container-fluid" ng-hide="emailSent">
    <div class="row">
        <div class="headline spacer-top-lg col-xs-12 col-sm-6 col-sm-offset-3">
            <h1 class="header--md spacer-top-sm text-center-xs">Forgot your password?</h1>
            <h2 class="subheader--sm text-center-xs">Please enter your email to get started.</h2>
        </div>
    </div>
    <div class="row">
        <form role="form" novalidate name="form"
            class="form col-xs-12 col-sm-6 col-sm-offset-3">
            <div class="form-group required">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" name="email" ng-model="user.email"
                    ng-class="{ 'error' : form.email.$invalid && form.email.$touched }" required/>
                
                <div ng-show="form.$submitted || form.email.$touched">
                    <p class="error" ng-show="form.email.$error.required">
                        Email is empty.
                    </p>
                    <p class="error" ng-if="form.email.$error.email">
                        Email is not valid.
                    </p>
                    <span class="icon-alert-circle error-icon" 
                        ng-if="form.email.$error.required && form.email.$error.email"></span>
                </div>
            </div>
            <div class="message message--login" ng-show="form.email.$valid && checkEmail()">
                <div class="col-xs-12">
                    <div class="form-group">
                    	<input type="radio" class="form-control" name="forgot-password-option" id="security-question"
                            ng-model="user.resetOption" value="question" ng-change="getSecurityQuestion()" required/>
                    	<label for="security-question">
                    	    <span class="radio-custom"><i></i></span>
                    	    <span>Answer my security question </span>
                    	</label>
                    </div>
                </div>
                <div class="col-xs-10" ng-if="!!user.securityQuestion && user.resetOption == 'question'">
                    <div class="form-group inner">
                        <label for="answer">{{user.securityQuestion.text}}</label>
                        <input type="text" class="form-control" id="answer" ng-model="user.answer" name="answer"
                        ng-class="{ error: form.answer.$invalid && form.answer.$touched || user.status == 'failed'}"
                        ng-required="!!user.securityQuestion"/>
                        
                        <div ng-show="form.$submitted || form.answer.$touched">
                            <p class="error" ng-if="form.answer.$error.required">
                                Answer is empty.
                            </p>
                            <p class="error" ng-if="user.status == 'failed'">
                                Your answer does not match our records. <br/> 
                                Please try again. 
                            </p>
                            <span class="icon-alert-circle error-icon" ng-if="user.status == 'failed' || form.answer.$error.required"></span>
                        </div>

                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                    	<input type="radio" class="form-control" name="forgot-password-option" id="email-password"
                            ng-model="user.resetOption" value="email" required />
                    	<label for="email-password">
                    	    <span class="radio-custom"><i></i></span>
                    	    <span>Email me to reset my password</span>
                    	</label>
                    </div>
                </div>
            </div>

            <button class="rounded-button primary" type="submit" ng-class="{gray:form.$invalid}" 
                ng-disabled="form.$invalid" ng-click="submit(user,form)">
                Continue
            </button>

            <hr class="spacer-top-md"/>
        </form>
    </div>
    <div class="row">
        <p class="col-xs-12 col-sm-6 col-sm-offset-3 text-gray-500">
            If you need further assistance, <a href="#">chat with a support representative.</a>
        </p>
    </div>
</section>

<section class="container-fluid" ng-show="emailSent">
    <div class="row">
        <div class="headline spacer-top-lg col-xs-12 col-sm-6 col-sm-offset-3">
            <h1 class="header--md spacer-top-sm text-center-xs">Thank you.</h1>
        </div>
    </div>
    <div class="row">
        <div class="spacer-top-sm col-xs-12 col-sm-6 col-sm-offset-3">
            <p>
                A link to reset your password has been sent to: {{user.email}}
            </p>
            <p class="spacer-bottom-lg">
                Click the link to create a new password you'll remember to access your account.
            </p>
            <p>
                <a ui-sref="home" class="rounded-button primary">Back to Home</a>
            </p>
        </div>
    </div>
</section>