<div pb-profile-management-breadcrumbs></div>

<section class="container-fluid">
    <div class="row">
        <div class="headline col-xs-12 col-sm-6 col-sm-offset-3 ">
            <p class="ps-light text-center-xs spacer-bottom-md">All Fields Required</p>
            <h1 class="header--lg text-center-xs spacer-bottom-lg no-margin-top">Profile Management</h1>
        </div>
    </div>
</section>

<div pb-profile-management-tabs></div>

<div class="tab-content" pb-on-mobile="pb-accordion-mobile">
    <div ui-view="tabContent" autoscroll="false"></div>
</div>
