<section class="container-fluid">
    <div class="row">
        <div class="headline spacer-top-lg col-xs-12 col-sm-6 col-sm-offset-3">
            <h1 class="header--md spacer-top-sm text-center-xs">Reset Your Password</h1>
            <h2 class="subheader--sm text-center-xs">
                Enter a new password for: <span class="bold">{{user.email}}</span>.
            </h2>
            <ul class="text-gray-300 spacer-bottom-md">
                <li>Your password must be between 8-20 characters long</li>
                <li>Contain at least one upper case letter, one digit or one special character</li>
                <li>Must not contain your name, username or email address</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <form id="your-info-form" novalidate role="form" name="form"
            class="col-xs-12 col-sm-6 col-sm-offset-3">
            <div class="form-group required">
                <label for="password">New Password</label>
                <input type="password" class="form-control" id="password" name="password" ng-model="user.password" 
                    ng-class="{ 'error' : form.password.$invalid && form.password.$touched }" maxlength="20" 
                    ng-pattern="/(?=.*[A-Z])(?=.*[\d!@#$%^&*-?~()])[A-Za-z\d!@#$%^&*-?~()]{8,20}/" required/>
                    <div ng-if="form.$submitted || form.password.$touched">
                        <p class="error" ng-if="form.password.$error.required">
                            Password empty
                        </p>
                        <p class="error" ng-if="form.password.$error.pattern">
                            Password invalid
                        </p>
                        <span class="icon-alert-circle error-icon"
                        ng-if="form.password.$error.pattern || form.password.$error.required"></span>
                    </div>
            </div>
            <div class="form-group required">
                <label for="confirmPassword">Confirm New Password</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" 
                    ng-model="user.confirmPassword" maxlength="20" required
                    ng-class="{ 'error' : form.confirmPassword.$invalid && form.confirmPassword.$touched }" 
                    pb-validation-match="user.password" />
                <div ng-if="form.$submitted || form.confirmPassword.$touched">
                    <p class="error" ng-if="form.confirmPassword.$error.required">
                        Please confirm your password
                    </p>
                    <p class="error" ng-if="form.confirmPassword.$error.match && !form.confirmPassword.$error.required">
                        Password and confirm password don’t match
                    </p>
                    <span class="icon-alert-circle error-icon"
                        ng-if="form.confirmPassword.$error.match || form.confirmPassword.$error.required"></span>
                </div>
            </div>

            <button class="rounded-button primary" ng-class="{gray:form.$invalid}"
                ng-disabled="form.$invalid" ng-click="reset(user,form)">
                Submit
            </button>
            <hr/>
        </form>
    </div>
    <div class="row">
        <p class="col-xs-12 col-sm-6 col-sm-offset-3 text-gray-500">
            If you need further assistance, <a href="#">chat with a support representative.</a>
        </p>
    </div>
</section>