<!-- ====================================== MOBILE 'ACCORDION' LINK  =========================== -->
<div class="visible-xs accordion__button container-fluid" ui-sref="account.profilemanagement.basicinfo" >
    <div class="row">
        <div class="col-xs-12">
            <span class="link header--sm">Basic Info</span>
            <span class="primary pull-right icon-caret-down"></span>
        </div>
    </div>
</div>

<!-- ====================================== MOBILE 'ACCORDION' LINK  =========================== -->
<div  class="visible-xs accordion__button container-fluid" ng-click="collapse = !collapse">
    <div class="row">
        <div class="col-xs-12">
            <span class="link header--sm">Password & Security</span>
            <span ng-class="collapse ? 'icon-caret-down' : 'icon-caret-up'" class="primary pull-right"></span>
        </div>
    </div>
</div>

<section ng-hide="collapse" class="container-fluid">
    <div class="row">
        <form id="form" name="form" novalidate role="form" class="col-xs-12 col-sm-6 col-sm-offset-3 spacer-top-lg">

            <div class="info-call-out spacer-bottom-md ">
                <p class="spacer-bottom-sm text-gray-500">Set Your Password</p>
                <ul class="text-gray-300">
                    <li>Your password must be between 8-20 characters long</li>
                    <li>Must contain at least one upper case letter, one digit or one special character</li>
                    <li>Must not contain your name, username or email address.</li>
                </ul>
            </div>

            <div class="form-group">
                <label for="password">Current Password</label>
                <input type="password" class="form-control" id="password" name="password" maxlength="20"
                       ng-model="pmPasswordCtrl.user.password"
                       ng-pattern="/(?=.*[A-Z])(?=.*[\d!@#$%^&*-?~()])[A-Za-z\d!@#$%^&*-?~()]{8,20}/"
                       ng-class="{ 'error' : form.password.$invalid && form.password.$touched }"
                       ng-required="form.newPassword.$dirty || form.confirmPassword.$dirty"
                        />
                <div ng-show="form.$submitted || form.password.$touched">
                    <p class="error" ng-show="form.password.$error.required">
                        Password empty
                    </p>
                    <p class="error" ng-show="form.password.$error.pattern">
                        Password invalid
                    </p>
                    <span class="icon-alert-circle error-icon"
                          ng-show="form.password.$invalid && form.password.$touched"></span>
                </div>
            </div>

            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input type="password" class="form-control" id="newPassword" name="newPassword" maxlength="20"
                ng-model="pmPasswordCtrl.user.newPassword"
                ng-pattern="/(?=.*[A-Z])(?=.*[\d!@#$%^&*-?~()])[A-Za-z\d!@#$%^&*-?~()]{8,20}/"
                ng-class="{ 'error' : form.newPassword.$invalid && form.newPassword.$touched }"
                pb-validation-match="(form.password.$dirty ? form.password : '')" not-match="true"
                ng-required="form.password.$dirty || form.confirmPassword.$dirty"
                        />
                <div ng-show="form.$submitted || form.newPassword.$touched">
                    <p class="error" ng-show="form.newPassword.$error.required">
                    Password empty
                    </p>
                    <p class="error" ng-show="form.newPassword.$error.pattern">
                    Password invalid
                    </p>
                    <p class="error" ng-show="form.newPassword.$error.match">
                        New Password can not match current password
                    </p>
                    <span class="icon-alert-circle error-icon"
                    ng-show="form.newPassword.$invalid && form.newPassword.$touched"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm New Password</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" maxlength="20"
                ng-model="pmPasswordCtrl.user.confirmPassword"
                ng-class="{ 'error' : form.confirmPassword.$invalid && form.confirmPassword.$touched }"
                pb-validation-match="(form.newPassword.$dirty ? form.newPassword : undefined)"
                ng-required="form.password.$dirty || form.newPassword.$dirty" />
                <div ng-show="form.$submitted || form.confirmPassword.$dirty">
                    <p class="error" ng-show="form.confirmPassword.$error.required">
                    Please confirm your password
                    </p>
                    <p class="error" ng-show="form.confirmPassword.$error.match">
                    Password and confirm password don’t match
                    </p>
                    <span class="icon-alert-circle error-icon"
                    ng-show="form.confirmPassword.$invalid && form.confirmPassword.$touched"></span>
                </div>
            </div>

            <div class="row">
            <hr/>
            </div>

            <div class="form-group">
                <label for="securityQuestion">Your Security Questions</label>
                <select class="form-control input-lg" size="1" id="securityQuestion" name="securityQuestion"
                ng-model="pmPasswordCtrl.user.securityQuestion"
                ng-class="{ 'error' : form.securityQuestion.$invalid && form.securityQuestion.$touched }"
                ng-change="pmPasswordCtrl.user.securityAnswer = null">
                <option value="maiden-name">Your mother's maiden name</option>
                <option value="default">default 1</option>
                <option value="default2">default 2</option>
                </select>
                <div ng-show="form.$submitted || form.securityQuestion.$touched">
                    <p class="error" ng-show="form.securityQuestion.$error.required">
                    Security question empty
                    </p>
                    <span class="icon-alert-circle error-icon"
                    ng-show="form.securityQuestion.$invalid && form.securityQuestion.$touched"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="securityAnswer">Your Answer</label>
                <input type="password" class="form-control" id="securityAnswer" name="securityAnswer"
                ng-model="pmPasswordCtrl.user.securityAnswer"
                ng-class="{ 'error' : form.securityAnswer.$invalid && form.securityAnswer.$touched }"
                ng-required="form.securityQuestion.$touched || form.securityAnswer.$touched"/>
                <div ng-show="form.$submitted || form.securityAnswer.$touched">
                    <p class="error" ng-show="form.securityAnswer.$error.required">
                    Answer empty
                    </p>
                    <span class="icon-alert-circle error-icon"
                    ng-show="form.securityAnswer.$invalid && form.securityAnswer.$dirty"></span>
                </div>
            </div>

            <div ng-show="pmPasswordCtrl.saved">
                <p class="success" ng-show="form.$valid">
                    <span class="pull-left icon-check-circle text-green"></span>
                    Your information has been updated.
                </p>
            </div>

            <div class="text-center-xs">
                <button class="rounded-button primary spacer-top-md" ng-disabled="form.$invalid"
                         ng-click="pmPasswordCtrl.updatePasswordSecurity(pmPasswordCtrl.user,form)" ng-class="{ gray:form.$invalid || !form.$dirty }">
                    Save Changes
                </button>
            </div>
        </form>
    </div>
</section>

<!-- ====================================== MOBILE 'ACCORDION' LINK  =========================== -->
<div class="visible-xs accordion__button container-fluid" ui-sref="account.profilemanagement.dashboard" >
    <div class="row">
        <div class="col-xs-12">
            <span class="link header--sm">Dashboard Settings</span>
            <span class="primary pull-right icon-caret-down"></span>
        </div>
    </div>
</div>
