
[class^="pb-"], [class*=" pb-"] {
	font-family: 'pbfont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	//* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.pb-treeview:before {
	content: "\e616";
}
.pb-flag:before {
	content: "\f11d";
}
.pb-scale:before {
	content: "\e613";
}
.pb-metadata:before {
	content: "\e600";
}
.pb-metadatatemplate:before {
	content: "\e601";
}
.pb-connection:before {
	content: "\e602";
}
.pb-newconnection:before {
	content: "\e603";
}
.pb-databaseconnection:before {
	content: "\e604";
}
.pb-filesystemconnection:before {
	content: "\e605";
}
.pb-catalog:before {
	content: "\e606";
}
.pb-newcatalog:before {
	content: "\e607";
}
.pb-addtocatalog:before {
	content: "\e608";
}
.pb-folder:before {
	content: "\e609";
}
.pb-newfolder:before {
	content: "\e60a";
}
.pb-addtofolder:before {
	content: "\e60b";
}
.pb-table:before {
	content: "\e60c";
}
.pb-newtable:before {
	content: "\e60e";
}
.pb-labellayer:before {
	content: "\e617";
}
.pb-layer:before {
	content: "\e60d";
}
.pb-newlayer:before {
	content: "\e618";
}
.pb-map:before {
	content: "\e60f";
}
.pb-newmap:before {
	content: "\e619";
}
.pb-tile:before {
	content: "\e610";
}
.pb-newtile:before {
	content: "\e61a";
}
.pb-addressbook:before {
	content: "\e614";
}
.pb-point:before {
	content: "\e611";
}
.pb-polygon:before {
	content: "\e612";
}
.pb-line:before {
	content: "\e615";
}
.pb-admin:before {
	content: "\e61b";
}
