// ui.bootstrap.carousel overrides
.carousel {
  cursor: default;

  .carousel-indicators {
    li {
      cursor: default;
    }li {
       cursor: default;
     }
  }
}
.onboarding--login{
  .carousel-indicators{
    li {
      cursor: default;
    }
  }
}