.financial-overview-module {

    ul {
        margin-bottom:0;

        @include breakpoint($tablet, "max") {
            margin-bottom: 20px; // X-Small screen only
        }
    }

    // mobile only on financial pages
    .back__button{
        padding-top:20px;
        padding-bottom:20px;
    }

    &__list {
        border: none;

        > li {
            margin-bottom: 25px;
        }

        .account-module & {
            li{
                clear:both;
                > div {
                    clear:both;
                    line-height: 1.5em;
                }
            }
            @include breakpoint($tablet) {
                padding-top:20px;
                padding-bottom:20px;

                + .list-view-module__list{
                    padding-top:0;
                }
            }

            @include breakpoint(0, $tablet){
                li,
                .dlist-group{
                    display:block;
                    float:left;
                    clear:both;
                    width:100%;
                }

                .definition,
                .defined{
                    position: relative;
                    display:inline-block;
                    width:49%;
                    min-width: 49%;
                    margin-bottom:-5px;
                    vertical-align: bottom;
                }
                .defined{
                     > span{
                        margin-right:-3%;
                    }

                    //float:right;
                    //margin-left:1%;
                }
            }
        }

        .ctas {
            margin: 20px -20px;
            padding: 20px;
            background-color: #EAEAEA;
        }

        .link-below,
        .info-below{
            display:inline-block;
            //position: absolute;
            //display:block;
            //top:100%;
            margin-top:10px;
            + .link-below{
                margin-left:$margin-sm;
            }
        }

        .upgrade {
            margin: 20px -20px 0;
            padding: 10px 20px;
            text-align: center;
            background-color: #D9F0FA;
        }

        ul.locations-box{
            width:100%;
            max-height:165px;
            overflow-y: scroll; /* has to be scroll, not auto */
            -webkit-overflow-scrolling: touch;

            margin-top:20px;
            margin-bottom:0;
            padding-left:0;

            li{
                margin-top:$margin-sm;
                margin-bottom:0;
                -webkit-transform: translateZ(0);
                p{
                    margin-bottom:5px;
                }
            }
        }

        + .financial-overview-module__list{
            @include breakpoint($screen-md) {
                border-left: 1px solid $pb-gray;
            }
        }
    }

    .ctas__manage {
        margin: 10px -20px;

        a {
            padding: 5px 20px;
            display: block;
            font-size: 1.143em;

            span { vertical-align: middle; }

            .icon-next-circle {
                vertical-align: middle;
                font-size: 1.5em;
            }
        }

        hr {  margin: 0 20px; }
    }

    .bills {
        color: $pb-orange-500;

        span { vertical-align: middle; }
    }

    .rounded-button {
        text-transform: none;

        @include breakpoint($tablet){
            font-size: 1em;
        }
    }
}