<div class="bg">

    <div class="main-block text-center">
      <h1>Welcome to Product Name</h1>

      <h2 class="spacer-top-lg">This is the subheader.</h2>

      <p>
        <strong>This is the first line where emphasis is given.</strong>
      </p>

      <p>Lorem ipsum dolor sit amet, sit facer sanctus volumus cu. Qui delicata necessitatibus at, ei nisl velit deserunt est, ancillae instructior et quo. Cum ad probo nostrum omittantur.</p>

      <div class="spacer-top-xl">
        <a class="btn btn-pill-ko">Learn More</a>
      </div>
    </div>

<!--SLIDER MOCK-->
    <div class="mock-slider">

      <div>
        <a class="btn">
          <i class="fa fa-angle-left fa-4x"></i>
        </a>
      </div>
      <div class="mock-slider-images">
        <div>
          <img alt="" class="img-responsive" src="modules/landing/assets/images/vaio_logo.png"/>
        </div>
        <div>
          <img alt="" class="img-responsive" src="modules/landing/assets/images/amazon_logo.png"/>
        </div>
        <div>
          <img alt="" class="img-responsive" src="modules/landing/assets/images/hermes_logo.png"/>
        </div>
        <div>
          <img alt="" class="img-responsive spacer-top-sm" src="modules/landing/assets/images/h_m_logo.png"/>
        </div>
        <div>
          <img alt="" class="img-responsive" src="modules/landing/assets/images/facebook_logo.png"/>
        </div>
      </div>
      <div>
        <a class="btn">
          <i class="fa fa-angle-right fa-4x"></i>
        </a>
      </div>
    </div>

</div>
