
<div class="bg">

    <div class=" top-block text-center spacer-bottom-md">
        <h1>Welcome to Product Name</h1>
        <h2>Get started in 3 easy steps!</h2>
    </div>



    <div class="mid-block">
      <div>
        <span class="btn btn-circle">1</span>
        <h3>Step One</h3>
        <p>Lorem ipsum dolor sit amet, sit facer sanctus volumus cu. Qui delicata necessitatibus at, ei nisl velit deserunt est, ancillae instructior et quo. Cum ad probo nostrum omittantur.</p>
      </div>

      <div>
        <span class="btn btn-circle">2</span>
        <h3>Step Two</h3>
        <p>Lorem ipsum dolor sit amet, sit facer sanctus volumus cu. Qui delicata necessitatibus at, ei nisl velit deserunt est, ancillae instructior et quo. Cum ad probo nostrum omittantur.</p>
      </div>

      <div>
        <span class="btn btn-circle">3</span>
        <h3>Step Three</h3>
        <p>Lorem ipsum dolor sit amet, sit facer sanctus volumus cu. Qui delicata necessitatibus at, ei nisl velit deserunt est, ancillae instructior et quo. Cum ad probo nostrum omittantur.</p>
      </div>
    </div>

    <div class=" bottom-block spacer-top-xl">
      <a class="btn btn-pill-ko">Learn More</a>
    </div>

</div>
