
<div class="bg bg-h">

      <div class="main-block">
        <h1>Welcome to Product Name</h1>

        <h2>This is the subheader.</h2>

        <p><strong>This is the first line where emphasis is given.</strong></p>

        <p>Lorem ipsum dolor sit amet, sit facer sanctus volumus cu. Qui delicata necessitatibus at, ei nisl velit deserunt est, ancillae instructior et quo. Cum ad probo nostrum omittantur.</p>

        <a class="btn btn-pill-ko spacer-top-xl">Learn More</a>
      </div>

      <div >
        <img src="assets/images/iPhone-landingpage.png">
      </div>

</div>
