<div class="hero">
  <div class="container">

    <div class="row">
        <div class="col-md-7 spacer-top-lg">
          <h1>Welcome to Product Name</h1>
          <h2 class="spacer-top-lg">This is a Subheader</h2>

          <p>
            <strong>This is the first line where emphasis is given.</strong>
          </p>

          <p>Lorem ipsum dolor sit amet, sit facer sanctus volumus cu. Qui delicata necessitatibus at, ei nisl velit deserunt est, ancillae instructior et quo. Cum ad probo nostrum omittantur.</p>
        </div>
    </div>

  </div>
</div>

  <div class="container spacer-top-lg spacer-bottom-lg">

    <div class="row">
      <div class="col-md-12">

      <div class="row">
        <div class="col-md-3">
          <h3 class="section-divider">Nav section 01</h3>
          <hr>
          <ul class="list-unstyled">
            <li>Sub nav item</li>
            <li>Sub nav item</li>
            <li>Sub nav item</li>
            <li>Sub nav item</li>
            <li>Sub nav item</li>
            <li>Sub nav item</li>
            <li>Sub nav item</li>
          </ul>
        </div>

        <div class="col-md-3">
          <h3>Nav section 01</h3>
          <hr>
          <ul class="list-unstyled">
            <li>Sub nav item</li>
            <li>Sub nav item</li>
            <li>Sub nav item</li>
            <li>Sub nav item</li>
            <li>Sub nav item</li>
            <li>Sub nav item</li>
            <li>Sub nav item</li>
          </ul>
        </div>

        <div class="col-md-3">
          <h3>Nav section 01</h3>
          <hr>
          <ul class="list-unstyled">
            <li>Sub nav item</li>
            <li>Sub nav item</li>
            <li>Sub nav item</li>
            <li>Sub nav item</li>
            <li>Sub nav item</li>
            <li>Sub nav item</li>
            <li>Sub nav item</li>
          </ul>
        </div>

        <div class="col-md-3">
          <h3>Nav section 01</h3>
          <hr>
          <ul class="list-unstyled">
            <li>Sub nav item</li>
            <li>Sub nav item</li>
            <li>Sub nav item</li>
            <li>Sub nav item</li>
            <li>Sub nav item</li>
            <li>Sub nav item</li>
            <li>Sub nav item</li>
          </ul>
        </div>
      </div>

      </div>
    </div>

  </div>
