
<div class="bg landing landing-bgimage">
  <div class="main-block">
    <div class="text-center ">
      <h1>Welcome to Product Name</h1>

      <h2>This is a Subhead</h2>

      <div class="body-text">
        <p><strong>First line optionally set in bold to emphasize features.</strong></p>

        <p>Lorem ipsum dolor sit amet, sit facer sanctus volumus cu. Qui delicata necessitatibus at, ei nisl velit deserunt est, ancillae instructior et quo. Cum ad probo nostrum omittantur.</p>

        <p>Pro movet accusam rationibus an, per an choro veniam. Ius et discere voluptatum. Vim te consequat adversarium, ad mucius blandit volutpat cum. Sit eu saepe scripta scribentur.</p>
      </div>


       <div class="spacer-top-xl"><a class="btn btn-pill-ko">Learn More</a></div>
    </div>

  </div>
</div>
