<div class="bg">

  <div class="form-content">

    <div class="main-block text-center">
      <h1>Welcome to Product Name</h1>
      <h2 class="spacer-top-lg">This is the subhead</h2>

      <p>
        <strong>This is the first line where emphasis is given.</strong>
      </p>

      <p>Lorem ipsum dolor sit amet, sit facer sanctus volumus cu. Qui delicata necessitatibus at, ei nisl velit deserunt est, ancillae instructior et quo. Cum ad probo nostrum omittantur.</p>

    </div>

    <form class="side-by-side">

      <div class="form-group">
        <label for="exampleUsername">Username</label>
        <input class="form-control" id="exampleUsername" placeholder="Name" type="text">
      </div>


        <div class="form-group">
          <label for="exampleEmail">Email</label>
          <input class="form-control" id="exampleEmail" placeholder="Email" type="email">
        </div>


    </form>

    <div class="text-center spacer-top-md">
      <a class="btn btn-pill-ko">Learn More</a>
    </div>



  </div>

</div>
