<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Resources</div>
          <h1>Tools</h1>
        </div>
      </div>
    </div>
  </div>

  <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a href="" du-smooth-scroll="downloads">Downloads</a></li>
            <li><a href="" du-smooth-scroll="learning">Learning</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="container">


  <div class="row" >
    <div class="col-md-8">
      <h1 id="downloads" class="doc-head">Downloads</h1>
    </div>
  </div>


  <div class="row spacer-top-lg">
    <div class="col-md-4">
      <div class="panel panel-download">
        <div class="panel-body bg-pb-purple-700 text-center">
          <h2 class="text-bg2 spacer-bottom-lg"><i class="fa fa-fw fa-4x fa-desktop"></i><i class="fa fa-fw fa-4x fa-tablet spacer-bottom-xs"></i><br>Responsive Web</h2>
          <ul class="list-unstyled">
            <li><a href="https://github.com/PBGUX/designsystem" target="blank">Github Repository</a></li>
          </ul>
          <hr class="web">
          <ul class="list-unstyled">
            <li><a href="http://getbootstrap.com/" target="blank">Bootstrap</a></li>
            <li><a href="https://angularjs.org/" target="blank">AngularJS</a></li>
            <li><a href="http://fontawesome.io/" target="blank">FontAwesome</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-download">
        <div class="panel-body bg-pb-gray-500 text-center">
          <h2 class="text-bg2 spacer-bottom-md spacer-top-sm"><i class="fa fa-fw fa-4x fa-apple spacer-bottom-xs"></i><br>iOS Mobile SDK</h2>
          <ul class="list-unstyled">
            <li><a href="http://dbygitmsprod.pbi.global.pvt/mobile-dev/mobiledesignsystem" target="blank">iOS SDK Gitlab Repository*</a></li>
            <li><a href="http://vmengmac17.ct.pb.com/AppleDocs/" target="blank">AppleDocs</a></li>
            <li><a href="http://dbygitmsprod.pbi.global.pvt/mobile-dev/mobiledesignsystem/wikis/home" target="blank">Wiki</a></li>
          </ul>
          <hr class="ios">
          <ul class="list-unstyled">
            <li><a href="http://dbygitmsprod.pbi.global.pvt/mobile-dev/ios-designsystem-sample" target="blank">Sample App Gitlab Repository</a></li>
            <li><a href="http://dbygitmsprod.pbi.global.pvt/mobile-dev/ios-designsystem-sample/wikis/home" target="blank">Sample App Wiki</a></li>
          </ul>
                <p class="small text-center">*<a href="http://confluence.pbi.global.pvt/display/ISP/GitLab#GitLab-PBTeamsusingGitLab" target="blank">Information on Gitlab and to request access.</a></p>
        </div>
      </div>


    </div>

    <div class="col-md-4">
      <div class="panel panel-download">
        <div class="panel-body bg-pb-dark-green-700 text-center">
          <h2 class="text-bg2 spacer-bottom-lg"><i class="fa fa-fw fa-4x fa-android spacer-bottom-xs"></i><br>Android Mobile SDK</h2>
          <ul class="list-unstyled">
            <li><h3><em class="text-bg2">Coming soon</em></h3></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-download">
        <div class="panel-body bg-pb-orange-700 text-center">
          <h2 class="text-bg2 spacer-bottom-lg"><i class="fa fa-fw fa-4x fa-diamond"></i><br><br>Sketch Template</h2>
          <ul class="list-unstyled">
            <li><a href="https://github.com/PBGUX/designsystem_sketch" target="blank">Github Repository</a></li>
          </ul>
          <hr class="bg-pb-orange-300">
          <ul class="list-unstyled">
            <li><a href="http://bohemiancoding.com/sketch/" target="blank">Sketch 3</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-download">
        <div class="panel-body bg-pb-medium-blue text-center">
          <h2 class="text-bg2 spacer-bottom-lg"><i class="fa fa-fw fa-4x fa-object-group"></i><br><br>Axure Template</h2>
          <ul class="list-unstyled">
            <li><a href="https://github.com/PBGUX/designsystem_axure" target="blank">Github Repository</a></li>
            <li><a href="http://guxstaging.pbi.global.pvt/design_system_axure" target="blank">Axure Tips</a></li>
          </ul>
          <hr class="bg-pb-medium-blue-300">
          <ul class="list-unstyled">
            <li><a href="http://www.axure.com/" target="blank">Axure</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="row spacer-top-lg">
    <div class="col-md-12">
      <div class="alert alert-info">
        Looking for the Design System 1.5 version? Visit the <a class="alert-link" href="http://guxstaging.pbi.global.pvt/design_system_15" target="blank">Live Preview</a> or download from the <a class="alert-link" href="https://github.com/PBGUX/designsystem/tree/1.3.4" target="blank">Github tag</a>.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>For an offline version of the brand font, Precision Sans, visit <a href="http://152.144.193.74:8503/content/pbdam/en.html" target="_blank">Brand Central</a> to download.</p>

      <p>You may also download Pitney Bowes logos there in a variety of formats.</p>
    </div>
  </div>



  <div class="row" >
    <div class="col-md-8">
      <h1 id="learning" class="doc-head">Learning</h1>
      <p class="doc-lede">The design system is built in HTML5 and CSS3 (using Sass 3.4), using Bootstrap 3.3.5 and Angular JS 1.4.5. We also use a series of tools to simplify coding, creation and deployment.  Below you will find a growing list of learning resources to help you get up to speed.</p>
    </div>
  </div>


  <div class="row spacer-top-xl">
    <div class="col-md-3 text-center">
      <h3><a href="https://angularjs.org/" target="_blank">Angular JS</a></h3>
      <img src="modules/resources/assets/images/code_angular3.png" alt="code_angular3">
    </div>

    <div class="col-md-3">
      <h4><i class="fa fa-desktop"></i> Online</h4>
      <ul>
        <li><a href="https://angularjs.org/" target="_blank">Angularjs</a></li>
        <li><a href="http://www.airpair.com/angularjs" target="_blank">AngularJS Tutorial: A Comprehensive 10,000 Word Guide</a></li>
        <li><a href="http://www.ng-newsletter.com/" target="_blank">ng-newsletter</a></li>
        <li><a href="http://www.directiv.es/" target="_blank">directiv.es</a></li>
        <li><a href="http://www.angularjshub.com/" target="_blank">angularjshub</a></li>
        <li><a href="http://fdietz.github.io/recipes-with-angular-js/" target="_blank">Recipes with Angularjs</a></li>
        <li><a href="http://ngmodules.org/" target="_blank">ngmodules.org</a></li>
        <li><a href="https://builtwith.angularjs.org/" target="_blank">Built With Angularjs.org</a></li>
        <li><a href="http://courses.tutsplus.com/courses/easier-javascript-apps-with-angularjs" target="_blank">Easier Javascript Apps With Angularjs</a></li>
        <li><a href="http://www.learn-angular.org/" target="_blank">Learn Angular.org</a> <em class="small">(beta)</em></li>
        <li><a href="https://www.codeschool.com/courses/shaping-up-with-angular-js" target="_blank">Codeschool: Shaping Up With Angularjs</a></li>
        <li><a href="http://www.adobe.com/devnet/html5/articles/getting-started-with-angularjs.html" target="_blank">Adobe: Getting Started With Angularjs</a></li>
        <li><a href="http://www.adobe.com/devnet/html5/articles/angularjs-directives-and-the-computer-science-of-javascript.html" target="_blank">Adobe: Angularjs Directives and the Computer Science of Javascript</a></li>
      </ul>
    </div>

    <div class="col-md-3">
      <h4><i class="fa fa-video-camera"></i> Videos</h4>
      <ul>
        <li><a href="https://www.youtube.com/user/angularjs" target="_blank">Angularjs Youtube Channel</a></li>
        <li><a href="http://www.lynda.com/search?q=angular" target="_blank">lynda.com</a> <em class="small">(account required)</em></li>
        <li><a href="https://egghead.io/" target="_blank">egghead.io</a> <em class="small">(some free)</em></li>
      </ul>
    </div>

    <div class="col-md-3">
      <h4><i class="fa fa-wrench"></i> Tools</h4>
      <ul>
        <li><a href="http://ng-inspector.org/" target="_blank">ng-inspector</a></li>
        <li><a href="https://github.com/angular/angularjs-batarang" target="_blank">Angularjs Batarang</a></li>
      </ul>
    </div>
  </div>


  <div class="row">
    <div class="col-md-9 col-md-offset-3">
      <h4><i class="fa fa-book"></i> Books</h4>
      <ul class="list-inline">
      <li><a href="http://shop.oreilly.com/product/0636920028055.do" target="_blank">
        <img width="100" height="100" class="img-responsive" src="http://akamaicovers.oreilly.com/images/0636920028055/cat.gif" alt="">
      </a></li>
      <li><a href="http://www.packtpub.com/angularjs-directives/book" target="_blank">
        <img width="100" height="100" class="img-responsive" src="http://ecx.images-amazon.com/images/I/51F9mAOjRnL.jpg" alt="">
      </a></li>
      <li><a  href="http://www.packtpub.com/mastering-angularjs-directives/book" target="_blank">
        <img width="100" height="100" class="img-responsive" src="http://ecx.images-amazon.com/images/I/41UnIEKfGxL.jpg" alt="">
      </a></li>
      <li><a href="http://www.apress.com/9781430264484" target="_blank">
        <img width="100" height="100" class="img-responsive" src="http://ecx.images-amazon.com/images/I/51KR-s5Bd4L.jpg" alt="">
      </a></li>
      <li><a href="https://www.ng-book.com/" target="_blank">
        <img width="100" height="100" class="img-responsive" src="https://www.ng-book.com/images/flatbook-ngbook-small.png" alt="">
      </a></li>
    </ul>
    </div>
  </div>



  <hr class="spacer-top-xl spacer-bottom-xl">



  <div class="row">

    <div class="col-md-3 text-center">
      <h3>Bootstrap</h3>
      <img src="modules/resources/assets/images/code_boots3.png" alt="code_boots3">
    </div>

    <div class="col-md-3">
      <h4><i class="fa fa-desktop"></i> Online</h4>
      <ul>
        <li><a href="http://getbootstrap.com" target="_blank">Bootstrap</a></li>
        <li><a href="http://www.helloerik.com/bootstrap-3-grid-introduction" target="_blank">Bootstrap 3 Grid Introduction</a></li>
        <li><a href="http://www.helloerik.com/the-subtle-magic-behind-why-the-bootstrap-3-grid-works" target="_blank">The Subtle Magic Behind Why the Bootstrap 3 Grid Works</a></li>
      </ul>
    </div>

    <div class="col-md-3">
      <h4><i class="fa fa-video-camera"></i> Video</h4>
      <ul>
        <li><a href="http://www.lynda.com/search?q=bootstrap+3" target="_blank">lynda.com</a> <em class="small">(account required)</em></li>
      </ul>
    </div>

    <div class="col-md-3">
      <h4><i class="fa fa-wrench"></i> Tools</h4>
      <ul>
        <li><a href="http://alefeuvre.github.io/foundation-grid-displayer/" target="_blank">Grid Displayer Bookmarklet</a></li>
        <li><a href="http://lab.maltewassermann.com/viewport-resizer/" target="_blank">Viewport Resizer Bookmarklet</a></li>
        <li><a href="http://responsive.victorcoulon.fr/" target="_blank">Responsive Web Design Bookmarklet</a></li>
      </ul>
    </div>
  </div>


<!--
  <hr class="spacer-top-xl spacer-bottom-xl">



  <div class="row">

    <div class="col-md-3 text-center">
      <h3>Grunt</h3>
      <img src="modules/resources/assets/images/code_grunt3.png" alt="code_grunt3">
    </div>

    <div class="col-md-3">
      <h4><i class="fa fa-desktop"></i> Online</h4>
      <ul>
        <li><a href="http://gruntjs.com/" target="_blank">Gruntjs.com</a></li>
        <li><a href="http://courses.tutsplus.com/courses/getting-good-with-grunt" target="_blank">Getting Good With Grunt</a></li>
        <li><a href="http://newtriks.com/2013/06/11/automating-angularjs-with-yeoman-grunt-and-bower/" target="_blank">Automating Angularjs with Yeoman, Grunt and Bower</a></li>
      </ul>
    </div>

    <div class="col-md-3">
      <h4><i class="fa fa-video-camera"></i> Video</h4>
      <ul>
        <li><a href="https://egghead.io/search?q=grunt" target="_blank">egghead.io</a></li>
      </ul>
    </div>

    <div class="col-md-3">
    </div>
  </div> -->



  <hr class="spacer-top-xl spacer-bottom-xl">



  <div class="row">

    <div class="col-md-3 text-center">
      <h3>Sass</h3>
      <img src="modules/resources/assets/images/code_sass3.png" alt="code_sass3">
    </div>

    <div class="col-md-3">
      <h4><i class="fa fa-desktop"></i> Online</h4>
      <ul>
        <li><a href="http://sass-lang.com/" target="_blank">Project Home Page</a></li>
        <li><a href="http://sass-lang.com/" target="_blank">SASS – CSS with superpowers</a></li>
        <li><a href="http://thesassway.com/" target="_blank">The SASSS Way</a></li>
      </ul>
    </div>

    <div class="col-md-3">
      <h4><i class="fa fa-video-camera"></i> Video</h4>
      <ul>
        <li><a href="http://www.lynda.com/CSS-tutorials/CSS-LESS-SASS/107921-2.html?srchtrk=index:1%0Alinktypeid:2%0Aq:LESS%0Apage:1%0As:relevance%0Asa:true%0Aproducttypeid:2" target="_blank">lynda.com</a> <em class="small">(account required)</em></li>
      </ul>
    </div>

    <div class="col-md-3">
      <h4><i class="fa fa-wrench"></i> Tools</h4>
      <ul>
        <li><a href="http://sassme.arc90.com/" target="_blank">SASSme</a></li>
        <li><a href="http://sassmeister.com/" target="_blank">SASS Meister</a></li>
      </ul>
    </div>
  </div>



  <hr class="spacer-top-xl spacer-bottom-xl">



  <div class="row">

    <div class="col-md-3 text-center">
      <h3>Bower</h3>
      <img src="modules/resources/assets/images/code_bower3.png" alt="code_bower3">
    </div>

    <div class="col-md-3">
      <h4><i class="fa fa-desktop"></i> Online</h4>
      <ul>
        <li><a href="http://bower.io/" target="_blank">Bower.io</a></li>
        <li><a href="http://newtriks.com/2013/06/11/automating-angularjs-with-yeoman-grunt-and-bower/" target="_blank">Automating AngularJS with Yeoman, Grunt and Bower</a></li>
      </ul>
    </div>

    <div class="col-md-3">
      <h4><i class="fa fa-video-camera"></i> Video</h4>
      <ul>
        <li><a href="https://egghead.io/lessons/bower-introduction-and-setup" target="_blank">egghead.io</a></li>
      </ul>
    </div>

    <div class="col-md-3">
    </div>
  </div>




  <hr class="spacer-top-xl spacer-bottom-xl">



  <div class="row">

    <div class="col-md-3 text-center">
      <h3>Gulp</h3>
      <img src="modules/resources/assets/images/gulpjs.png" alt="code_bower3">
    </div>

    <div class="col-md-3">
      <h4><i class="fa fa-desktop"></i> Online</h4>
      <ul>
        <li><a href="http://gulpjs.com" target="_blank">Gulpjs.com</a></li>
        <li><a href="https://scotch.io/tutorials/automate-your-tasks-easily-with-gulp-js" target="_blank">Automate Your Tasks Easily with Gulp.js</a></li>
      </ul>
    </div>

    <!-- <div class="col-md-3">
      <h4><i class="fa fa-video-camera"></i> Video</h4>
      <ul>
        <li><a href="https://egghead.io/lessons/bower-introduction-and-setup" target="_blank">egghead.io</a></li>
      </ul>
    </div> -->

    <div class="col-md-3">
    </div>
  </div>


<!--
  <hr class="spacer-top-xl spacer-bottom-xl">



  <div class="row">

    <div class="col-md-3 text-center">
      <h3><a href="http://yeoman.io" target="_blank">Yeoman</a></h3>
      <img src="modules/resources/assets/images/code_yeomen3.png" alt="code_yeomen3">
    </div>

    <div class="col-md-3">
      <h4><i class="fa fa-desktop"></i> Online</h4>
      <ul>
        <li><a href="http://bower.io/" target="_blank">Bower.io</a></li>
        <li><a href="http://newtriks.com/2013/06/11/automating-angularjs-with-yeoman-grunt-and-bower/" target="_blank">Automating AngularJS with Yeoman, Grunt and Bower</a></li>
      </ul>
    </div>

    <div class="col-md-3">
      <h4><i class="fa fa-video-camera"></i> Video</h4>
      <ul>
      <li><a href="http://yeoman.io/" target="_blank">Yeoman.io</a></li>
      <li><a href="http://courses.tutsplus.com/courses/say-yo-to-yeoman" target="_blank">Say Yo to Yeoman</a></li>
      <li><a href="http://www.adobe.com/devnet/html5/articles/yeoman-at-your-service.html" target="_blank">Yeoman at Your Service</a></li>
      </ul>
    </div>

    <div class="col-md-3">
    </div>
  </div> -->



  <hr class="spacer-top-xl spacer-bottom-xl">



  <div class="row">

    <div class="col-md-3 text-center">
      <h3><a href="http://www.w3.org/Style/CSS/" target="_blank">CSS3</a></h3>
      <img src="modules/resources/assets/images/code_css3_3.png" alt="code_css3_3">
    </div>

    <div class="col-md-3">
      <h4><i class="fa fa-desktop"></i> Online</h4>
      <ul>
        <li><a href="https://itunes.apple.com/us/book/css-transforms-interactive/id724058936?mt=11" target="_blank">CSS Transforms Interactive</a></li>
        <li><a href="https://itunes.apple.com/us/book/css3-for-web-designers/id405582149?mt=11" target="_blank">CSS3 for Web Designers</a></li>
        <li><a href="http://courses.tutsplus.com/courses/css-terminology-decoded" target="_blank">CSS Terminology Decoded</a></li>
        <li><a href="http://css-tricks.com/child-and-sibling-selectors/" target="_blank">Child and Sibling Selectors/</a></li>
        <li><a href="http://www.noupe.com/css3/all-you-need-to-know-about-css3-selectors-1-structural-pseudo-classes-77099.html" target="_blank">All You Need to Know About CSS3 Selectors</a></li>
      </ul>
    </div>

    <div class="col-md-3">
    </div>

    <div class="col-md-3">
    </div>
  </div>



  <hr class="spacer-top-xl spacer-bottom-xl">



  <div class="row">

    <div class="col-md-3 text-center">
      <h3><a href="http://jquery.com/" target="_blank">jQuery</a></h3>
      <img src="modules/resources/assets/images/code_jg3.png" alt="code_jg3">
    </div>

    <div class="col-md-3">
      <h4><i class="fa fa-desktop"></i> Online</h4>
      <ul>
        <li><a href="http://jquery.com/" target="_blank">jQuery.com</a></li>
      </ul>
    </div>

    <div class="col-md-3">
      <h4><i class="fa fa-video-camera"></i> Video</h4>
      <ul>
        <li><a href="https://www.youtube.com/user/jquery" target="_blank">jQuery Youtube</a></li>
      </ul>
    </div>

    <div class="col-md-3">
    </div>
  </div>



  <hr class="spacer-top-xl spacer-bottom-xl">



  <div class="row">

    <div class="col-md-3 text-center">
      <h3>HTML5</h3>
      <img src="modules/resources/assets/images/code_html5_.png" alt="code_html5_">
    </div>

    <div class="col-md-3">
      <h4><i class="fa fa-desktop"></i> Online</h4>
      <ul>
      <li><a href="https://itunes.apple.com/us/book/responsive-web-design-html5/id518293592?mt=11" target="_blank">Responsive Web Design</a></li>
      <li><a href="http://courses.tutsplus.com/courses/html5-fundamentals" target="_blank">HTML5 Fundamentals</a></li>
      </ul>
    </div>

    <div class="col-md-3">
    </div>

    <div class="col-md-3">
    </div>
  </div>



  <hr class="spacer-top-xl spacer-bottom-xl">



  <div class="row">

    <div class="col-md-3 text-center">
      <h3>Other Resources</h3>
    </div>

    <div class="col-md-3">
      <h4 class="spacer-top-sm"><i class="fa fa-desktop"></i> Online</h4>
      <ul>
      <li><a href="http://inside.pb.com/EN-US/AboutPB/Innovation/Pages/Strategic-Skills-Development.aspx" target="_blank">Inside PB: Strategic Skills Development</a></li>
      <li><a href="http://www.safaribooksonline.com" target="_blank">Safaribooksonline.com</a></li>
      <li><a href="http://tutsplus.com" target="_blank">Tutsplus.com</a></li>
      <li><a href="http://courses.tutsplus.com/courses/tools-of-the-modern-web-developer" target="_blank">Tools of the Modern Web Developer</a></li>
      <li><a href="https://github.com/jmcunningham/AngularJS-Learning" target="_blank">AngularJS Learning</a></li>
      </ul>
    </div>

    <div class="col-md-3">
      <h4 class="spacer-top-sm"><i class="fa fa-wrench"></i> Tools</h4>
      <ul>
      <li><a href="http://devdocs.io/" target="_blank">devdocs</a></li>
      </ul>
    </div>

    <div class="col-md-3">
    </div>
  </div>





<!--
  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Preview Apps</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <figure>
        <figcaption>Preview App 1</figcaption>
        <img class="img-responsive" src="http://placehold.it/300x300" alt="" />
      </figure>
    </div>

    <div class="col-md-4">
      <figure>
        <figcaption>Preview App 2</figcaption>
        <img class="img-responsive" src="http://placehold.it/300x300" alt="" />
      </figure>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Templates</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <figure>
        <figcaption>Axure (coming soon)</figcaption>
        <img class="img-responsive" src="http://placehold.it/300x300" alt="" />
      </figure>
    </div>

    <div class="col-md-4">
      <figure>
        <figcaption>Sketch</figcaption>
        <img class="img-responsive" src="http://placehold.it/300x300" alt="" />
      </figure>
    </div>

    <div class="col-md-4">
      <figure>
        <figcaption>Illustrator (coming soon)</figcaption>
        <img class="img-responsive" src="http://placehold.it/300x300" alt="" />
      </figure>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Downloads</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <figure>
        <figcaption>Logo</figcaption>
        <img class="img-responsive" src="http://placehold.it/300x300" alt="" />
      </figure>
    </div>

    <div class="col-md-4">
      <figure>
        <figcaption>Brand</figcaption>
        <img class="img-responsive" src="http://placehold.it/300x300" alt="" />
      </figure>
    </div>
  </div> -->








</div>
