<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Resources</div>
          <h1>Strategy</h1>
        </div>
      </div>
    </div>
  </div>

  <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a href="" du-smooth-scroll="lean-ux">Lean UX</a></li>
            <li><a href="" du-smooth-scroll="ux-development-tracks">UX Development Tracks</a></li>
            <li><a href="" du-smooth-scroll="ux-methods">UX Methods</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="container">


  <!-- LEAN UX -->
  <div class="row" >
    <div class="col-md-8">
      <h1 id="lean-ux" class="doc-head">Lean UX</h1>
    </div>
  </div>


  <div class="row">
    <div class="col-md-8">
      <h3>Overview</h3>
      <p>Lean UX is the practice of bringing the true nature of a product to light faster, in a collaborative and cross-functional way. It does this by focusing on building a shared understanding of the product experience that’s being designed.</p>

      <p>In order for this to happen, three things must come together:</p>
      <ul>
        <li>Design thinking</li>
        <li>Startup principles</li>
        <li>Agile delivery</li>
      </ul>

      <img class="img-responsive" src="modules/resources/assets/images/strategy/loop.jpg" alt="" />

    </div>
  </div>



  <div class="row spacer-top-xl">
    <div class="col-md-8">
      <h3>Design Thinking</h3>

      <p class="spacer-top-md"><em>&ldquo;Design thinking is a human-centered approach to innovation that draws from the designer&rsquo;s toolkit to integrate the needs of people, the possibilities of technology, and the requirements for business success.&rdquo;<br> &mdash; Tim Brown, president and CEO, Ideo</em></p>

      <p>Design thinking:</p>
      <ul>
        <li>Focuses on discovering customer needs</li>
        <li>Validates that the problems we’re trying to solve exist</li>
        <li>Ensures that the solutions we produce are a market fit</li>
      </ul>

      <img class="img-responsive spacer-top-lg" src="modules/resources/assets/images/strategy/design-thinking.jpg" alt="" />
    </div>
  </div>




  <div class="row spacer-top-xl">
    <div class="col-md-8">
      <h3>Startup Principles</h3>

      <p>Lean startup is an approach to business development that’s based on the principles of lean production, a manufacturing methodology that values a business' ability to change quickly.</p>

      <p>Core principles:</p>
      <ul>
        <li>Uses learning to deliver better product in every iteration</li>
        <li>Measures against clearly defined Key Performance Indicators (KPI)</li>
        <li>Uses a “Build, Measure &amp; Learn” cycle, with critical emphasis on learning</li>
        <li>Focuses on building minimal viable products (MVP) with an experimental mindset</li>
      </ul>
    </div>
  </div>



  <div class="row spacer-top-xl">
    <div class="col-md-8">
      <h3>Agile Delivery</h3>

      <p>Agile delivery focuses development on creating immediate value, by delivering working software to customers quickly. Product iteration is based on new learning. </p>

      <p>Agile deliver values: </p>

      <ul>
        <li>Individuals and interactions over processes and tools</li>
        <li>Working software over comprehensive documentation</li>
        <li>Customer collaboration over contract negotiation</li>
        <li>Responding to change over following a plan</li>
      </ul>
      <p>See also <a href="https://our.pb.com/Resources/Innovation/Pages/Agile.aspx" target="_blank">our.pb.com</a></p>
    </div>
  </div>



  <div class="row" >
    <div class="col-md-8">
      <h1 id="ux-development-tracks" class="doc-head">UX Development Tracks</h1>
    </div>
  </div>


  <div class="row">
    <div class="col-md-8">

      <h3>Multi-track Development Process</h3>
      <p>Multi-track development is a process combining different tracks for team members serving in design and user experience roles.</p>
      <img class="img-responsive spacer-top-lg" src="modules/resources/assets/images/strategy/multitrack-development.jpg" alt="" />

      <h3 class="spacer-top-xl">Continuous Delivery Track</h3>
      <ul>
        <li>Starts with an early discovery phase to define the product challenge and create a shared client understanding</li>
        <li>Includes a short 4-6 week cycle of cross-functional teamwork to elaborate upon each prioritized epic</li>
        <li>Validates conceptual wireframes and prototypes with clients, users and stakeholders</li>
      </ul>

      <h3 class="spacer-top-xl">Detailed Design Track</h3>
      <ul>
        <li>Designers add and elaborate upon details to create conceptual prototypes needed for development</li>
        <li>Designs are delivered in a consumable format (HTML), which reduces the need for heavily documented handoffs</li>
      </ul>

      <h3 class="spacer-top-xl">Agile Delivery Track</h3>
      <ul>
        <li>Dedicated designers and UX developers participate in daily scrum activities</li>
        <li>UX developers integrate their front-end pieces with business logic and service layers</li>
      </ul>



      <div class="row" >
        <div class="col-md-8">
          <h1 id="ux-methods" class="doc-head">UX Methods</h1>
        </div>
      </div>

      <h3 class="spacer-top-xl">Lean Canvas</h3>

      <p>The Lean Canvas is a framework for project teams of any size to ensure that their product plan is thorough, considered, user-centered and lean.</p>

      <img class="img-responsive spacer-top-lg spacer-bottom-sm" src="modules/resources/assets/images/strategy/lean-canvas.jpg" alt="" />

      <p>See also <a href="http://leanstack.com/the-lean-stack/" target="_blank">leanstack</a></p>



      <h3 class="spacer-top-xl">Assumptions Worksheet</h3>
      <p>The Assumptions Worksheet is a Lean UX method that declares assumptions that help inform decisions. Declaring your assumptions allows your team to create a common starting point. By doing this as a team, you give every team member the opportunity to voice his or her opinion on how best to solve the problem. It also reveals the team’s divergence of opinions and also exposes a broad set of possible solutions.</p>


      <h4>Business Assumptions</h4>

      <ol>
        <li>I believe my customers have a need to <span class="fillin-blank"></span>.</li>
        <li>These needs can be solved with <span class="fillin-blank"></span>.</li>
        <li>My initial customers are (or will be) <span class="fillin-blank"></span>.</li>
        <li>The #1 value a customer wants to get out of my service is <span class="fillin-blank"></span>.</li>
        <li>The customer can also get these additional benefits <span class="fillin-blank"></span>.</li>
        <li>I will acquire the majority of my customers through <span class="fillin-blank"></span>.</li>
        <li>I will make money by <span class="fillin-blank"></span>.</li>
        <li>My primary competition in the market will be <span class="fillin-blank"></span>.</li>
        <li>We will beat them due to <span class="fillin-blank"></span>.</li>
        <li>My biggest product risk is <span class="fillin-blank"></span>.</li>
        <li>We will solve this through <span class="fillin-blank"></span>.</li>
        <li>What other assumptions do we have that, if proven false, will cause our business/project to fail? <span class="fillin-blank"></span></li>
      </ol>

      <h4>User Assumptions</h4>

      <ol>
        <li>Who is the user?</li>
        <li>Where does our product fit in his work or life?</li>
        <li>What problems does our product solve?</li>
        <li>When and how is our product used?</li>
        <li>What features are important?</li>
        <li>How should our product look and behave?</li>
      </ol>

      <p>Source: <em>Lean UX: Applying Lean Principles to Improve User Experience</em></p>




      <h3 class="spacer-top-xl">Strategy Canvas</h3>

      <p>The strategy canvas is a central diagnostic tool and an action framework. It graphically captures, in one simple picture, the current strategic landscape and the future prospects.</p>

      <p>The strategy canvas serves two purposes:</p>
      <ul>
        <li>To capture the current state of play in the market space, clarifying factors that the industry competes on and where the competition currently invests</li>
        <li>To propel users to action by reorienting their focus</li>
      </ul>

      <img class="img-responsive spacer-top-lg spacer-bottom-sm" src="modules/resources/assets/images/strategy/strategy-canvas.jpg" alt="" />
      <p>See also <a href="https://www.blueoceanstrategy.com/tools/strategy-canvas/" target="_blank">strategy canvas</a></p>



      <h3 class="spacer-top-xl">Experience Maps</h3>

      <p>Experience mapping is a process of capturing and communicating complex customer interactions. The activity of mapping builds knowledge and consensus across your organization, and the map helps build seamless customer experiences.</p>

      <img class="img-responsive spacer-top-lg spacer-bottom-sm" src="modules/resources/assets/images/strategy/experience_maps.png" alt="" />



      <h3 class="spacer-top-xl">Personas &amp; Proto-personas</h3>

      <p>Personas are fictional yet realistic descriptions of your software’s users. In most cases, personas are synthesized from data collected from team observations of users.</p>

      <p>Proto-personas are based on secondary research and the team's educated guess of who they should be designing for.</p>

      <p>Personas typically include:</p>

      <ul>
        <li>Social and demographic characteristics</li>
        <li>Needs, desires, goals</li>
        <li>Habits (consumer habits, behavior) </li>
        <li>Expertise </li>
        <li>Cultural background</li>
        <li>Motivations</li>
      </ul>

      <img class="img-responsive spacer-top-lg spacer-bottom-sm" src="modules/resources/assets/images/strategy/persona.jpg" alt="" />
      <p class="small"><em>A person for Spectrum</em></p>

      <h5 class="spacer-top-lg">Download persona examples:</h5>

      <ul>
        <li><a href="modules/resources/assets/images/strategy/spectrum_personas.pdf" download="spectrum_personas.pdf"><i class="fa fa-file-pdf-o"></i> Spectrum</a></li>
        <!-- <li><a href="" download=""><i class="fa fa-file-pdf-o"></i> Spectrum Spatial</a></li> -->
        <li><a href="modules/resources/assets/images/strategy/connect_plus_shipping_personas.pdf" download="connect_plus_shipping_personas.pdf"><i class="fa fa-file-pdf-o"></i> Connect+ Shipping Personas</a></li>
        <li><a href="modules/resources/assets/images/strategy/horizon_persona_beginning_of_line_equipment.pdf" download="horizon_persona_beginning_of_line_equipment.pdf"><i class="fa fa-file-pdf-o"></i> Horizon Beginning of the Line Equipment</a></li>
        <li><a href="modules/resources/assets/images/strategy/horizon_persona_middle_of_line_equipment.pdf" download="horizon_persona_middle_of_line_equipment.pdf"><i class="fa fa-file-pdf-o"></i> Horizon Middle of the Line Equipment</a></li>
        <li><a href="modules/resources/assets/images/strategy/horizon_persona_saas.pdf" download="horizon_persona_saas.pdf"><i class="fa fa-file-pdf-o"></i> Horizon SaaS</a></li>
      </ul>



      <h3 class="spacer-top-xl">Design Studio</h3>

      <p>A design studio workshop brings a team together to work through the details of a design challenge. It's a great way to quickly move a design forward, while also getting everyone on the same page for where the design is going and how you'll get there.</p>

      <img class="img-responsive spacer-top-lg spacer-bottom-sm" src="modules/resources/assets/images/strategy/design-studio.jpg" alt="" />
      <p>See also <a href="http://www.uie.com/articles/design_studio_workshop/" target="_blank">UIE Design Studio Workshop</a></p>


</div>
