<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Resources</div>
          <h1>Roadmap</h1>
        </div>
      </div>
    </div>
  </div>

  <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a href="" du-smooth-scroll="web">Web</a></li>
            <!-- <li><a href="" du-smooth-scroll="mobile">Mobile</a></li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="container">

  <!-- Web -->
  <div class="row" >
    <div class="col-md-8">
      <h1 id="web" class="doc-head">Web</h1>
    </div>
  </div>


  <div class="row spacer-top-xl">
    <div class="col-md-12">

      <p>This roadmap shows the items planned for each upcoming release. Scroll to reveal more items. To see an item’s details, just click on it.</p>

      <div class="embed-responsive embed-responsive-16by9 productplan">
        <iframe class="embed-responsive-item" src="https://app.productplan.com/p/m-B5tRfJ8l6gzXoVbgCIEMJnu6A4n_a_"></iframe>
      </div>
    </div>
  </div>


  <!-- Mobile -->
  <!-- <div class="row">
    <div class="col-md-8">
      <h1 id="mobile" class="doc-head">Mobile</h1>
    </div>
  </div>


  <div class="row spacer-top-xl">
    <div class="col-md-12">

      <p>This roadmap shows the items planned for each upcoming release. Scroll to reveal more items. To see an item’s details, just click on it.</p>

      <div class="embed-responsive embed-responsive-16by9 productplan">
        <iframe class="embed-responsive-item" src="https://app.productplan.com/p/Nq7oi_xaaOnJ12phYBnTXFL7ap43sPuF"></iframe>
      </div>
    </div>
  </div> -->


</div>
