<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Resources</div>
          <h1>Gallery</h1>
        </div>
      </div>
    </div>
  </div>

  <!-- <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a href="" du-smooth-scroll="gray" offset="125">Gray Sidebar</a></li>
            <li><a href="" du-smooth-scroll="white">White Sidebar</a></li>
            <li><a href="" du-smooth-scroll="sectioned">Sectioned</a></li>
            <li><a href="" du-smooth-scroll="collapsible">Collapsible</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->

</div>

<div class="container">

  <div class="row spacer-top-xl">
    <div class="col-md-8">
      <p>Our gallery of examples shows the Design System applied to our products. It’s hosted in InVisionApp.
      </p>
      <p>
        <a href="https://invis.io/YE4PVAZ94" target="_blank">Go to the gallery &gt;</a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <p>
        <a href="https://invis.io/YE4PVAZ94" target="_blank"><img alt="Invision" class="img-responsive" src="modules/resources/assets/images/gallery-thumbs.png"/></a>
      </p>
      <p>
        You don’t need to be registered for (or signed in to) an Invision account to view or comment on the gallery, although you will be asked to provide your name and email address before you can view the gallery.
      </p>

      <p>If you’d like to attach comments or questions to gallery screens, just turn on Invision’s comments mode in the lower-right-hand corner of the Invision screen.
      </p>
    </div>
  </div>

</div>
