<div class="container">


  <div class="row">
    <div class="col-md-8">
      <h1 id="brand" class="doc-head">Brand</h1>
    </div>
  </div>


  <div class="row">
    <div class="col-md-8">
      <p>As with everything else we put out into the world, our products use our brand as their foundation so they can deliver on what our brand promises. While much of this system includes brand-specific guidance, it&rsquo;s a good idea to get familiar with all aspects of our <a href="http://152.144.193.74:8503/content/pbdam/en.html" target="_blank">Brand Guidelines</a> before you begin building your product. Here are some places to start:</p>
      <ul>
        <li><a href="http://152.144.193.74:8503/content/pbdam/en/guidelines/strategy/Brand-strategy.html" target="_blank">Strategy</a> &mdash; a broad view our brand, its strategy, and why the brand matters</li>
        <li><a href="http://152.144.193.74:8503/content/pbdam/en/guidelines/strategy/Brand-strategy/brand-personality.html" target="_blank">Personality</a> &mdash; the four essential qualities that make our brand unique</li>
        <li><a href="http://152.144.193.74:8503/content/pbdam/en/guidelines/voice.html" target="_blank">Voice</a> &mdash; how our brand&rsquo;s personality is expressed in words (see also: writing in this system)</li>
        <li><a href="http://152.144.193.74:8503/content/pbdam/en/guidelines/visuals.html" target="_blank">Visuals</a> &mdash; an introduction to the core visual elements of our brand</li>
      </ul>

    </div>
  </div>



</div>
