<div class="container">


  <div class="row">
    <div class="col-md-8">
      <h1 id="design" class="doc-head">Design</h1>
    </div>
  </div>


  <div class="row">
    <div class="col-md-8">
      <p>When designing and developing our products, we follow five guiding principles:</p>

      <h3>Keep Things Fresh</h3>
      <p>A product&rsquo;s look is a major factor in how it&rsquo;s perceived. If it looks modern, clean and uncluttered then it will be perceived as contemporary and useful. Our products are:</p>
      <ul>
        <li>Modern</li>
        <li>Up to date</li>
        <li>Trend aware</li>
        <li>Iterated over time</li>
        <li>Continually improved</li>
        <li>Designed with the future in mind</li>
      </ul>


      <h3>Stay Relevant and Current</h3>
      <p>Technology and trends change rapidly. To stay relevant our designs must respond to the ever-evolving demands of screens, devices and platforms by being:</p>
      <ul>
        <li>Smart</li>
        <li>Responsive</li>
        <li>Device agnostic</li>
        <li>Architected quickly</li>
        <li>Designed to support emerging technologies</li>
      </ul>


      <h3>Put the User in Control</h3>
      <p>The more controls there are on the screen, the farther away we place users from what matters. So, instead, we help them interact directly with content. We want to help them interact directly with content, so they spend less time fiddling with tools and more time achieving their goals. To do this, we design products that are:</p>
      <ul>
        <li>Simple</li>
        <li>Efficient</li>
        <li>Learnable and discoverable</li>
        <li>Designed to put content first</li>
        <li>Written using natural language</li>
      </ul>


      <h3>Pay Attention to Details</h3>
      <p>We delight our customers by surprising them with unexpected moments. Achieving this means sweating the small stuff in order to create products that are:</p>
      <ul>
        <li>Artful</li>
        <li>Detailed</li>
        <li>Delightful</li>
        <li>Of sound design</li>
        <li>Micro-interactive</li>
      </ul>


      <h3>Deliver on Our Brand&rsquo;s Promise</h3>
      <p>Marketing makes the promise &mdash; but it&rsquo;s the designers who need to deliver the value. The products we create are used by our customers every day, which ultimately shapes how they think of us. So our products need to be:</p>
      <ul>
        <li>Intuitive</li>
        <li>Uplifting</li>
        <li>Confident</li>
        <li>Perception managed</li>
        <li>Supportive of our core brand</li>
      </ul>

    </div>
  </div>



  </div>
