<div class="container">


  <div class="row">
    <div class="col-md-8">
      <h1 id="experience" class="doc-head">Experience</h1>
    </div>
  </div>


  <div class="row">
    <div class="col-md-8">
      <p>We strive to design experiences that are:</p>

      <h3>Usable</h3>
      <p>The best products stay out of the user&rsquo;s way, so they can complete tasks, find solutions and gain insights with a minimal outlay of time and effort. When it comes to choosing the right design or development asset for fulfilling a user&rsquo;s need in the moment, you have lots of options. Usability relies on making the cleanest, most logical and most appropriate choice, every time.</p>

      <h3>Smart</h3>
      <p>Our products should reflect our knowledge of our customers. At the screen level this means:</p>
      <ul>
        <li>Anticipating their questions and answering them</li>
        <li>Using terminology that reflects their point of view</li>
        <li>Providing important information when and where they&rsquo;re apt to need it most</li>
        <li>Using patterns and workflows that support how they&rsquo;re likely to approach a task</li>
      </ul>

      <h3>Contemporary</h3>
      <p>Our customers expect us to keep up with technology trends and user interface standards &mdash; and with their needs. Staying competitive means presenting a modern face to the world through our digital products, ones that:</p>
      <ul>
        <li>Use the latest available responsive web and mobile platform components</li>
        <li>Speak to our customers in a voice that&rsquo;s warm, conversational and human</li>
        <li>Align with other Pitney Bowes properties, such as our web presence and offline communications products</li>
      </ul>

    </div>
  </div>



  </div>
