<div class="container">


  <div class="row">
    <div class="col-md-8">
      <h1 id="overview" class="doc-head">Overview</h1>

      <p class="doc-lede">A superb customer experience requires thoughtfully made products, created using an alchemy of design, experience and brand. </p>

      <p class="doc-lede">Our Design System, led by Global User Experience, can help you achieve that mix. The system isn’t just for those who are tasked with building our digital products.  It&rsquo;s for everyone in the company to use as a resource and standard to follow.</p>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Design System Philosophy</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <p>Our system is built to help you achieve excellence in product design, with an approach that is:</p>

      <h3>Consistent</h3>
      <p>All of our digital products should reflect the look, feel and voice of Pitney Bowes. These standards will help you achieve consistency in your responsive web and mobile products &mdash; which helps us elevate our brand and helps our users get their work done.</p>

      <h3>Flexible</h3>
      <p>While consistency is important, so are variety and freshness. That's why our Design System provides options that allow us to keep our line of products from feeling monotonous, while giving creative latitude to designers, developers and user experience professionals.</p>

      <h3>Modular</h3>
      <p>Our extensible, modular design and development assets are defined, grouped and categorized across different areas of product development. Guidance shows actual, functioning samples for most of these assets and, in many cases, how they interact with each other.</p>

      <h3>Practical</h3>
      <p>Workflows are simplified, and development sped up, thanks to code that&rsquo;s ready to drop into your development environment. Direct links to assets on Bootstrap and elsewhere take the guesswork out of making design decisions and implementing them correctly.</p>
    </div>
  </div>

  </div>
