<div class="container">

  <div class="row">
    <div class="col-md-8">
      <h1 id="c3-charts" class="doc-head">C3.js </h1>

      <a class="more-info plugin" href="https://github.com/GraFiddle/angular-chart" target="blank">angular-chart v0.3.2</a>
      <a class="more-info plugin" href="" target="blank">D3 v3.5.0</a>
      <a class="more-info plugin" href="http://c3js.org/" target="blank">C3 v~0.4.x</a>

    </div>
  </div>



  <!-- PIE -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Pie</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-4">
      <figure>
        <figcaption>Multiple Category Pie</figcaption>
        <!-- <h2 class="section-divider">Object Name</h2> -->
        <angular-chart options="c3.pieColor5.options"></angular-chart>
      </figure>
    </div>

    <div class="col-xs-12 col-md-4">
      <figure>
        <figcaption>Single Category Pie</figcaption>
        <!-- <h2 class="section-divider">Object Name</h2> -->
        <angular-chart options="c3.pieMono5.options"></angular-chart>
      </figure>
    </div>
  </div>




  <!-- DONUTS -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Donut</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-4">
      <figure>
        <figcaption>Multiple Category Donut</figcaption>
        <!-- <h2 class="section-divider">Object Name</h2> -->
        <angular-chart options="c3.donutColor5.options"></angular-chart>
      </figure>
    </div>

    <div class="col-xs-12 col-md-4">
      <figure>
        <figcaption>Single Category Donut</figcaption>
        <!-- <h2 class="section-divider">Object Name</h2> -->
        <angular-chart options="c3.donutMono5.options"></angular-chart>
      </figure>
    </div>
  </div>



  <!-- BAR -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Bar</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-4">
      <figure>
        <figcaption>Multiple Category Bar</figcaption>
        <!-- <h2 class="section-divider">Object Name</h2> -->
        <angular-chart options="c3.barColor8.options"></angular-chart>
      </figure>
    </div>

    <div class="col-xs-12 col-md-4">
      <figure>
        <figcaption>Single Category Bar Chart</figcaption>
        <!-- <h2 class="section-divider">Object Name</h2> -->
        <angular-chart options="c3.barMono8.options"></angular-chart>
      </figure>
    </div>
  </div>

  <div class="row spacer-top-lg">
    <div class="col-xs-12 col-md-4">
      <figure>
        <figcaption>Multiple Category Bar &mdash; Two Groups Over Time</figcaption>
        <!-- <h2 class="section-divider">Object Name</h2> -->
        <angular-chart options="c3.barColor5Multiple.options"></angular-chart>
      </figure>
    </div>

    <div class="col-xs-12 col-md-4">
      <figure>
        <figcaption>Single Category Bar &mdash; Two Groups Over Time</figcaption>
        <!-- <h2 class="section-divider">Object Name</h2> -->
        <angular-chart options="c3.barMono5Multiple.options"></angular-chart>
      </figure>
    </div>
  </div>




  <!-- GAUGE -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Gauge Charts</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-4">
      <figure>
        <figcaption>Gauge </figcaption>
        <!-- <h2 class="section-divider">Object Name</h2> -->
        <angular-chart options="c3.gauge.options"></angular-chart>
      </figure>
    </div>

  </div>



  <!-- AREA -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Area </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-8">
      <figure>
        <figcaption>Area Graph &mdash; With 2 Categories, Comparing Data Over Time (no more than two categories)</figcaption>
        <!-- <h2 class="section-divider">Object Name</h2> -->
        <angular-chart options="c3.area.options"></angular-chart>
      </figure>
    </div>

  </div>


</div>
