<div class="container">

  <div class="row">
    <div class="col-md-8">
      <h1 id="color-applications" class="doc-head">Color Applications</h1>
      <p class="doc-lede">We&rsquo;ve designed our chart palettes to support brand consistency and to structure a uniform display of information across all our products.</p>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-md-12">
      <figure>
        <figcaption>When representing multiple data categories use our different hues in the following order</figcaption>
        <img class="img-responsive spacer-top-md" src="modules/graphs/assets/images/color_application_multiple.png" alt=""/>
      </figure>
    </div>
  </div>

  <div class="row spacer-top-lg">
    <div class="col-md-12">
      <figure>
        <figcaption>When representing a single data category use up to 6 tints of a single color</figcaption>
        <img class="img-responsive spacer-top-md" src="modules/graphs/assets/images/color_application_tints.png" alt=""/>
      </figure>
    </div>
  </div>

</div>
