
<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Elements</div>
          <h1>Charts</h1>
        </div>
      </div>
    </div>
  </div>

  <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a href="" du-smooth-scroll="color-applications" offset="125">Color Applications</a></li>
            <li><a href="" du-smooth-scroll="c3-charts" >C3.js</a></li>
            <li><a href="" du-smooth-scroll="chartjs">ChartJS</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>



<div ui-view="colors"></div>
<div ui-view="c3charts"></div>
<div ui-view="chartjs"></div>
