<div class="modal-body">
    <section class="container-fluid" ng-hide="confirm">
        <div class="row">
            <div class="text-right pull-right">
                <a href="" ng-click="close()" class="modal__close"><span class="icon-close dark-gray"></span></a>
            </div>

            <div class="container-fluid col-xs-12">

                    <h2 class="header--sm no-margin-top">Give account access to a colleague</h2>
                    <p class="text-large spacer-bottom-md">Enter their email address below to send them an invitation.</p>
                    <p class="text-large spacer-bottom-md">They will receive access to the same accounts that you have currently, but not to your profile or other personal information.</p>

                <form id="modalForm" name="modalForm" novalidate role="form">
                    <div class="form-group required">
                        <label for="email">Email Address</label>
                        <input type="email" name="email" required class="form-control" ng-model="user.email"
                               ng-class="{ 'error' : (form.email.$invalid && form.email.$touched) || user.status == 'registered' || user.status == 'onboarded' || user.status == 'inactive' || user.status == 'active' }" id="email" />
                        <div ng-show="form.$submitted || form.email.$touched">
                            <p class="error" ng-show="form.email.$error.required">
                                Email is empty
                            </p>
                            <p class="error" ng-show="form.email.$error.email">
                                Invalid email format
                            </p>
                            <span class="icon-alert-circle error-icon" ng-show="form.email.$invalid && form.email.$touched"></span>
                        </div>
                        <!--div ng-show="form.$submitted" ng-hide="form.email.$invalid && form.email.$touched">
                            <p class="error" ng-if="user.status == 'inactive'">
                                There is already an account registered to this email.
                                <br/><br/>
                                We recently sent you an email to: {{user.email}}. The email contains a link to verify your identity. Please check your email and click the link to complete your registration. <a href="#" ng-click="resendEmail2(user)">Resend Email</a>
                            </p>
                            <p class="error" ng-if="user.status == 'active' || user.status == 'registered'">
                                There is already an account registered to this email. <a ui-sref="account.login">Sign In Now</a>
                            </p>
                            <p class="error" ng-if="user.status == 'onboarded'">
                                We recently sent you an email to: {{user.email}}. The email
                                contains a link to verify your identity. Please check your email and click
                                the link to complete your registration. <a href="#" ng-click="resendEmail2(user)">Resend Email</a>
                            </p>
                            <span class="icon-alert-circle error-icon" ng-if="user.status == 'inactive' || user.status == 'onboarded' || user.status == 'active' || user.status == 'registered'"></span>
                        </div-->
                    </div>
                    <div class="text-center-xs">
                        <button class="rounded-button primary" type="submit" ng-click="next.invitationsent(modalForm)"  ng-disabled="modalForm.$invalid" ng-class="{ gray:modalForm.$invalid }">
                            Send Invitation
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section class="container-fluid"  ng-show="confirm">
        <div class="modal-header no-borders">
            <div class="container-fluid">
                <div class="row text-right pull-right">
                    <a href="" ng-click="close()" class="modal__close"><span class="icon-close dark-gray"></span></a>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="header--sm no-margin-top">Your invitation has been sent</h2>
                        <p class="text-large spacer-bottom-md">Your colleague will receive an email containing a personalized registration link that will quickly get them set up to use PitneyBowes.com.</p>
                     </div>
                </div>
            </div>
        </div>
        <div class="container-fluid text-center-xs">
            <button class="rounded-button primary" type="submit" ng-click="close()">
                Close
            </button>
        </div>
    </section>
</div>